*{
    padding: 0%;
    margin: 0%;
}

.background{
    background-image: url(img1.jpg);
    width: 100%;
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: fixed; */
    background-attachment: scroll;
}
.prg {
    color: rgb(231, 88, 17);
    width: 100%;
    height: 20px;
    display: flex;
    font-size: 5em;
     text-align:center;
    font-weight: bolder;
    margin-left: 52%;
    /* margin-top: 240px; */
}
.prg:hover{
    color: white;
}

.prg1 {
    color: rgb(253, 253, 253);
    width: 100%;
    display: flex;
    font-size: 15px;
     text-align:center;
    font-weight: bolder;
    margin-left: 62%;
    margin-top: 100px;
}
.prg1:hover{
    color: rgb(212, 19, 19);
}
button{
    background:  red;
    color: wheat;
     font-size: large;
     margin-left:70%;
     margin-top: 47px;   
      height: 43px;
      font-weight: bold;
      height: 50px;
     width: 200px;
     border: none;
     text-decoration: none;
     border-radius: 10px;
}

button:hover{
    color: black;
    background-color: yellowgreen;
}
.dei{
    background-color: antiquewhite;
    width: 100%;
    height: 500px;
} 
.h1 {
   font-size: 0.2in;
    
     margin-left: 50px;
     
 }