@media(max-width:450px){
    html{
        font-size: 50%;
    }
    .box-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 1.5rem;
    }
    .Protflio .box-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 1.5rem;
    }
}