@media(max-width:991px){
    html{
        font-size: 55%;
    }
    headr{
        padding: 2rem;
    }
    section{
        padding: 2rem ;
    }
    .box-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1.5rem;
    }
}