*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.reg-form {
    border: 3px solid #f70000;
    height: auto;
    width: 500px;
    margin: 50px auto;
    padding: 10px;
    background: aliceblue;
    border-style: dotted;
}
h1 {
    text-align: center;
    font-family: cursive;
    color: firebrick;
    transition: all ease 1s;
}

h1:hover{
    font-size: 15px;
    color: black;
    text-transform:capitalize;
    transform: rotate(360deg);
}
form{
    padding: 27px 0px;

}
.row{
    
    padding: 10px;
    display: flex;
}
.col{
    text-align: right;
    padding: 5px;
    flex: 1;
}
.col-1{
    padding: 5px;
    flex: 2;
}

input[type="text"],[type="password"]{
    height: 25px;
    width: 300px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid blueviolet;
    padding:5px;
}
select{
    height: 25px;
    width: 250px;
    border: 1px solid black;
}
.btn1{
border-radius: 10px;
border: none;
background-color: rgb(167, 11, 107);
color: white;
width: 100px;
height: 40px;
font-weight: 700;
transition: all .1s ease-in-out;
}
p label{
    color: green;
}

p{
    color: red;
}