@media (max-width:576px) {
    header .header-top .header-nav .bars {
        display: block;
        flex: 0;
        padding-top: 20px;
        padding-left: 13px;
    }
  header .header-top .header-nav {
    display: flex;
    padding: 3px;
}
.main-heder header .header-top .header-nav .nav {
    padding: 13px;
}
    header .header-top .header-nav.bars .logo {
  padding-left: 54px;
    }
    header .header-top .header-nav .logo {
        padding: 13px 114px 0px 139px;
    }
    header .header-top .header-nav .logo img {
        height: 34px;
        width: auto;
    }
  header .header-nav .logo h1 {
    font-size: 22px;
  
  }
 .main-heder header .header-top .header-nav .bell img {
    height: 37px;
    border-radius: 50%;
    width: 53px;
    background-color: rgb(136, 117, 117);
}

  header .header-top .header-nav .logo  p {
    font-size: 13px;
    padding-left: 48px;
  }
  header .header-top  .header-nav .nav .mid-nav ul li {
    padding: 10px 62PX;
    font-size: 20px;
    FONT-FAMILY: SANS-SERIF;
  }
  header .header-nav .nav .search {
      display: NONE;
    }
    header .header-nav .nav .mid-nav {
      flex: 1;
      display: NONE;
    }
    header .header-nav .btn button {
      display: none;
    }
    .header-bottom {
        padding: 15px 29px;
    }
  header .header-top .header-nav .mid-nav .logo-visi {
    padding-top: 50px;
  }
  header .header-top .header-nav .mid-nav .logo-visi .logo img{
  width: 30px;
  height: auto;
  }
  header .header-top .header-nav .mid-nav .logo-visi .logo h1{
    font-size: 18px; 
  }
  header .header-top .header-nav .mid-nav .logo-visi .logo p{
    font-size: 15px;
    padding-left: 15px;
  }
  
  header .header-nav .nav .menu-list {
    display: block;
    height: 3170px;
    width: 300px;
    background-color: #4E5053;
    position: absolute;
    left: -340px;
    top: 0;
    padding-top: 30px;
    z-index: 1;
    transition: 3s ease all;
  }
  header .header-nav .nav .menu-list ul {
    display: flex;
    flex-direction: column;
  }
  header.header-top .header-nav .bell img {
      height: 34px;
      border-radius: 60%;
      width: 40px;
      background-color: black;
  }
  .header-bottom .header-b-val {
    display: flex;
    GAP: 10PX;
  }
  
  .header-bottom .header-b-val .input-search input {
    height: 45px;
    width: 385px ;
    border-radius: 10px;
    border: none;
    background: gainsboro;
    padding: 0 38px;
    font-size: 20px;
  }
  .header-bottom .header-b-val .input-search span {
    position: absolute;
    top: 14px;
    left: 9px;
    font-size: 14px;
    color: gray;
  }
 .header-bottom .btn1 button {
    width: 114px;
    height: 44px;
    border-radius:10px;
    border: none;
    background: #FDC7B0;
    PADDING-BOTTOM: 48PX;
    font-size: 15px;
}
.header-bottom .btn1 button  p{
margin:0;
}
.header-bottom .btn1 button h2 {
    font-size: 19px;
    font-weight: bold;
}
main  section {
    margin: 10px ;
}
main  section .box-top .box-main {
    padding: 4px 9px 0 21px;
    gap: 70px;
}
.box-main .box2 {
    display: none;
}
.box-main .box3 {
    display: none;
}
.box-main .box4 {
    display: none;
}
.box-main2 .online-shop2 {
    display: none;
}
.box-main2 .online-shop3 {
    display: none;
}
.box-main2 .online-shop4 {
    display: none;
}
.top-line .line-main3 .line-5 {
    display: none;
}
.top-line .line-main3 .line-6 {
    display: none;
}
.top-line .line-main3 .line-7 {
    display: none;
}
.lifeline-main-4 .lifeline-4 {
    display: none;
}
.lt-line {
    display: none;
}
main  section  .box-main2 {
    padding: 26px 9px 0 20px;
    gap: 70px;
}
main  section  .top-line .line-main3 {
    gap: 70px;
    padding: 26px 9px 0 20px;
}
main  section   .last-line {
    padding: 0;
}
footer .footer .footer-grid {
    grid-template-columns: repeat(1,1fr);
}

.abt-link {
    display: none;
}
.read {
    display: none;
}
.page {
    display: none;
}   
.connect {
    display: none;
}
footer .footer {
    padding-top: 6px;
}
.main-about .About img{
    width: 50px;
    height: AUTO;
}
footer .footer  .Download h2 {
    padding: 2px 36px;
    font-size: 21px;
}

footer .footer  .Download .app-link {
    padding: 10px 36px;
}
footer .footer  .Download  .app-link img{
    width: 130px;
}
footer .footer  .Subscribe {
    PADDING: 0PX 19PX;
}
footer .footer  .Subscribe h2 {
    padding: 0 50px;
    font-size: 21px;
} 

footer .footer .Subscribe p {
    padding-top: 7px;
    font-size: 12px;
}
footer .footer .email-btn button {
    background: #FDC7B0;
    width: 96px;
    height: 36px;
    border: none;
    font-size: 20px;
}
footer .footer  .email-btn {
    padding: 0 73px;
}
.footer-bottom {
    padding-top: 18px;
}
.footer-bottom .copy p {
    font-size: 13px;
}

.footer-bottom .copy a {
    color: black;
    font-family: sans-serif;
    font-size: 14px;
}


}












  
@media (Min-width:576px){
    header .header-top .header-nav {
        display: flex;
        padding: 10px;
    }
    header .header-top .header-nav .bars {
        display: block;
        flex: 1;
        padding-top: 17px;
    }
    
  
    header .header-top .header-nav.bars .logo {
  padding-left: 54px;
    }
    header .header-top .header-nav .logo {
        padding: 0 141px 0 126px;
    }
    header .header-top .header-nav .logo img {
      height: auto;
      width: auto;
  } 
  header .header-nav .logo h1 {
    font-size: 22px;
  
  }
  header .header-top .header-nav .logo  p {
    font-size: 13px;
    padding-left: 48px;
  }
  header .header-top  .header-nav .nav .mid-nav ul li {
    padding: 10px 62PX;
    font-size: 20px;
   
  }
  
  header .header-nav .nav .search {
      display: NONE;
    }
    header .header-nav .nav .mid-nav {
      flex: 1;
      display: NONE;
    }
    header .header-nav .btn button {
      display: none;
    }
  .header-bottom {
      padding: 15px 10px;
  }
  header .header-top .header-nav .mid-nav .logo-visi {
    padding-top: 50px;
  }
  header .header-top .header-nav .mid-nav .logo-visi .logo img{
  width: 30px;
  height: auto;
  }
  header .header-top .header-nav .mid-nav .logo-visi .logo h1{
    font-size: 18px; 
  }
  header .header-top .header-nav .mid-nav .logo-visi .logo p{
    font-size: 15px;
    padding-left: 15px;
  }
  .main-heder  header .header-top  .header-nav .bell img {
    height: 44px;
    border-radius: 50%;
    width: 56px;
    background-color: rgb(136, 117, 117);
}
  header .header-nav .nav .menu-list {
    display: block;
    height: 1230px;
    width: 346px;
    background-color: #4E5053;
    position: absolute;
    left: -340px;
    top: 0;
    padding-top: 30px;
    z-index: 1;
    transition: 3s ease all;
  }
  header .header-nav .nav .menu-list ul {
    display: flex;
    flex-direction: column;
  }
  header.header-top .header-nav .bell img {
      height: 34px;
      border-radius: 60%;
      width: 40px;
      background-color: black;
  }
  .header-bottom .header-b-val {
    display: flex;
    GAP: 12px;
  }

  .main-heder header .header-top .header-nav .nav {
    padding: 0;
}
  
  .header-bottom .header-b-val .input-search input {
    height: 45px;
    width: 405px;
    border-radius: 10px;
    border: none;
    background: gainsboro;
    padding: 0 38px;
    font-size: 18px;
  }
  .header-bottom .header-b-val .input-search span {
    position: absolute;
    top: 14px;
    left: 9px;
    font-size: 14px;
    color: gray;
  }
  .header-bottom .btn1 button {
    width: 109px;
    height: 44px;
    border-radius:10px;
    border: none;
    background: #FDC7B0;
    PADDING-BOTTOM: 48PX;
    font-size: 15px;
}
.header-bottom .btn1 button  p{
margin:0;
}
.header-bottom .btn1 button h2 {
    font-size: 19px;
    font-weight: bold;
}
.header-bottom {
    padding: 15px 21px;
}
main section {
    margin: 20px 0;
}
main section  .box-top .box-main {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding: 0 7px 0 23px;
    gap: 27px;
}

main section  .box-main .box3 {
    display: none;
}
main section  .box-main .box4 {
    display: none;
}
.box-main2 .online-shop3 {
    display: none;
}
.box-main2 .online-shop4 {
    display: none;
}
.top-line .line-main3 .line-6 {
    display: none;
}
.top-line .line-main3 .line-7 {
    display: none;
}
.lifeline-main-4 .lifeline-4 {
    display: none;
}
.lifeline-main-4 .lifeline-5 {
    display: none;
}
.lt-line {
    display: none;
}
main section .box-main2 {
    padding: 28px 9px 0 25px;
    gap: 25px;
}

main section .top-line .line-main3 {
    padding: 30px 9px 0 27px;
    gap: 27px;
}

main section .box-img {
    padding: 13px 32px;
}
main section .cont h2 {
    font-size: 23px;
    padding-left: 32px;
}
main section  .cont .btn {
    padding: 9px 12px;
    padding-bottom: 11px;
}

main section .box-main .box {
    width: 157px;

}
main section .box-main .box1 {
        width: 157px;

}
main section .box-main .box2 {
    width: 157px;

}
main section .cont .btn {
    padding: 9px 32px;
    padding-bottom: 11px;
}
main section .box-main .btn button {
    width: 95px;
    height: 37px;
    font-size: 17px;
}
.box-line2 .box-main2 .shop-banner {
    padding: 8px 31px;
}
.box-line2 .box-main2  .online-cont .AJIO {
    font-size: 22px;
    padding-left: 38px;
}
.box-line2 .box-main2   .online-cont .onlineshop-btn {
    padding: 6px 30px;
    padding-bottom: 11px;
}
.box-line2 .box-main2  .onlineshop-btn button {
    width: 95px;
    height: 37px;
    font-size: 17px;
} 

.box-line2 .box-main2 .online-shop {
    width: 157px;
}
.box-line2 .box-main2 .online-shop1 {
    width: 157px;
}
.box-line2 .box-main2 .online-shop2 {
    width: 157px;
}

.box-line2 .box-main2 .online-cont h2 {
    font-size: 22px;
    padding-left: 20px;
}
.top-line .line-main3
.line3-img {
    PADDING: 6PX 23PX;
}
.top-line .line-main3
.line-cont h2 {
    font-size: 23px;
    padding-left: 20px;
}
.top-line .line-main3
.cont-btn button {
    width: 95px;
    height: 37px;
    font-size: 17px;
}
main section  .top-line .line-main3 .line-3 {
    width: 154px;
  
} 
main section  .top-line 
.cont-btn {
    padding: 8px 21px;
    padding-bottom: 11px;
}
main section  .top-line 
.big-img {
    padding: 25px 17px;
}
main section  .top-line 
.big-img img{
    width: 110px;
}

main section  .top-line  .line-main3 .line-4 {
width: 154px;
}
main section  .top-line  .line-main3 .line-5 {
    width: 154px;
    }
    main section .lifeline-main-4  {
        padding: 0;
    }
    .ft  footer {
        padding: 10px 158px;
        background: black;
    }
   .ft footer .footer-grid {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .ft footer .footer-grid  .abt-link {
        display: none;
    }

    .ft footer .footer-grid   .read {
        display: none;
    }

    .ft footer .footer-grid
    .page {
        display: none;
    }
    .connect {
        display: none;
    }
    .ft footer  .footer {
        padding-top: 13px;
    }
    .main-about .About img{
        width: 40px;
        height:  40px;
    }

    .ft footer .Download h2 {
        padding: 0 31px;
        font-size: 20px;
    }
    .ft footer .Download img{
        width: 120px;
    }
    .ft footer .Download .app-link {
        padding: 4px 34px;
    }

    .ft footer   .Subscribe {
        PADDING: 0 1PX;
    }
    .ft footer  .Subscribe h2 {
        padding: 0px 61px;
        font-size: 23px;
    }
    .ft footer .Subscribe p {
        padding-top: 16px;
        font-size: 11px;
        text-align: center;
    }
    .ft footer .email {
        padding: 0 13px 9px;
    }
    .ft footer  .email-btn button {
        background: #FDC7B0;
        width: 113px;
        height: 36px;
        font-size: 18px;
    }
    .ft footer .email-btn {
        padding: 0 81px;
    }

    .ft .footer-bottom {
        padding-top: 17px;
    }

    .ft .footer-bottom  .copy p {
        font-size: 14px;
    }
    .ft .footer-bottom .copy h2 {
        PADDING-TOP: 0PX;
        PADDING-BOTTOM: 0;
        line-height: 0;
    }
    .ft .footer-bottom   .copy a {
        font-size: 17px;
    }
    .ft footer  .email input {
        width: 261.8px;
        height: 45px;
    }
}

@media (Min-width:768px){
    header .header-top .header-nav .logo {
        padding: 0 227px 0 227px;
    }
    .header-bottom .header-b-val .input-search input {
        height: 46px;
        width: 604px;
    }
    main section .box-main .box3 {
        width: 157px;
        display: block;
    }
    .box-line2 .box-main2 .online-shop3 {
        width: 157px;
        display: block;
    }
    .box-line2 .box-main2  .online-cont .mi {
padding-left: 50px;
    }
    main section .top-line .line-main3 .line-6 {
        width: 154px;
        display: block;
    }

    header .header-nav .nav .menu-list {
        display: block;
        height: 1230px;
        width: 446px;
    }

    main section .box-top .box-main { 
        padding: 0 4px 0 24px;
        gap: 30px;
    }
    main section .box-main2 {
        padding: 28px 9px 0 25px;
        gap: 30px;
    }
    main section .top-line .line-main3 {
        padding: 30px 9px 0 27px;
        gap: 34px;
    }
    .main-about .About img {
        width: auto;
        height: auto;
    }
    .About h2 {
        font-weight:bold;
        font-size: 28px;
    }

    .ft footer .footer-grid {
        text-align: center;
    }





    .ft footer .Subscribe h2 {
        padding: 0px 53px;
        font-size: 23px;
    }
.ft footer {
    padding: 10px 244px;
    background: black;
}
}

@media (Max-width:425px){
    header .header-nav .bars {
      flex: 3;
  }
  .main-heder header .header-nav .bars button {
    height: 34px;
    width: 35px;

}
  header .header-top .header-nav .nav .mid-nav ul li {
    padding: 10px 42PX;
}
header .header-nav .nav .menu-list {
    display: block;
    height: 1150px;
}
.main-heder header .header-top .header-nav .nav {
    padding: 0;
}
.main-heder header .header-top .header-nav .bell img {
    height: 36px;
    width: 46px;

}
header .header-top .header-nav {
    display: flex;
    padding: 0;
}
  header .header-top .header-nav .logo img {
    height: auto;
    width: 44px;
}
    .header-bottom .header-b-val {
      display: flex;
      GAP: 17PX;
  }
  .header-bottom .header-b-val .input-search input {
    height: 42px;
    width: 249PX;
}
header .header-top .header-nav .logo {
    PADDING-TOP: 12PX;
    PADDING-LEFT: 79PX;
    PADDING-RIGHT: 70PX;
}
.main-heder header .header-top .header-nav .logo p {
    font-size: 14px;
    padding-left: 0px;
 
}

.main-heder .header-bottom .btn1 button {
    width: 94px;
    height: 45px;
    PADDING-BOTTOM: 45PX;
    font-size: 15px;
}


.box-top .box-main .box-img {
    padding: 5px 13px;
}
.box-top .box-main .cont h2 {
    font-size: 21px;
    padding-left: 8px;
}
.box-top .box-main  .btn button {
    width: 88px;
    height: 34px;
    background: #FDC7B0;
    font-size: 16px;
}
.box-top .box-main .cont .btn {
    padding: 10px 10px;
    padding-bottom: 11px;
}             
.box-top  .box-main .box {
    border: 2px solid #FDC7B0;
    height: auto;
    width: 115px;
}
.box-top  .box-main .box1 {
    border: 2px solid #FDC7B0;
    height: auto;
    width: 115px;
}
.box-top  .box-main .box2 {
    border: 2px solid #FDC7B0;
    height: auto;
    width: 115px;
    display: block;
}
main section .box-top .box-main {
    padding: 4px 9px 0 22px;
    gap: 7px;
}
.box-line2 .box-main2 .shop-banner {
    padding: 9px 15px;
}
.box-line2 .box-main2 .online-cont .AJIO {
    font-size: 20px;
    padding-left: 30px;

}
.box-line2 .box-main2 .onlineshop-btn button {
    width: 84px;
    height: 35px;
    background: #FDC7B0;
    font-size: 16px;
}
.box-line2 .box-main2 .online-cont .onlineshop-btn {
    padding: 8px 14px;
    padding-bottom: 11px;
}
.box-line2 .box-main2 .online-shop {
    height: auto;
    width: 115px;
}
.box-line2 .box-main2 .online-shop1 {
    height: auto;
    width: 115px;
}
.box-line2 .box-main2 .online-shop1 .online-cont h2 {
    font-size: 20px;
    padding-left: 7px;
}
.box-line2 .box-main2 .online-shop2 {
    height: auto;
    display: block;
    width: 115px;
}
main section .box-main2 {
    padding: 16px 9px 0 20px;
    gap: 7px;
}

main section .box-main2 .online-cont h2 {
    font-size: 20px;
    padding-left: 4px;
}

.top-line .line-main3 .line3-img {
    PADDING: 2PX 5PX;
}

.top-line .line-main3 .line-cont h2 {
    font-size: 17px;
    padding-left: 14px;
}
.top-line .line-main3   .cont-btn button {
    width: 87px;
    height: 35px;
    font-size: 18px;
}

.top-line .line-main3 .cont-btn {
    padding: 6px 13px;
    padding-bottom: 8px;
}
main section  .top-line .line-main3 .line-3 {
    border: 2px solid #FDC7B0;
    height: auto;
    width: 115px;
}
main section  .top-line  .big-img {
    padding: 28px 6px;
}
main section  .top-line  .big-img img{
    width: 90px;
}

main section .top-line .line-main3 .line-4 {
    border: 2px solid #FDC7B0;
    height: auto;
    width: 115px;
    border-radius: 16px;
}
main section .top-line .line-main3 .line-5 {
    border: 2px solid #FDC7B0;
    display: block;
    height: auto;
    width: 115px;
    border-radius: 16px;
}
main section .top-line .line-main3 {
    gap: 8px;
    padding: 14px 10px 0 23px;
}
.ft footer {
    padding: 10px 84px;
    background: black;
}
.ft footer .footer .Subscribe p {
    padding-top: 7px;
    font-size: 12px;
    width: 17pc;
}

.ft footer .footer  .email {
    padding: 13px 30px;
}

footer .footer .email-btn button {
    background: #FDC7B0;
    width: 89px;
    height: 32px;
    border: none;
    font-size: 17px;
}

.ft footer .footer .email input {
    width: 182.8px;
    height: 41px;
    color: #c7a9a9;
    background: #FFFFFF;
    border-radius: 12.15px;
    font-size: 15px;
    padding: 0 9px;
}
footer .footer .email-btn {
    padding: 0 81px;
}
.ft .footer-bottom {
    padding-top: 15px;
}
.ft .footer-bottom .copy h2 {
    PADDING-TOP: 0;
    PADDING-BOTTOM: 21PX;
}

}





@media (Min-width:1024px){
    header .header-top .header-nav .logo {
        padding: 6px 227px 0 227px;
    }

    .main-heder  header .header-top {
        margin: 0px 0 0px 12px;
        padding: 0px;
    }

    header .header-top .header-nav {
       
        padding: 1px;
    }
    header .header-top .header-nav .logo img {
        height: 44px;
        width: 60px;
    }
    header .header-top  .header-nav .logo h1 {
        font-size: 29px;
    }
    header .header-top .header-nav .logo p {
        font-size: 16px;
        padding-left: 64px;
    }
   .header-bottom .header-b-val .input-search input {
    height: 50px;
    width: 855px;
    font-size: 18px;
}
main section .box4 .cont h2 {
    font-size: 23px;
    padding-left: 32px;
    padding-top: 31px;
}
    .header-bottom .header-b-val .input-search span {
        position: absolute;
        top: 16px;
        left: 10px;
        font-size: 17px;
        color: gray;
    }
   .header-bottom .btn button {
        width: 116px;
        height: 51px;
        border: none;
        background: #FDC7B0;
        font-size: 15px;
    }
    main section .box-main .box4 {
        width: 157px;
        display: block;
    }
    .box-line2 .box-main2 .online-shop4 {
        width: 157px;
        display: block;
    }
    main section .top-line .line-main3 .line-7 {
        width: 154px;
        display: block;
    }

    main section .lifeline-main-4 {
        padding: 30px 0 0 27px;
        gap: 27px;
    }
    main section  .lifestyle-img {
        padding: 14px 33px;
    }
    main section    .lifeline-cont4 button {
    width: 95px;
    height: 37px;
    font-size: 17px;

    }
    main section   .lifeline-main-4 .lifeline-4 {
   
        height: auto;
        width: 154px;
        display: block;
    }
    main section    .lifeline4-img {
        PADDING: 15PX 35PX;
    }
    main section .lifeline-cont4 {
        padding: 0 3px;
        padding-bottom: 10px;
    }


    main section   .lifeline-cont4 .lifestyle-cont {
        color: black;
        text-align: center;
        font-size: 20px;
    }

    main section .lifeline-cont4 h2 {
        font-size: 21px;
        padding-left: 42px;
        font-family: monospace;
    }
    main section .lifeline-cont-btn4{
    padding-left: 22px;
    padding-top: 10px;
    }
    .main-about .About img {
        width: auto;
        height: auto;
    }
    
    .main-about  .About h2 {
        padding: 7px 12px;
        font-size: 29px;
    }
    .ft footer .Download h2 {
        padding: 10px 59px;
        font-size: 24px;
    }
    .ft footer .Download .app-link {
        padding: 5px 73px;
    }
    .ft footer .Subscribe h2 {
        padding: 3px 91px;
        font-size: 27px;
    }
    .ft footer .Subscribe p {
        padding-top: 14px;
        font-size: 18px;
    }
    .ft footer .email {
        padding: 12px 0 9px;
    }
    .ft footer  .email input {
        width: 361.8px;
    }

    .ft footer .email-btn button {
        background: #FDC7B0;
        width: 151px;
        height: 44px;
        font-size: 21px;
    }
    .ft footer {
        padding: 10px 312px;
        background: black;
    }
    header .header-nav .nav .menu-list {
        display: block;
        height: 1530px;
        width: 577px;
    }
    header .header-top .header-nav .mid-nav .logo-visi .logo img {
        width: 53px;
        height: auto;
    }
    header .header-top  .menu-list li a {
        color: white;
        font-size: 20px;
    }

}


     
@media (min-width: 1440px) {
 
    SEction{
        padding:18px 7px;
      }
      header .header-top {
        margin: 0px 13px 0px 31px;
        padding: 0px;
    }
      header .header-top .header-nav .bars {
        display: none;
      }
      header .header-nav .nav .search {
        display: block;
      }
      header .header-top .header-nav .logo {
        flex: 0;
        padding: 0 0 0;
    }

      header .header-nav .nav .mid-nav {
        display: block;
      }
      .header-bottom {
        display: none;
      }
    
    header  .header-top .header-nav  .bell {
        display: block;
        padding: 17px 0;
        flex:2.5;
    }
     

header .header-top .header-nav .nav .mid-nav ul li {
    padding: 0px 28px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 100;
}
    
      header .header-nav .btn button {
        display: block;
      }
      header  .header-top .header-nav .mid-nav .logo-visi .logo{
        display: none;
      }
      header .header-nav .nav .mid-nav ul li .arrowleft{
        display: none;
      }
      header .header-nav .btn {
        display: block;
    }
    header .header-nav .btn p{
padding-top:10px;
        margin:0;
        font-size:20px;
    }
    header .header-nav .btn h2{
        font-weight: bold;
        font-size: 25px;
    
    }
    header .header-nav .nav .search span {
      position: absolute;
      left: 11px;
      top: 10px;
      font-size: 18px;
      color: gray;
    }
    header .header-nav .nav {
      padding: 0;
    }
   .main-heder header .header-top .header-nav .nav .search input {
        height: 41px;
        width: 230px;
        padding: 0 27px;
        border-radius: 19px;
        border: none;
        font-size: 17px;
    }
    .main-heder header .header-top  .header-nav .nav .search span {
        position: absolute;
        left: 9px;
        top: 13px;
        font-size: 15px;
        color: gray;
    }
    header .header-top  .header-nav .bell img {
        height: 45px;
        border-radius: 60%;
        width: 61px;
        background-color: #806b6b;
    }
    header .header-top .header-nav {
        display: flex;
        padding: 12px 41px 0 31px;
    }
    header .header-top .header-nav .logo h1 {
        font-size: 36px;
    }
    header .header-top .header-nav .logo p {
        font-size: 19px;
        padding-left: 85px;
    }
    main section .box-top .box-main {
        padding: 0 7px 0 23px;
        gap: 0;
    }

    main section .box-main .box {
        width: 232px;
    }
    main section .box-main .box1 {
        width: 233px;
    }
    main section .box-main .box2 {
        width: 234px;
    }
    main section .box-main .box3 {
        width: 235px;
    }

    main section .box-main .box4 {
        width: 236px;
    }
    main section .box-img {
        padding: 17px 76px;
    }
    main section .cont h2 {
        font-size: 27px;
        padding-left: 62px;
    }

    main section .box-main .btn button {
        width: 146px;
        height: 41px;
        font-size: 21px;
    }
    main section .cont .btn {
        padding: 9px 45px;
        padding-bottom: 20px;
    }
    main section .box4 .cont h2 {
    
        PADDING-TOP:35px;
    }
    main section .box-main2 {
        padding: 30px 0 0 27px;
        gap: 0;
    }
    .box-line2 .box-main2 .online-shop {
        width: 232px;
    }
    .box-line2 .box-main2 .online-shop1 {
        width: 232px;
    }
    .box-line2 .box-main2 .online-shop2 {
        width: 232px;
    }
    .box-line2 .box-main2 .online-shop3 {
        width: 232px;
    }
    .box-line2 .box-main2 .online-shop4 {
        width: 232px;
    }
    .box-line2 .box-main2 .shop-banner {
        padding: 15px 76px;
    }
    .box-line2 .box-main2 .online-cont .AJIO {
        font-size: 25px;
        padding-left: 83px;
    }
    .box-line2 .box-main2 .online-cont .onlineshop-btn button{
        width: 146px;
        height: 41px;
        font-size: 21px;
    }
    .box-line2 .box-main2 .online-cont h2 {
        font-size: 25px;
        padding-left: 56px;
    }
    .box-line2 .box-main2 .online-cont .onlineshop-btn {
        padding: 16px 43px;
        padding-bottom: 18px;
    }
    .box-line2 .box-main2 .online-cont .mi {
        padding-left: 96px;
    }
    main section .top-line .line-main3 {
        padding: 30px 0px 0 31px;
        gap: 0;
    }
    main section .top-line .line-main3 .line-3 {
        width: 232px;
    }

    main section .top-line .line-main3 .line-4 {
        width: 232px;
    }

    main section .top-line .line-main3 .line-5 {
        width: 232px;
    }
    main section .top-line .line-main3 .line-6 {
        width: 232px;
    }
    main section .top-line .line-main3 .line-7 {
        width: 232px;
    }
    .top-line .line-main3 .line3-img {
        PADDING: 10PX 65PX;
    }
    .top-line .line-main3 .line-cont h2 {
        font-size: 26px;
        padding-left: 48px;
    }


    main section .top-line .big-img img {
        width: auto;
    }
    main section .top-line .big-img {
        padding: 25px 42px;
    }

    .top-line .line-main3 .cont-btn button {

        width: 146px;
        height: 41px;
        font-size: 21px;
    }
    main section .top-line .cont-btn {
        padding: 17px 43px;
        padding-bottom: 18px;
    }
    main section .lifeline-main-4 .lifeline-4 {
        height: auto;
        width: 235px;
        display: block;
    }
    main section .lifestyle-img {
        padding: 14px 69px;
    }
    main section .lifeline4-img {
        PADDING: 15PX 73PX;
    }
    main section .lifeline-cont4 .lifestyle-cont {
       
        font-size: 25px;
    }
    main section .lifeline-cont4 button {

        width: 146px;
        height: 41px;
        font-size: 21px;
    }
    main section .lifeline-cont4 h2 {
        font-size: 29px;
        padding-left: 69px;
        font-family: monospace;
    }
    main section .lifeline-cont-btn4 {
        padding-left: 42px;
        padding-top: 15px;
    }
    main section .last-line {
        padding: 30px 0 0 29px;
    }

    main section   .lt-line {
        height: auto;
        width: 232px;
        display: block;
    }
    main section  .ltline-img {
        PADDING: 15PX 71PX;
    }

    main section   .lt-line-cont {
        padding: 13px 46px;
        padding-bottom: 11px;
    }
    .ft footer .footer-grid {
        display: grid;
        grid-template-columns: repeat(6,1fr);
    }
    .ft footer {
        padding: 10px 36px;
    }

    .About {
        display: flex;
        width: 16pc;
    }
 .main-about .About img {
    display: none;
}
.ft footer .footer-grid .abt-link {
    display: block;
    padding: 25px 23px;
}
.ft footer .footer-grid .read {
    display: block;
    width: 13pc;
}
.ft footer .footer-grid .page {
    display: block;
    width: 14pc;
}
.connect {
    display: block;
    width: 15pc;
}
    .main-about .About h2 {
        padding: 7px 2px;
        font-size: 26px;
    }
    .ft footer .Subscribe h2 {
        padding: 10px 1px;
        font-size: 26px;
    }
    
    
    .ft footer .Download  {
        padding: 6px 0;
        font-size: 24px;
        display:none;
    }
 
    .ft footer .rd-link {
        padding: 27px 9px;
    }
    .ft footer .email input {
        width: 279.8px;
    }

    .ft footer .Subscribe p {
        padding-top: 39px;
        font-size: 20px;
        width: 19pc;
    }
    .ft footer .email-btn {
        padding: 10px 79px;
    }
    .ft .footer-bottom .copy p {
        font-size: 22px;
    }
    .ft .footer-bottom .copy a {
        font-size: 20px;
    }
}





@media (Max-width:375px){
    header .header-top .header-nav .logo img {
      height: 30px;
      width: 36px;
  }
  header .header-top  .header-nav {
    display: flex;
    padding: 0;
}
header .header-top  .header-nav .nav {
    padding: 12px;
}
header .header-top .header-nav .bell img {
    height: 38px;
    width: 51px;
    padding-top: 4px;
    background-color: #4b3333;
}
.header-bottom {
    padding: 15px 10px;
}
header .header-top .header-nav .logo {
    padding: 10px 60px 0;
}
    header .header-nav .bars {
      display: block;
      padding: 22px 0;
  }
  .main-heder header .header-top .header-nav .logo p {
    font-size: 14px;
    padding-left: 45px;
}

  .header-bottom .header-b-val {
    GAP: 15PX;
}
.header-bottom .header-b-val .input-search input {
    height: 47px;
    width: 244px;
}
.header-bottom .header-b-val .btn button {
    background: #FDC7B0;
    height: 40px;
    width: 80px;
    font-size: 10px;
}
.header-bottom .header-b-val .input-search span {
    position: absolute;
    top: 18px;
    left: 12px;
    font-size: 14px;
   
}
.main-heder .header-bottom .btn1 button {
    width: 95px;
    height: 47px;
    PADDING-BOTTOM: 45PX;
    font-size: 14px;
}
header .header-nav .nav .menu-list {
    display: block;
    height: 1131px;
    background-color: #4E5053;
}
main section .box-top .box-main {
    padding: 2px 9px 0 1px;
    gap: 9px;
}
.box-top .box-main .box2 {
    width: 104px;
}
main section .box-main2 {
    padding: 14px 9px 0 1px;
    gap: 9px;
}
.box-line2 .box-main2 .online-shop {
    height: auto;
    width: 115px;
}
.box-line2 .box-main2 .online-cont .AJIO {
    font-size: 17px;
    padding-left: 29px;
}
.box-line2 .box-main2 .online-shop1 .online-cont h2 {
    font-size: 17px;
    padding-left: 8px;
}
main section .box-main2 .online-cont h2 {
    font-size: 17px;
    padding-left: 3px;
}
.box-line2 .box-main2 .online-shop2 {
    height: auto;
    display: block;
    width: 103px;
}
.box-line2 .box-main2 .online-cont .onlineshop-btn {
    padding: 8px 11px;
    padding-bottom: 11px;
}
main section .top-line .line-main3 {
    gap: 9px;
    padding: 14px 4px 0 1px;
}
main section .top-line .line-main3 .line-5 {
    width: 106px;
}
.top-line .line-main3 .cont-btn {
    padding: 6px 7px;
    padding-bottom: 8px;
}
footer .footer .Subscribe {
    PADDING: 0PX 0;
}
.ft footer {
    padding: 10px 58px;
    background: black;
}





}




@media (MAX-width:320px){
    .main-heder  header .header-top {
        margin: 0px 0 0px 7px;
        padding: 0px;
    }
    header .header-top .header-nav .bars .logo .nav {
      padding: 0;
  }
  header .header-top  .header-nav .nav {
    padding: 0;
  }
  header .header-top .header-nav .logo {
    padding: 9px 47px 0 47px;
}
  header .header-top   .header-nav .bell img {
    height: 40px;
    width: 57px;
  }
    header .header-top .header-nav .bars button {
      height: 30px;
      width: 32px;
  }
  header .header-top .header-nav .bars span {
    FONT-SIZE:12PX;

}
.main-heder header .header-top .header-nav .bell img {
    height: 30px;
    width: 33px;
}

header .header-top .header-nav .bars {
    padding-top: 18px;
    padding-left: 10px;
}
header .header-top .header-nav {
    display: flex;
    gap: 0;
}

.header-bottom .header-b-val .input-search input {
    height: 47px;
    width: 193px;
    font-size: 17px;
}
header .header-nav .nav .menu-list {
    display: block;
    height: 1120px;
    WIDTH: 214PX;
}
.main-heder .header-bottom .header-b-val {
    gap: 10px;
}









  header .header-top .header-nav .nav .mid-nav ul li {
    padding: 8px 2PX;
    font-size: 20px;
    FONT-FAMILY: SANS-SERIF;
  }
  section .bxslider .info .image img {
    PADDING: 10PX 17PX;
  }
  .logo img {
    height: 31px;
      width: 41px;
  
  }
  header .header-nav .logo h1 {
    font-size: 19px;
  }
  .header-bottom .header-b-val {
    gap: 27px;
  }
  header .header-nav .logo p {
    font-size: 15px;
    padding-left: 28px;
    color: bisque;
  }
  header .header-nav {
    display: flex;
    gap: 23px;
  }
  .header-bottom .input-search input {
    height: 45px;
    width: 169px;
    padding: 0 30px;
    font-size: 15px;
  }
  .header-bottom span {
    position: absolute;
    top: 35px;
    left: 28px;
    font-size: 16px;
  }
  .btn button {
    border-radius: 10px;
    height: 46px;
    width: 94px;
    background: #FDC7B0;
    border: none;
    font-size: 12px;
  }
  main section .box-top .box-main {
    padding: 0px 9px 0 1px;
    gap: 14px;
}
main section .box-main2 {
    padding: 15px 9px 0 1px;
    gap: 14px;
}
main section .top-line .line-main3 {
    gap: 14px;
    padding: 14px 4px 0 1px;
}
  .box-top .box-main .box2 {
    display: none;
}
.box-line2 .box-main2 .online-shop2 {
    display: none;
}
main section .top-line .line-main3 .line-5 {
    display: none;
}
.box-top .box-main .box {
    border: 2px solid #FDC7B0;
    height: auto;
    width: 141px;
}
.box-top .box-main .box1 {
    border: 2px solid #FDC7B0;
    height: auto;
    width: 140px;
}
.box-top .box-main .box-img {
    padding: 5px 34px;
}
.box-line2 .box-main2 .online-shop {
    height: auto;
    width: 140px;
}
.box-line2 .box-main2 .online-shop1 {
    height: auto;
    width: 142px;
}
.box-top .box-main .cont h2 {
    font-size: 21px;
    padding-left: 33px;
}
.box-top .box-main .cont .btn {
    padding: 10px 27px;
    padding-bottom: 11px;
}
.box-line2 .box-main2 .shop-banner {
    padding: 9px 34px;
}
.box-line2 .box-main2 .online-cont .AJIO {
    font-size: 18px;
    padding-left: 49px;
}
.box-line2 .box-main2 .online-shop1 .online-cont h2 {
    font-size: 18px;
    padding-left: 26px;
}
.box-line2 .box-main2 .online-cont .onlineshop-btn {
    padding: 8px 35px;
    padding-bottom: 11px;
}
main section .top-line .line-main3 .line-3 {
    border: 2px solid #FDC7B0;
    height: auto;
    width: 140px;
}
.top-line .line-main3 .line3-img {
    PADDING: 2PX 34PX;
}
main section .top-line .line-main3 .line-4 {
    border: 2px solid #FDC7B0;
    height: auto;
    width: 142px;
    border-radius: 16px;
}
main section .top-line .big-img {
    padding: 28px 27px;
}
.top-line .line-main3 .line-cont h2 {
    font-size: 18px;
    padding-left: 31px;
}
.lifeline-main-4 {

    padding: 22px 9px 0 98px;
}
.ft footer {
    padding: 10px 33px;
    background: black;
}
.footer-bottom .copy p {
    font-size: 10px;
}
.footer-bottom .copy a {
    color: black;
    font-family: sans-serif;
    font-size: 12px;
}
}



@media (Min-width:1900px){
    header .header-top .header-nav .logo h1 {
        font-size: 33px;
    }
    .main-heder header .header-top .header-nav .logo p {
        font-size: 18px;
        padding-left: 74px;
        font-family: sans-serif;
        color: bisque;
    }
    header .header-nav .btn p {
        padding-top: 10px;
        margin: 0;
        font-size: 18px;
    }
    header .header-nav .btn h2 {
        font-weight: bold;
        font-size: 26px;
    }
    header .header-top {
      margin: 0px 27px 0px 168px;
      padding: 1px;
  }
  header .header-top .header-nav .nav .mid-nav ul li {
    padding: 0 35px;
    font-size: 22px;
}
  header .header-top .header-nav .bell {
    display: block;
    padding: 7px 0;
    flex: 0.6;
}
header .header-top .header-nav {
    display: flex;
    padding: 15px 64px 10px 191px;
}
main section .box-top .box-main {
    padding: 0 165px 0 187px;
    gap: 0;
}
main section .box-main2 {
    padding: 43px 161px 0 192px;
    gap: 0;
}
main section .top-line .line-main3 {
    padding: 40px 159px 0 193px;
    gap: 0;
}
main section .lifeline-main-4 {
    padding: 40px 151px 0 188px;
}
main section .last-line {
    padding: 42px 144px 0 189px;
}
.main-about .About img {
    display: block;
}
.ft footer .Download {
    padding: 6px 0;
    display: block;
}
.ft footer .Download h2 {
    padding: 5px 32px;
    font-size: 28px;
}
.ft footer .Subscribe h2 {
    padding: 14px 1px;
    font-size: 30px;
}
.ft footer .Download img {
    width: 151px;
}
.ft footer .Download .app-link {
    padding: 36px 44px;
}
.ft footer .email input {
    width: 198.8px;
}
.ft footer {
    padding: 18px 56px 0 184px;
}
.ft footer .Subscribe p {
    padding-top: 20px;
    font-size: 18px;
    width: 14pc;
}
.ft footer .abt-link a {
    color: white;
    FONT-SIZE: 18PX;
}
.ft footer .rd-link a {
    color: white;
    FONT-SIZE: 18PX;
}
.ft footer  .pg-link {
    padding: 31px 9px;
}
.ft footer .pg-link a {
    color: white;
    FONT-SIZE: 18PX;
}
.ft footer .cnt-link a {
    color: white;
    FONT-SIZE: 18PX;
}
.ft footer .cnt-link {
    padding: 30px 20px;
}
.ft footer .email-btn {
    padding: 3px 43px;
}




}


@media (MIN-width:2560px){
    header .header-nav {
      display: flex;
      padding: 37px;
      GAP: 20PX;
  }
  
  header .header-top .header-nav .nav .mid-nav ul li {
    padding: 13px 67px;
    font-size: 25px;
}
  header .header-nav .logo h1 {
    font-size: 46px;
  }
  header .header-top .header-nav .logo p {
    font-size: 27px;
    padding-left: 95px;
  }
  header .header-nav .nav .search input {
    height: 54px;
    width: 270px;
    padding: 21px 38px;
    border-radius: 24px;
    border: none;
    font-size: 26px;
  }
  header .header-nav .nav .search span {
    position: absolute;
    left: 11px;
    top: 15px;
    font-size: 21px;
    color: gray;
  }
  header .header-nav .bell img {
    height: 74px;
    border-radius: 60%;
    width: 99px;
    background-color: black;
  }
  header .header-top .header-nav .logo img {
    height: auto;
    width: 5PC;
  }
  header .header-top .header-nav {
    display: flex;
    padding: 15px 0 10px 211px;
}

  header .header-nav .btn button {
  
    height: 104px;
    width: 162px;
    font-size: 25px;
  
  }
  main section .box-top .box-main {
    padding: 0 223px 0 198px;
    gap: 0;
}
main section .box-main2 {
    padding: 83px 223px 0 198px;
    gap: 0;
}
main section .top-line .line-main3 {
    padding: 85px 223px 0 198px;
    gap: 0;
}
main section .lifeline-main-4 {
    padding: 85px 223px 0 198px;
    gap:0;
}
main section .last-line {
    padding: 42px 0 0 189px;
}
main section .box-main .box {
    width: 370px;
}
main section .box-main .box1 {
    width: 370px;
}
main section .box-main .box2 {
    width: 370px;
}
main section .box-main .box3 {
    width: 370px;
}
main section .box-main .box4 {
    width: 370px;
}
main section .box-main .box-img img{
    width:120px;
}
main section .box-img {
    padding: 26px 112px;
}
main section .cont h2 {
    font-size: 38px;
    padding-left: 108px;
}
main section .box-main .btn button {
    width: 189px;
    height: 62px;
    font-size: 28px;
}
main section .cont .btn {
    padding: 19px 91px;
    padding-bottom: 22px;
}
main section .box4 .cont h2 {
    PADDING-TOP: 65px;
}
.box-line2 .box-main2 .online-shop {
    width: 360px;
}
.box-line2 .box-main2 .online-shop1 {
    width: 360px;
}
.box-line2 .box-main2 .online-shop2 {
    width: 360px;
}
.box-line2 .box-main2 .online-shop3 {
    width: 360px;
}
.box-line2 .box-main2 .online-shop4 {
    width: 360px;
}
.box-line2 .box-main2 .shop-banner img{
width: 119px;
}
.box-line2 .box-main2 .shop-banner {
    padding: 35px 105px;
}
.box-line2 .box-main2 .online-cont .AJIO {
    font-size: 37px;
    padding-left: 119px;
}
.box-line2 .box-main2 .online-cont h2 {
    font-size: 35px;
    padding-left: 92px;
}
.box-line2 .box-main2 .online-cont .mi {
    padding-left: 146px;
}
.box-line2 .box-main2 .online-cont .onlineshop-btn button {
    width: 190px;
    height: 67px;
    font-size: 29px;
}
main section .top-line .line-main3 .line-3 {
    width: 360px;
}
main section .top-line .line-main3 .line-4 {
    width: 360px;
}
main section .top-line .line-main3 .line-5 {
    width: 360px;
}
main section .top-line .line-main3 .line-6{
    width: 360px;
}
main section .top-line .line-main3 .line-7 {
    width: 360px;
}
.box-line2 .box-main2 .online-cont .onlineshop-btn {
    padding: 16px 86px;
    padding-bottom: 26px;
}

main section .top-line .line-main3 img{
width: 120px;
}
.top-line .line-main3 .line3-img {
    PADDING: 20PX 104PX;
}
main section .top-line .big-img img {
    width: 150px;
}
main section .top-line .big-img {
    padding: 47px 101px 73px;
}
.top-line .line-main3 .line-cont h2 {
    font-size: 35px;
    padding-left: 104px;
}
.top-line .line-main3 .cont-btn button {
    width: 170px;
    height: 62px;
    font-size: 28px;
}
main section .top-line .cont-btn {
    padding: 17px 90px;
    padding-bottom: 18px;
}
main section .lifeline-main-4 .lifeline-4 {
    width: 357px;
}
main section  .lifestyle-img img{
    width:120px;

}
main section .lifeline4-img img{
    width:120px;
}
main section .lifestyle-img {
    padding: 32px 114px;
}
main section .lifeline4-img {
    PADDING: 34PX 112PX;
}
main section .lifeline-cont4 .lifestyle-cont {
    font-size: 35px;
}
main section .lifeline-cont4 h2 {
    font-size: 37px;
    padding-left: 110px;

}
main section .lifeline-cont-btn4 {
    padding-left: 89px;
    padding-top: 15px;
}
main section .lifeline-cont4 button {
    width: 176px;
    height: 66px;
    font-size: 27px;
}
main section .last-line {
    padding: 79px 223px 0 198px;
}

main section .lt-line {
    height: auto;
    width: 359px;
    display: block;
}
main section .lt-line img{
    width:120px;
}
main section .ltline-img {
    PADDING: 40PX 109PX;

}
main section .lt-line-cont  h2{
padding-left:12px;
font-size:35px;
text-align:center;
}
main section  .lt-line-cont button {
    width: 180px;
    height: 70px;
    margin-top:20px;    
    border: none;
    background: #FDC7B0;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 13px;
}
main section .lt-line-cont {
    padding: 13px 84px;
    padding-bottom: 11px;
}
.ft footer .footer-grid {

    text-align: inherit;

}
.ft footer .footer-grid .read {
    display: block;
    width: 14pc;
}
.ft footer  .read h2 {
    font-size: 29px;
    font-weight: bold;
}
.ft footer .abt-link a {
    color: white;
    FONT-SIZE: 23PX;
}
.ft footer .footer-grid .page {
    display: block;
    width: 16pc;
}
.page h2 {
    font-size: 29px;
    font-weight: bold;
}














}

@media (Min-width:1900px){



}















