@media (MAX-width:576px){
    .main {
        width: 100%;
        background: none;
    }
    .main .ern-btn {
        padding-left: 133px;
    }


    .main .ern-btn button {
        height: 57px;
        width: 154px;
        font-size: 15px;
        top: 25px;
        border: navajowhite;
    }
    
    .logo .src {
        padding-left: 23px;
    }
    .logo {
        PADDING-LEFT: 1PC;
        padding-top: 20px;
        column-gap: 0;
    }
    .logo-img img {
        height: 0;
        width: 0;
        display: none;
    }
    .logo .logo-p p {
        padding-top: 0;
        display: none;
    }
    .main .them {
        padding-left: 0;
    }

    .logo .src input {
        width: 14pc;
        height: 48px;
        padding-left: 43px;
        outline: none;
        border-radius: 5px;
        background: #e6e5e1;
        font-size: 15px;
        color: black;
    }
    .logo .src span {
        position: absolute;
        padding-left: 12px;
        padding-top: 17px;
        color: black;
    }
    .heder-link {
        padding-left: 0;
        padding-top: 0;
        display: none;
    }

    .main .them img {
        border-radius: 50%;
        padding-top: 0;
        width: 0;
        height: 0;
    }
    .reg {
        height: auto;
        margin: 0 0;
    }
    h1 {
        padding-left: 41px;
    }
    .cnt-p {
        color: black;
        PADDING: 16PX 46PX;
        FONT-SIZE: 14PX;
        WIDTH: 31PC;
    }
    .form-row {
        padding: 0px 33px;
    }
    .btn {
        margin: 0 3px;
    }










}
@media (MAX-width:425px){
    .logo .src input {
        width: 12pc;
        height: 48px;
    }
    .logo {
        PADDING-LEFT: 0PC;
    }
    .main .ern-btn {
        padding-left: 55px;
    }
    h1 {
        padding-left: 27px;
    }
    .cnt-p {
        PADDING: 16PX 33PX;
        FONT-SIZE: 11PX;
        WIDTH: 24PC;
    }
    .main .ern-btn button {
        height: 51px;
        width: 121px;
        font-size: 14px;
        top: 25px;
        border: none;
    }

    input[type="text"] {
        height: 54px;
        width: 356px;
    }
    select {
        height: 54px;
        width: 356px;
    }
    textarea {
        height: 132px;
        width: 358px;
    }
    .btn {
        margin: 0 103px;
    }












}
@media (MAX-width:375px){
    .logo .src input {
        width: 11pc;
        height: 48px;
    }
    .main .ern-btn button {
        height: 51px;
        width: 111px;
        font-size: 12px;
        top: 25px;
    }
    .main .ern-btn {
        padding-left: 44px;
    }
    .cnt-p {
        FONT-SIZE: 11PX;
        WIDTH: 21PC;
    }
    h1 {
        padding-top: 13px;
        padding-left: 27px;
        font-size: 26px;
    }
    input[type="text"] {
        width: 320px;
    }

    select {
        width: 319px;
    }
    textarea {
        height: 132px;
        width: 317px;
    }
    .btn {
        margin: 0 89px;
    }

}
@media (MAX-width:320px){

    .logo .src {
        padding-left: 14px;
    }
    .main .ern-btn button {
        width: 93px;
        font-size: 11px;
    }   

    .main .ern-btn {
        padding-left: 25px;
    }

    h1 {
        padding-top: 10px;
        padding-left: 19px;
        font-size: 24px;
    }
    .cnt-p {
        FONT-SIZE: 10PX;
        WIDTH: 17PC;
        PADDING: 16PX 24PX;
    }
    .form-row {
        padding: 0px 14px;
    }
    input[type="text"] {
        width: 284px;
        font-size: 14px;
    }

    textarea {
        height: 132px;
        width: 287px;
    }
    .btn {
        margin: 0 71px;
    }





}
@media (Min-width:768px){

    .logo {
        position: relative;
        PADDING-LEFT: 2PC;
        padding-top: 33px;
        column-gap: 1px;
    }
    .heder-link {
        display: none;
    }
    .main .them {
        padding-left: 30px;
    }
    .logo .src input {
        width: 11pc;
        height: 42px;
        padding-left: 40px;
        border-radius: 14px;
        font-size: 16px;
    }
    .main .ern-btn button {
        height: 84px;
        width: 134px;
        font-size: 16px;
    }

    .reg {
        margin: 29px 0;
    }
    .btn {
        margin: 0 177px;
    }

    .form-row {
        padding: 0px 135px;
    }
    label {
        font-size: 27px;
    }
    input[type="text"] {
        height: 58px;
        font-size: 19px;
    }

    h1 {
        padding-top: 26px;
        padding-left: 141px;
        font-size: 39px;
    }
    .cnt-p {
        PADDING: 16PX 143PX;
        FONT-SIZE: 14PX;
        WIDTH: 44PC;
    }







}
@media (Min-width:1024px){
    .logo {
        PADDING-LEFT: 5PC;
        column-gap: 10px;
    }

    .logo .src input {
        width: 14pc;
        height: 45px;
        padding-left: 47px;
        border-radius: 14px;
        font-size: 18px;
    }
    .logo .src span {
        padding-left: 13px;
        padding-top: 13px;
    }
    .main .them {
        padding-left: 124px;
    }
    .form-row {
        padding: 0px 264px;
    }
    h1 {
        padding-top: 54px;
        padding-left: 267px;
        font-size: 42px;
    }
    .cnt-p {
        PADDING: 16PX 274PX;
        FONT-SIZE: 14PX;
        WIDTH: 62PC;
    }


}
@media (Min-width:1440px){
    .logo {
        PADDING-LEFT: 2PC;
        column-gap: 7px;
    }
    .heder-link {
        display: block;
        padding-left:0pc;
    }

    .heder-link a {
        padding-left: 40px;
    }
    .main .them {
        padding-left: 47px;
    }
    .logo .src input {
        width: 13pc;
    }
    .form-row {
        padding: 0px 442px;
    }
    input[type="text"] {
        height: 58px;
        font-size: 20px;
        width: 506px;
    }
    textarea {
        height: 134px;
        width: 510px;
    }
    h1 {
        padding-top: 70px;
        padding-left: 443px;
        font-size: 47px;
    }
    form {
        padding: 18px 0;
    }
    .btn {
        margin: 0 174px;
        width: 163px;
        font-size: 19px;
    }
    .cnt-p {
        PADDING: 16PX 445PX;
        FONT-SIZE: 14PX;
        WIDTH: 84PC;
    }

}
@media (Min-width:1600px){

    .logo {
        PADDING-LEFT: 10PC;
        column-gap: 7px;
    }
    .logo .src input {
        width: 16pc;
        height: 49px;
        padding-left: 53px;
        border-radius: 31px;
        font-size: 21px;
    }
    .logo .src span {
        padding-left: 17px;
        padding-top: 15px;
        font-size: 17px;
    }
    .heder-link a {
        padding-left: 71px;
    }
    .main .them {
        padding-left: 71px;
    }
    .heder-link {
        padding-top: 50px;
    }
    .main .ern-btn {
        padding-left: 83px;
    }
    form {
        padding: 40px 0;
    }
    .form-row {
        padding: 0px 658px;
    }
    h1 {
        padding-top: 48px;
        padding-left: 658px;
        font-size: 37px;
    }
    label {
        font-size: 23px;
    }
    input[type="text"] {
        font-size: 18px;
        width: 510px;
    }
    .btn {
        margin: 0 341px;
    }
    .cnt-p {
        PADDING: 16PX 662PX;
        FONT-SIZE: 18PX;
        WIDTH: 110PC;
    }
}
@media (Min-width:2560px){

    .logo {
        PADDING-LEFT: 25PC;
        column-gap: 12px;
    }
    .heder-link a {
        padding-left: 143px;
    }
    input[type="text"] {
        font-size: 28px;
        width: 620px;
        height: 75px;
        padding: 2px 29px;
    }
    h1 {
        padding-top: 79px;
        padding-left: 955px;
        font-size: 63px;
    }

    label {
        font-size: 36px;
    }
    select {
        width: 620px;
        font-size:28px;
        padding: 6px 34px;
        height: 75px;
    }
    textarea {
        height: 185px;
        width: 620px;
        font-size:25px;
    }

    p {
        padding: 16px 19px;
    }
    option{
        width:0; 
    }
    .btn {
        margin: 0 437px;
        width: 177px;
        height: 71px;
        font-size: 23px;
    }

    .form-row {
        padding: 0px 962px;
    }
    .cnt-p {
        PADDING: 16PX 964PX;
        FONT-SIZE: 18PX;
        WIDTH: 159PC;
    }

}