
@media (max-width:576px) {
    header .header-top .header-nav .bars {
      display: block;
      flex: 0;
  }
  
    header .header-top .header-nav.bars .logo {
  padding-left: 54px;
    }
    header .header-top .header-nav .logo {
      padding: 0px 144px;
  }
  header .header-top .header-nav .nav {
    padding: 0;
}
header .header-top .header-nav .bell {
  flex: 0;
}
header .header-top .header-nav .logo img {
  height: 40px;
  width: 58px;
}
  header .header-nav .logo h1 {
    font-size: 22px;
  
  }
  header .header-top .header-nav .logo  p {
    font-size: 13px;
    padding-left: 48px;
  }
  header .header-top  .header-nav .nav .mid-nav ul li {
    padding: 10px 62PX;
    font-size: 20px;
    FONT-FAMILY: SANS-SERIF;
  }
  header .header-nav .nav .search {
      display: NONE;
    }
    header .header-nav .nav .mid-nav {
      flex: 1;
      display: NONE;
    }
    header .header-nav .btn button {
      display: none;
    }
  .header-bottom {
display: block;
  }
  header .header-top .header-nav .mid-nav .logo-visi {
    padding-top: 50px;
  }
  header .header-top .header-nav .mid-nav .logo-visi .logo img{
  width: 30px;
  height: auto;
  }
  header .header-top .header-nav .mid-nav .logo-visi .logo h1{
    font-size: 18px; 
  }
  header .header-top .header-nav .mid-nav .logo-visi .logo p{
    font-size: 15px;
    padding-left: 15px;
  }
    header .header-nav .nav .menu-list {
      display: block;
      height: 1866px;
      width: 359px;
    background-color: #4E5053;
    position: absolute;
    left: -340px;
    top: 0;
    padding-top: 30px;
    z-index: 1;
    transition: 3s ease all;
  }
  header .header-nav .nav .menu-list ul {
    display: flex;
    flex-direction: column;
  }
  header.header-top .header-nav .bell img {
      height: 34px;
      border-radius: 60%;
      width: 40px;
      background-color: black;
  }
  .header-bottom .header-b-val {
    display: flex;
    GAP: 15PX;
  }
  
  .header-bottom .header-b-val .input-search input {
    height: 40px;
    width: 405px;
    border-radius: 10px;
    border: none;
    background: gainsboro;
    padding: 0 38px;
    font-size: 18px;
  }
  .header-bottom .header-b-val .input-search span {
    position: absolute;
    top: 14px;
    left: 9px;
    font-size: 14px;
    color: gray;
  }
  .btn button {
    background:#FDC7B0;
    border: NONE;
    height: 41px;
    width: 102px;
    font-size: 13px;
    border-radius: 10px;
  }
  main section {
    padding: 28px 29px;
}

main section .Ajio-main .Ajio img{
  width:250px;
}
main section .Ajio-main .Ajio1 img{
  width:250px;
}
.Ajio2 {
  display: none;
}
.Ajio3{
  display: none;
}
main section .Ajio-main .Ajio-img img{
  width:50px;
}

main section .Ajio-main .Ajio-img {
  top: 159px;
  left: 5px;
}
main section .Ajio-main .profit p {
  font-size: 12px;
  margin-left: 110px;
  padding-top: 14px;
}
main section .Ajio-main  .profit h2 {
  font-size: 13px;
  margin-left: 145px;
}
main section .Ajio-main  .flex-btn .btn1 button {
  width: 80px;
  height: 31px;
}
main section .Ajio-main .flex-btn .btn1 a {
  font-size: 16px;
}
main section .Ajio-main .flex-btn {
  gap: 86px;
  padding: 0px 20px;
}
main section .Ajio-main .Ajio {
  height: 290px;
  width: 254px;
}
main section .Ajio-main .Ajio1 {
  height: 290px;
  width: 254px;
}
.Ajio-main {
  gap: 15px;
}
main section .grid-img h2 {
  font-size: 27px;
  font-family: monospace;
  padding: 1px 8px 20px;
}
.flipkart2 {
  display: none;
}
.flipkart3 {
  display: none;
}


main section .flp-grid-img h2 {
  font-size: 28px;
  padding: 1px 10px 20px;
}

main section .flipkart-main .flipkart img{
    width:250px;
}
main section .flipkart-main .flipkart1 img{
    width:250px;
}
main section .flipkart-main .flipkart-img img{
    width:40px;
}
main section .flipkart-main .flp-btn {

  gap: 88px;
}
main section .flipkart-main .flipkart-img {
    top: 155px;
    left: 12px;
}
main section .flipkart-main .flp-profit p {
  font-size: 14px;
  margin-left: 94px;
  padding-top: 13px;
}
main section .flipkart-main .flp-profit h2 {
  font-size: 14px;
  margin-left: 119px;
}
main section .flipkart-main  .flp-btn1 button {
  width: 80px;
  height: 31px;
}
main section .flipkart-main  .flp-btn1 button a{
  font-size: 16px;
}
main section .flipkart-main  .flipkart {
  
  height: 297px;
  width: 254px;
}
main section .flipkart-main  .flipkart1 {
  
  height: 297px;
  width: 254px;
}
main section  .flipkart-main {
  GAP: 17PX;
}

main section .mnt-grid-img h2 {
  font-size: 29px;
  font-family: monospace;
  padding: 1px 10px 20PX;
}
.Myntra2 {
  DISPLAY: NONE;
}
.Myntra3 {
  DISPLAY: NONE;

}
  .Myntra-main .Myntra img{
  width:250px;

}
.Myntra-main .Myntra1 img{
  width:250px;
}
.Myntra-main .Myntra-img img{
  width:50px;
}
.Myntra-main  .Myntra-img {
  top: 154px;
  left: 8px;
}

.Myntra-main .mnt-profit p {
  font-size: 14px;
  margin-left: 90px;
  padding-top: 13px;
}

.Myntra-main .mnt-profit h2 {
  font-size: 14px;
  margin-left: 108px;
}

.Myntra-main .mnt-btn1 button {
  width: 80px;
  height: 31px;
}
.Myntra-main .mnt-btn1 button a {
  font-size: 16px;
}
.Myntra-main  .Myntra {
  height: 295px;
  width: 253px;
}
.Myntra-main  .Myntra1 {
  height: 295px;
  width: 253px;
}

.Myntra-main .mnt-btn {
  display: flex;
  gap: 97px;
  padding: 9px 20px;
}

footer .footer-grid {
  display: grid;
  grid-template-columns: repeat(1,1fr);
}

footer  .footer {
  padding-top: 11px;
}

footer  .footer  .abt-link {
  display: none;
}
.read {
  display: none;
}
.page {
  display: none;
}
.connect {
  display: none;
}
footer  .footer .Download h2 {
  padding: 0 0;
  font-size: 22px;
}

footer  .footer .Download {
  PADDING: 11PX 77PX;
}
footer  .footer .Download .app-link img{
  width:100px;
}
footer  .footer .app-link {
  padding: 8px 20px;
}
footer  .footer  .Subscribe h2 {
  padding: 0 8px;
  font-size: 22px;
}
footer  .footer  .Subscribe {
  text-align: center;
}
footer  .footer .Subscribe p {
  padding-top: 16px;
  font-size: 11px;
}

footer  .footer .email-btn button {
  width: 101px;
  height: 36px;
  font-size: 18px;
}
footer  .footer .email {
  padding: 30px 0 18px;
}
.footer-bottom {
  padding-top: 12px;
}
.footer-bottom  .copy p {
  font-size: 15px;
}
.footer-bottom  .copy h2 {
  PADDING-TOP: 0;
  PADDING-BOTTOM: 26PX;
}
.footer-bottom  .copy a {
  font-size: 16px;
}




}









@media (Min-width:576px){
  header .header-top .header-nav .bars {
    display: block;
    flex: 0;
}

  header .header-top .header-nav.bars .logo {
padding-left: 54px;
  }
  header .header-top .header-nav .logo {
    padding: 0px 144px;
}
header .header-top .header-nav .nav {
  padding: 0;
}
header .header-top .header-nav .bell {
flex: 0;
}
header .header-top .header-nav .logo img {
height: 40px;
width: 58px;
}
header .header-nav .logo h1 {
  font-size: 22px;

}
header .header-top .header-nav .logo  p {
  font-size: 13px;
  padding-left: 48px;
}
header .header-top  .header-nav .nav .mid-nav ul li {
  padding: 10px 62PX;
  font-size: 20px;
  FONT-FAMILY: SANS-SERIF;
}
header .header-nav .nav .search {
    display: NONE;
  }
  header .header-nav .nav .mid-nav {
    flex: 1;
    display: NONE;
  }
  header .header-nav .btn button {
    display: none;
  }
.header-bottom {
display: block;
}
header .header-top .header-nav .mid-nav .logo-visi {
  padding-top: 50px;
}
header .header-top .header-nav .mid-nav .logo-visi .logo img{
width: 30px;
height: auto;
}
header .header-top .header-nav .mid-nav .logo-visi .logo h1{
  font-size: 18px; 
}
header .header-top .header-nav .mid-nav .logo-visi .logo p{
  font-size: 15px;
  padding-left: 15px;
}
  header .header-nav .nav .menu-list {
    display: block;
    height: 1866px;
    width: 359px;
  background-color: #4E5053;
  position: absolute;
  left: -340px;
  top: 0;
  padding-top: 30px;
  z-index: 1;
  transition: 3s ease all;
}
header .header-nav .nav .menu-list ul {
  display: flex;
  flex-direction: column;
}
header.header-top .header-nav .bell img {
    height: 34px;
    border-radius: 60%;
    width: 40px;
    background-color: black;
}
.header-bottom .header-b-val {
  display: flex;
  GAP: 15PX;
}

.header-bottom .header-b-val .input-search input {
  height: 40px;
  width: 405px;
  border-radius: 10px;
  border: none;
  background: gainsboro;
  padding: 0 38px;
  font-size: 18px;
}
.header-bottom .header-b-val .input-search span {
  position: absolute;
  top: 14px;
  left: 9px;
  font-size: 14px;
  color: gray;
}
.btn button {
  background:#FDC7B0;
  border: NONE;
  height: 41px;
  width: 102px;
  font-size: 13px;
  border-radius: 10px;
}
main section {
  padding: 28px 29px;
}

main section .Ajio-main .Ajio img{
width:250px;
}
main section .Ajio-main .Ajio1 img{
width:250px;
}
.Ajio2 {
display: none;
}
.Ajio3{
display: none;
}
main section .Ajio-main .Ajio-img img{
width:50px;
}

main section .Ajio-main .Ajio-img {
top: 159px;
left: 5px;
}
main section .Ajio-main .profit p {
font-size: 12px;
margin-left: 110px;
padding-top: 14px;
}
main section .Ajio-main  .profit h2 {
font-size: 13px;
margin-left: 145px;
}
main section .Ajio-main  .flex-btn .btn1 button {
width: 80px;
height: 31px;
}
main section .Ajio-main .flex-btn .btn1 a {
font-size: 16px;
}
main section .Ajio-main .flex-btn {
gap: 86px;
padding: 0px 20px;
}
main section .Ajio-main .Ajio {
height: 290px;
width: 254px;
}
main section .Ajio-main .Ajio1 {
height: 290px;
width: 254px;
}
.Ajio-main {
gap: 15px;
}
main section .grid-img h2 {
font-size: 27px;
font-family: monospace;
padding: 1px 8px 20px;
}
.flipkart2 {
display: none;
}
.flipkart3 {
display: none;
}


main section .flp-grid-img h2 {
font-size: 28px;
padding: 1px 10px 20px;
}

main section .flipkart-main .flipkart img{
  width:250px;
}
main section .flipkart-main .flipkart1 img{
  width:250px;
}
main section .flipkart-main .flipkart-img img{
  width:40px;
}
main section .flipkart-main .flp-btn {

gap: 88px;
}
main section .flipkart-main .flipkart-img {
  top: 155px;
  left: 12px;
}
main section .flipkart-main .flp-profit p {
font-size: 14px;
margin-left: 94px;
padding-top: 13px;
}
main section .flipkart-main .flp-profit h2 {
font-size: 14px;
margin-left: 119px;
}
main section .flipkart-main  .flp-btn1 button {
width: 80px;
height: 31px;
}
main section .flipkart-main  .flp-btn1 button a{
font-size: 16px;
}
main section .flipkart-main  .flipkart {

height: 297px;
width: 254px;
}
main section .flipkart-main  .flipkart1 {

height: 297px;
width: 254px;
}
main section  .flipkart-main {
GAP: 17PX;
}

main section .mnt-grid-img h2 {
font-size: 29px;
font-family: monospace;
padding: 1px 10px 20PX;
}
.Myntra2 {
DISPLAY: NONE;
}
.Myntra3 {
DISPLAY: NONE;

}
.Myntra-main .Myntra img{
width:250px;

}
.Myntra-main .Myntra1 img{
width:250px;
}
.Myntra-main .Myntra-img img{
width:50px;
}
.Myntra-main  .Myntra-img {
top: 154px;
left: 8px;
}

.Myntra-main .mnt-profit p {
font-size: 14px;
margin-left: 90px;
padding-top: 13px;
}

.Myntra-main .mnt-profit h2 {
font-size: 14px;
margin-left: 108px;
}

.Myntra-main .mnt-btn1 button {
width: 80px;
height: 31px;
}
.Myntra-main .mnt-btn1 button a {
font-size: 16px;
}
.Myntra-main  .Myntra {
height: 295px;
width: 253px;
}
.Myntra-main  .Myntra1 {
height: 295px;
width: 253px;
}

.Myntra-main .mnt-btn {
display: flex;
gap: 97px;
padding: 9px 20px;
}

footer .footer-grid {
display: grid;
grid-template-columns: repeat(1,1fr);
}

footer  .footer {
padding-top: 11px;
}

footer  .footer  .abt-link {
display: none;
}
.read {
display: none;
}
.page {
display: none;
}
.connect {
display: none;
}
footer  .footer .Download h2 {
padding: 0 0;
font-size: 22px;
}

footer  .footer .Download {
PADDING: 11PX 77PX;
}
footer  .footer .Download .app-link img{
width:100px;
}
footer  .footer .app-link {
padding: 8px 20px;
}
footer  .footer  .Subscribe h2 {
padding: 0 8px;
font-size: 22px;
}
footer  .footer  .Subscribe {
text-align: center;
}
footer  .footer .Subscribe p {
padding-top: 16px;
font-size: 11px;
}

footer  .footer .email-btn button {
width: 101px;
height: 36px;
font-size: 18px;
}
footer  .footer .email {
padding: 30px 0 18px;
}
.footer-bottom {
padding-top: 12px;
}
.footer-bottom  .copy p {
font-size: 15px;
}
.footer-bottom  .copy h2 {
PADDING-TOP: 0;
PADDING-BOTTOM: 26PX;
}
.footer-bottom  .copy a {
font-size: 16px;
}




}



@media (Min-width:768px){
  header .header-top .header-nav .mid-nav .logo-visi .logo img {
    height: auto;
    width:100%;
}
header .header-top .header-nav .mid-nav .logo-visi .logo .h1{
  font-size:20px;
}
  .header-bottom .header-b-val .input-search input {
    height: 45px;
    width: 597px;
  }
  header .header-nav .nav .menu-list {
    display: block;
    height: 1865px;
    width: 456px;
  }
  header .header-nav   .menu-list li a {
    color: white;
    font-size: 20px;
}
.header-bottom .header-b-val .input-search span {
  top: 14px;
  left: 12px;
  font-size: 15px;
}
.header-bottom .header-b-val {
  display: flex;
  GAP: 12PX;
}

header .header-top .header-nav .logo {
  padding: 0px 237px;
}

header .header-top .header-nav .mid-nav .logo-visi .logo {
  padding: 0px 2px;
}
header .header-top .header-nav .mid-nav .logo-visi .logo p {
    font-size: 17px;
    padding-left: 37px;
}
main section .Ajio-main .Ajio2 img {
  width: 205px;
  
}
main section .Ajio-main .Ajio2{
  display:block;
  height: 258px;
  width: 210px;
}
.Ajio-main {
  gap: 34px;
}
main section .Ajio-main .Ajio img {
  width: 205px;
}
main section .Ajio-main .Ajio1 img {
  width: 205px;
}
main section .Ajio-main .Ajio-img img {
  width:50px;
  } 
  main section .Ajio-main .Ajio-img {
    top: 131px;
    left: 5px;
}
main section .Ajio-main .profit p {
  font-size: 12px;
  margin-left: 69px;
  padding-top: 0px;
}
main section .Ajio-main .profit h2 {
  font-size: 13px;
  margin-left: 102px;
}
main section .Ajio-main .flex-btn {
  gap: 50px;
  padding: 14px 16px;
}
main section .Ajio-main .Ajio {
  width: 211px;
  height: 258px;
}
main section .Ajio-main .Ajio1 {
  width: 211px;
  height: 258px;

}

main section .flipkart-main .flipkart img {
  width: 205px;
}
main section .flipkart-main .flipkart1 img {
  width: 205px;
}
main section .flipkart-main .flipkart2 img {
  width: 205px;
}
main section .flipkart-main .flipkart-img img {
  width: 40px;
}
main section .flipkart-main .flipkart-img {
  top: 130px;
  left: 8px;
}
main section .flipkart-main .flp-profit p {
  font-size: 12px;
  margin-left: 68px;
  padding-top: 4px;
}
main section .flipkart-main .flp-profit h2 {
  font-size: 13px;
  margin-left: 81px;
}
main section .flipkart-main .flp-btn {
  gap: 49px;
  padding: 13px 10px;
}
main section .flipkart-main .flipkart {
  height: 264px;
  width: 209px;
}
main section .flipkart-main .flipkart1 {
  height: 264px;
  width: 209px;
}
main section .flipkart-main .flipkart2 {
  height: 264px;
  width: 209px;
  display:block;
}
main section .flipkart-main {
  GAP: 35PX;
}
.Myntra-main .Myntra img {
  width: 205px;
}
.Myntra-main .Myntra1 img {
  width: 205px;
}
.Myntra-main .Myntra2 img {
  width: 205px;
}
.Myntra-main .Myntra-img img {
width:40px;
}
.Myntra-main .Myntra-img {
  top: 125px;
  left: 8px;
}
.Myntra-main .mnt-profit p {
  font-size: 12px;
  margin-left: 63px;
  padding-top: 0;
}
.Myntra-main .mnt-profit h2 {
  font-size: 14px;
  margin-left: 60px;
}
.Myntra-main .mnt-btn {
  display: flex;
  gap: 54px;
  padding: 19px 14px;
}
.Myntra-main .Myntra {
  height: 263px;
  width: 208px;
}
.Myntra-main .Myntra1 {
  height: 263px;
  width: 208px;
}
.Myntra-main .Myntra2 {
  height: 263px;
  width: 208px;
  display:block;
}
.Myntra-main {
  gap: 34px;
}
footer .footer .About {
  display: flex;
  padding:0 117px;
}
footer .footer .Download h2 {
  padding: 8px 0 0 40px;
  font-size: 23px;
  text-align: center;
}
footer .footer .app-link {
  padding: 15px 0 0 124px;
}
footer .footer .Download .app-link img {
  width: 132px;
}
footer .footer .Subscribe h2 {
  padding: 0 0 0 35px;
  font-size: 25px;
}

footer .footer  .email input {
  width: 283.8px;
  height: 45px;
  font-size: 17px;

}
footer .footer .email {
  padding: 16px 0 14px 66px;
}
footer .footer .Subscribe p {
  font-size: 15px;
  padding: 10px 34px 0 96px;
}
footer .footer  .email-btn {
  padding: 0 15px 0 63px;
}
.footer-bottom .copy p {
  font-size: 18px;
}








}





@media (Min-width:1024px){
  header .header-top .header-nav .logo {
    padding: 0px 345px;
}


    header .header-nav .logo h1 {
      font-size: 33px;
  }
  header .header-top .header-nav .logo p {
    font-size: 22px;
    padding-left: 66px;
}
.header-bottom .header-b-val .input-search span {
  top: 17px;
  left: 11px;
  font-size: 18px;
} 

    .header-bottom .header-b-val {
      display: flex;
      gap: 15px;
    }
  
    .header-bottom .header-b-val .input-search input {
      height: 53px;
      width: 842px;
  }
  .btn button{
    height: 50px;
    width: 108px;
    font-size: 15px;
  }
  
  header .header-nav .nav .menu-list {
    width: 603px;
    height: 1806px;
  }
header .header-top .header-nav .mid-nav .logo-visi .logo img {
  width: AUTO;
  height: AUTO;
}
header .header-top .header-nav .mid-nav .logo-visi .logo p {
font-size: 20px;
padding-left: 29px;
}

   .menu-list ul li a {
    color: white;
    font-size: 23px;
    FONT-FAMILY: SANS-SERIF;
  }
  main section .Ajio-main .Ajio3 img {
    width: 205px;
}
main section .Ajio-main .Ajio-img img{
  width:50px;
}
main section .Ajio-main .Ajio3 {
  width: 209px;
  height:263px;
  display:block;

}

main section .Ajio-main .flex-btn {
  gap: 46px;
  padding: 14px 16px;
}

main section .flipkart-main .flipkart3 img {
  width: 205px;
}
main section .flipkart-main .flipkart3 {
  display:block;
  width:209px;
  height:263px;
}
main section .flipkart-main .flipkart-img img {
width:50px;
}
.Myntra-main .Myntra3 img {
  width: 205px;
}
.Myntra-main .Myntra3 {
  width: 209px;
  height:263px;
  display:block;
}
.Myntra-main .Myntra-img img {
  width: 50px;
}
footer .footer .About {
  display: flex;
  padding: 0px 240px;
}
footer .footer .Download .app-link img {
  width: 135px;
}
footer .footer .app-link {
  padding: 19px 0 0 249px;
}
footer .footer .Subscribe h2 {
  padding: 0 0 0 35px;
  font-size: 28px;
}
footer .footer .email input {
  width: 337.8px;
  height: 49px;
  font-size: 18px;
}
footer .footer .email-btn {
  padding: 5px 6px 0 56px;
}




















}



@media (min-width: 1440px) {
  header .header-top .header-nav .logo {
    padding: 0;
}
    header .header-top .header-nav .bars {
      display: none;
    }
    header .header-nav .nav .search {
      display: block;
    }
    header .header-top .header-nav .logo {
      flex: 0;
  }
    header .header-nav .nav .mid-nav {
      display: block;
    }
    .header-bottom {
      display: none;
    }
    header  .header-top .header-nav {
      display: flex;
      padding: 15px 0 0 44px;
  }
    header .header-top .header-nav .bell {
      display: block;
      padding: 17px 0;
      flex: 0.9;
  }
        header  .header-top .header-nav .nav .mid-nav ul li {
          padding: 10px 30px;
          font-size: 20px;
          font-family: sans-serif;
          font-weight: 100;    } 
  
    header .header-nav .btn button {
      display: block;
    }
    header  .header-top .header-nav .mid-nav .logo-visi .logo{
      display: none;
    }
    header .header-nav .nav .mid-nav ul li .arrowleft{
      display: none;
    }
    header .header-nav .btn {
      display: block;
  }
  header .header-nav .nav .search span {
    position: absolute;
    left: 14px;
    top: 10px;
    font-size: 15px;
  }
  header .header-nav .nav {
    padding: 0 16px;
  }
  header .header-top .header-nav .logo p {
    font-size: 19px;
    padding-left: 72px;
  }
  main section {
    padding: 28px 46px;
}
  main section .Ajio-main .Ajio img {
    width: 305px;
}
main section .Ajio-main .Ajio1 img {
  width: 305px;
}
main section .Ajio-main .Ajio2 img {
  width: 305px;
}
main section .Ajio-main .Ajio3 img {
  width: 305px;
}
main section .Ajio-main .Ajio-img  img{
  width:50px;
}
main section .Ajio-main .Ajio {
  width: 309px;
  height: auto;
}
main section .Ajio-main .Ajio1 {
  width: 309px;
  height: auto;
}
main section .Ajio-main .Ajio2 {
  width: 309px;
  height: auto;
}
main section .Ajio-main .Ajio3 {
  width: 309px;
  height: auto;
}
main section .Ajio-main .Ajio-img {
  top: 195px;
  left: 25px;
}
main section .Ajio-main .profit p {
  font-size: 16px;
  margin-left: 121px;
  padding-top: 4px;
}
main section .Ajio-main .profit h2 {
  font-size: 17px;
  margin-left: 160px;
}
main section .Ajio-main .flex-btn .btn1 button {
  width: 140px;
  height: 44px;
}
main section .Ajio-main .flex-btn .btn1 a {
  font-size: 21px;
}

main section .flex-btn .Amount h2 {
  font-size: 23px;
}
main section .Ajio-main .flex-btn {
  gap: 70px;
  padding: 7px 16px;
}
main section .flipkart-main .flipkart img {
  width: 305px;
}
main section .flipkart-main .flipkart1 img {
  width: 305px;
}
main section .flipkart-main .flipkart2 img {
  width: 305px;
}
main section .flipkart-main .flipkart3  img {
  width: 305px;
}
main section .flipkart-main .flipkart-img img{
  width:50px;
}
main section .flipkart-main .flipkart {
  width: 309px;
  height:AUTO;
}
main section .flipkart-main .flipkart1 {
  width: 309px;
  height:AUTO;
}
main section .flipkart-main .flipkart2 {
  width: 309px;
  height:AUTO;
}
main section .flipkart-main .flipkart3 {
  width: 309px;
  height:AUTO;
}
main section .flipkart-main .flipkart-img {
  top: 198px;
  left: 25px;
}
main section .flipkart-main .flp-profit p {
  font-size: 17px;
  margin-left: 105px;
  padding-top: 6px;
}
main section .flipkart-main .flp-profit h2 {
  font-size: 16px;
  margin-left: 139px;
}
main section .flipkart-main .flp-btn1 button {
  width: 138px;
  height: 44px;
}
main section .flipkart-main .flp-btn1 button a {
  font-size: 21px;
}

main section  .flp-btn .flp-Amount h2 {
  font-size: 23px;
  padding-top: 6px;
}
main section .flipkart-main .flp-btn {
  gap: 72px;
  padding: 13px 10px;
}
.Myntra-main .Myntra img {
  width: 305px;
}
.Myntra-main .Myntra1 img {
  width: 305px;
}
.Myntra-main .Myntra2 img {
  width: 305px;
}
.Myntra-main .Myntra3 img {
  width: 305px;
}
.Myntra-main .Myntra-img img {
  width: 50px;
}
.Myntra-main .Myntra {
  width: 309px;
  height:AUTO;
}  
.Myntra-main .Myntra1 {
  width: 309px;
  height:AUTO;

}  
.Myntra-main .Myntra2 {
  width: 309px;
  height:AUTO;

}  
.Myntra-main .Myntra3 {
  width: 309px;
  height:AUTO;

}  
.Myntra-main .Myntra-img {
  top: 192px;
  left: 24px;
}
.Myntra-main .mnt-profit p {
  font-size: 17px;
  margin-left: 102px;
  padding-top: 1px;
}
.Myntra-main .mnt-profit h2 {
  font-size: 17px;
  margin-left: 141px;
}
.Myntra-main .mnt-btn1 button {
  width: 145px;
  height: 44px;
}

.Myntra-main .mnt-btn .mnt-Amount h2 {
  font-size: 23px;
}
.Myntra-main .mnt-btn1 button a {
  font-size: 20px;
}
.Myntra-main .mnt-btn {
  display: flex;
  gap: 65px;
  padding: 11px 14px;
}

footer .footer .footer-grid {
  display: grid;
  gap: 30px;
  padding:0;
  grid-template-columns: repeat(6,1fr);
}
footer .footer .email input {
  width: 244.8px;
  height: 45px;
  font-size: 15px;
}
.Ft-main footer {
  padding: 32px 36px;
  background: black;
}
footer .footer .abt-link {
  padding: 29px 12px;
  display: block;
  width: 14.6pc;
}
footer .footer .read {
  DISPLAY: block;
  width: 15pc;
}
footer .footer .page {
  DISPLAY: block;
  width: 14.4pc;
}
footer .footer .connect {
  DISPLAY: block;
  width: 16.4pc;
}
footer .footer  .Download {
  display: none;
}
footer .footer  .Subscribe h2 {
  padding: 3px 0 0px;
  font-size: 27px;


}
footer .footer .About {
  display: flex;
  padding: 0;
}
footer .footer .Subscribe p {
  font-size: 17px;
  width: 14pc;
  padding: 50px 0 0 0;
}
footer .footer  .About img{
  display:none;
}
footer .footer  .Subscribe {
  PADDING: 5px 0PX;
}
footer .footer .abt-link a {
  color: white;
  FONT-SIZE: 17PX;
}
footer .footer .About h2 {
  padding: 13px 4px 0;
  font-size: 27px;
}
footer .footer  .rd-link a {
  color: white;
  FONT-SIZE: 18PX;
}
footer .footer .pg-link a {
  color: white;
  FONT-SIZE: 18PX;
}
footer .footer .cnt-link a {
  color: white;
  FONT-SIZE: 19PX;
}
footer .footer  .Subscribe p {
  padding-top: 46px;
  font-size: 18px;
}
footer .footer  .email {
  padding: 76px 0px 0;
}
footer .footer .email-btn {
  padding: 13px 51px 0;
}
footer .footer .email-btn button {
  background: #FDC7B0;
  width: 122px;
  height: 41px;
  font-size: 20px;
}
.footer-bottom .copy p {
  font-size: 21px;
}
.footer-bottom .copy a {
  font-size: 20px;
}
}
@media (min-width:1914px) {
  .header-main header .header-top {
    margin: 0px 83px 0px 159px;
    padding: 0px;
}
header .header-top .header-nav .bell {
  flex: 0.8;
}
header .header-top .header-nav .nav .mid-nav ul li {
  padding: 10px 37px;
  font-size: 22px;
}
main section {
  padding: 28px 158px 70px 199px;
}
main section .Ajio-main .Ajio img {
  width: 342px;
}
main section .Ajio-main .Ajio1 img {
  width: 342px;
}
main section .Ajio-main .Ajio2 img {
  width: 342px;
}
main section .Ajio-main .Ajio3 img {
  width: 342px;
}
main section .Ajio-main .Ajio-img img {
  width: 52px;
}
main section .Ajio-main .Ajio  {
  width: 347px;
}
main section .Ajio-main .Ajio1  {
  width: 347px;
}
main section .Ajio-main .Ajio2  {
  width: 347px;
}
main section .Ajio-main .Ajio3  {
  width: 347px;
}
main section .Ajio-main .Ajio-img {
  top: 223px;
  left: 27px;
}
main section .Ajio-main .flex-btn {
  gap: 98px;
  padding: 7px 27px;
}
main section .Ajio-main .profit p {
  font-size: 18px;
  margin-left: 140px;
  padding-top: 4px;
}
main section .Ajio-main .profit h2 {
  font-size: 18px;
  margin-left: 199px;
}
header .header-top .header-nav .nav {
  gap: 47px;
}
main section .flipkart-main .flipkart img {
  width: 342px;
}
main section .flipkart-main .flipkart1 img {
  width: 342px;
}
main section .flipkart-main .flipkart2 img {
  width: 342px;
}
main section .flipkart-main .flipkart3 img {
  width: 342px;
}
main section .flipkart-main .flipkart-img img {
  width: 50px;
}
main section .flipkart-main .flipkart-img {
  top: 222px;
  left: 30px;
}
main section .flipkart-main .flipkart  {
  width: 347px;
}
main section .flipkart-main .flipkart1  {
  width: 347px;
}
main section .flipkart-main .flipkart2 {
  width: 347px;
}

main section .flipkart-main .flipkart3  {
  width: 347px;
}
main section .flipkart-main .flp-btn {
  gap: 88px;
  padding: 13px 29px;
}
main section .flipkart-main .flp-profit p {
  font-size: 18px;
  margin-left: 124px;
  padding-top: 6px;
}
main section .flipkart-main .flp-profit h2 {
  font-size: 17px;
  margin-left: 161px;
}
.Myntra-main .Myntra img {
  width: 342px;
}
.Myntra-main .Myntra2 img {
  width: 342px;
}
.Myntra-main .Myntra1 img {
  width: 342px;
}
.Myntra-main .Myntra3 img {
  width: 342px;
}
.Myntra-main .Myntra-img img {
  width:50px;
}
.Myntra-main .Myntra {
  width: 347px;
}
.Myntra-main .Myntra1 {
  width: 347px;
}
.Myntra-main .Myntra2 {
  width: 347px;
}
.Myntra-main .Myntra3 {
  width: 347px;
}
.Myntra-main .Myntra-img {
  top: 221px;
  left: 31px;
}
.Myntra-main .mnt-btn {
  display: flex;
  gap: 88px;
  padding: 11px 31px;
}
.Myntra-main .mnt-profit p {
  font-size: 19px;
  margin-left: 116px;
  padding-top: 2px;
}
.Myntra-main .mnt-profit h2 {
  font-size: 18px;
  margin-left: 154px;
}
footer .footer .About img {
  display: block;
  width: 56px;
  height:AUTO;
}
footer .footer .Download {
  display: block;
  padding: 0;
}
footer .footer .Download h2 {
  padding: 11px 0 0 40px;
  font-size: 27px;
  /* text-align: center; */
}
footer .footer .app-link {
  padding: 46px 0 0 80px;
}
footer .footer .abt-link {

  width: 13pc;
}
footer .footer .read {
  width: 14pc;
}
footer .footer .footer-grid {
  display: grid;
  gap: 0;
}
.Ft-main footer {
  padding: 32px 99px 0 195px;
  background: black;
}
.footer-bottom .copy p {
  font-size: 24px;
}
.footer-bottom .copy h2 {
  PADDING-TOP: 5px;
  PADDING-BOTTOM: 26PX;
}


}

@media (Max-width:425px){
 .header-main header .header-top {
    margin: 0px 0 0px 0;
    padding: 0px;
}
.header-main .header-bottom {
  padding: 13px;
}
  header .header-top .header-nav .logo {
    padding: 0px 72px;
}
header .header-top .header-nav .logo img {
  height: 29px;
  width: 50px;
}
.header-bottom .header-b-val .input-search input {
  height: 45px;
  width: 282px;
  padding: 0 29px;
  font-size: 19px;
}
.header-bottom .header-b-val .input-search span {
  top: 15px;
  left: 9px;
  font-size: 14px;

}
main section .grid-img h2 {
  font-size: 24px;
  padding: 10px 0 20px;
}
main section {
  padding: 0px 15px;
}
main section .Ajio-main .Ajio img {
  width: 185px;
}
main section .Ajio-main .Ajio1 img {
  width: 185px;
}
main section .Ajio-main .Ajio-img img {
  width: 30px;
}
main section .Ajio-main .Ajio  {
  width: 190px;
  height: 238px;
}
main section .Ajio-main .Ajio1  {
  width: 190px;
  height: 238px;
}
main section .Ajio-main .Ajio-img {
  top: 113px;
  left: 5px;
}
main section .Ajio-main .profit p {
  font-size: 13px;
  margin-left: 40px;
  padding-top: 0;
}
main section .Ajio-main .profit h2 {
  font-size: 12px;
  margin-left: 88px;
}
main section .flex-btn .Amount h2 {
  font-size: 17px;
}
main section .Ajio-main .flex-btn {
  gap: 40px;
  padding: 13px 7px;
}
main section .Ajio-main .flex-btn .btn1 a {
  font-size: 14px;
}
main section .flp-grid-img h2 {
  font-size: 22px;
  padding: 1px 10px 20px;
}
main section .flipkart-main .flipkart img {
  width: 185px;
}
main section .flipkart-main .flipkart1 img {
  width: 185px;
  
}
main section .flipkart-main .flipkart-img img {
  width: 30px;
}
main section .flipkart-main .flipkart-img {
  top: 118px;
  left: 7px;
}
main section .flipkart-main .flp-profit p {
  font-size: 11px;
  margin-left: 55px;
  padding-top: 0;
}
main section .flipkart-main .flp-profit h2 {
  font-size: 12px;
  margin-left: 68px;
}

main section  .flp-btn .flp-Amount h2 {
  font-size: 17px;
}
main section .flipkart-main .flp-btn {
  gap: 45px;
  padding: 15px 7px;
}
main section .flipkart-main .flipkart {
  height: 238px;
  width: 190px;
}
main section .flipkart-main .flipkart1 {
  height: 238px;
  width: 190px;
}
main section .mnt-grid-img h2 {
  font-size: 23px;
  padding: 1px 10px 20PX;
}
.Myntra-main .Myntra img {
  width: 185px;
}
.Myntra-main .Myntra1 img {
  width: 185px;
}
.Myntra-main .Myntra-img img{
  WIDTH:40px;
}
.Myntra-main .Myntra-img {
  top: 115px;
  left: 6px;
}
.Myntra-main .mnt-profit p {
  font-size: 12px;
  margin-left: 54px;
  padding-top: 0;
}
.Myntra-main .mnt-profit h2 {
  font-size: 11px;
  margin-left: 76px;
}
main section .flipkart-main .flp-btn1 button a {
  font-size: 13px;
}
main section .mnt-btn .mnt-Amount h2 {
  font-size: 18px;
}
.Myntra-main .mnt-btn {
  gap: 55px;
  padding: 13px 5px;
}
.Myntra-main .Myntra {
  height: 235px;
  width: 190px;
}
.Myntra-main .Myntra1 {
  height: 235px;
  width: 190px;
}

.Myntra-main {
  GAP: 15PX;
}
.Ft-main{
  margin-top:50px;
}

.Ft-main footer {
  padding: 10px 52px;
  
}
.Ft-main footer  .main-about .About img{
  WIDTH:auto;
  height:auto;
}
header .header-nav .nav .menu-list {
  display: block;
  height: 1654px;
  width: 294px;
}
}


@media (max-width:375px) {
header .header-top .header-nav .logo {
  padding: 0px 55px;
}
.header-bottom .header-b-val .input-search input {
  height: 43px;
  width: 234px;
  padding: 3px 24px;
  font-size: 17px;
}
main section .Ajio-main  .Ajio img {
  width: 160px;
}
main section .Ajio-main  .Ajio1 img {
  width: 160px;
}
main section .Ajio-main  .Ajio-img img {
  width: 30px;
}
main section .Ajio-main .Ajio-img {
  top: 102px;
  left: 4px;
}
main section .Ajio-main .profit p {
  font-size: 12px;
  margin-left: 30px;
  padding-top: 9px;
}
main section .Ajio-main .profit h2 {
  font-size: 12px;
  margin-left: 64px;
}
main section .Ajio-main .flex-btn .btn1 button {
  width: 72px;
  height: 29px;
}
main section .Ajio-main .Ajio {
  width: 165px;
  height: 225px;
}
main section .Ajio-main .Ajio1 {
  width: 165px;
  height: 225px;
}
main section .flex-btn .Amount h2 {
  font-size: 15px;
  padding: 0;
}
.Ajio-main {
  gap: 16px;
}
main section .flipkart-main .flipkart img {
  width: 160px;
}
main section .flipkart-main .flipkart1 img {
  width: 160px;
}
main section .flipkart-main .flipkart-img img {
  width: 30px;
}
main section .flipkart-main .flipkart-img {
  top: 100px;
  left: 7px;
}
main section .flipkart-main .flp-profit p {
  font-size: 11px;
  margin-left: 35px;
  padding-top: 17px;
}
main section .flipkart-main .flp-profit h2 {
  font-size: 12px;
  margin-left: 43px;
}
main section .flp-btn .flp-Amount h2 {
  font-size: 15px;
  padding: 0;
}
main section .flipkart-main .flp-btn1 button {
  width: 72px;
  height: 29px;
}
main section .flipkart-main .flp-btn {
  gap: 33px;
  padding: 17px 7px;
}
main section .flipkart-main .flipkart {
  height: 238px;
  width: 165px;
}
main section .flipkart-main .flipkart1 {
  height: 238px;
  width: 165px;
}
.Myntra-main .Myntra img {
  width: 160px;
}
.Myntra-main .Myntra1 img {
  width: 160px;
}
.Myntra-main .Myntra-img img {
WIDTH:30px;
}
.Myntra-main .Myntra-img {
  top: 99px;
  left: 5px;
}
.Myntra-main .mnt-profit p {
  font-size: 12px;
  margin-left: 27px;
  padding-top: 5px;
}
.Myntra-main .mnt-profit h2 {
  font-size: 11px;
  margin-left: 58px;
}
.Myntra-main .mnt-btn1 button {
  width: 66px;
  height: 27px;
}
.Myntra-main .mnt-btn1 button a {
  font-size: 13px;
}
main section .mnt-btn .mnt-Amount h2 {
  font-size: 16px;
  padding: 0;
}
.Myntra-main .mnt-btn {
  gap: 52px;
  padding: 13px 5px;
}
.Myntra-main .Myntra {
  height: 217px;
  width: 164px;
}
.Myntra-main .Myntra1 {
  height: 217px;
  width: 164px;
}
.Ft-main footer .main-about .About img {
  WIDTH: 52px;
  height: 42px;
}
.Ft-main footer .About h2 {
  padding: 7px 8px;
  font-size: 23px;
}
footer .footer .Download {
  PADDING: 8PX 56PX;
}
footer .footer .Subscribe {
  text-align: center;
  padding: 0;
}
footer .footer .email {
  padding: 14px 0 18px;
}
.footer-bottom .copy p {
  font-size: 14px;
}
.footer-bottom .copy a {
  font-size: 14px;
}
header .header-nav .nav .menu-list {
  display: block;
  height: 1572px;
  width: 294px;
}

}

@media (Max-width:320px){
  header .header-top .header-nav .bell img {
    height: 38px;
    border-radius: 51%;
    width: 44px;
    background-color: black;
  }
  header .header-top .header-nav .logo img {
    height: 26px;
    width: 36px;
}
header .header-top .header-nav .bars button {
  height: 31px;
  width: 37px;
}
header .header-top .header-nav .logo {
  padding: 0px 48px;
}
.btn button {
  height: 41px;
  width: 82px;
  font-size: 11px;
  border-radius: 10px;
}
.header-bottom .header-b-val .input-search input {
  height: 43px;
  width: 199px;
  padding: 3px 24px;
  font-size: 17px;
}
main section .Ajio-main .Ajio img {
  width: 140px;
}
main section .Ajio-main .Ajio1 img {
  width: 140px;
}
main section .Ajio-main .Ajio-img img {
  width: 20px;
}
main section .Ajio-main .Ajio-img {
  top: 90px;
  left: 4px;
}
main section .Ajio-main .profit p {
  font-size: 9px;
  margin-left: 41px;
  padding-top: 0;
}
main section .Ajio-main .profit h2 {
  font-size: 11px;
  margin-left: 54px;
}
main section .Ajio-main .flex-btn .btn1 button {
  width: 67px;
  height: 27px;
}
main section .Ajio-main .flex-btn .btn1 a {
  font-size: 11px;
}
main section .flex-btn .Amount h2 {
  font-size: 12px;
  padding: 0;
}
main section .Ajio-main .flex-btn {
  gap: 27px;
  padding: 14px 7px;
}
main section .Ajio-main .Ajio {
  width: 147px;
  height: 195px;
}
main section .Ajio-main .Ajio1 {
  width: 147px;
  height: 195px;
}
main section {
  padding: 0px 8px;
}
.Ajio-main {
  gap: 6px;
}
main section .flipkart-main .flipkart img {
  width: 140px;
}
main section .flipkart-main .flipkart1 img {
  width: 140px;
}
main section .flipkart-main .flipkart-img img {
  width: 20px;
}
main section .flipkart-main .flipkart-img {
  top: 91px;
  left: 7px;
}
main section .flipkart-main .flp-profit p {
  font-size: 9px;
  margin-left: 39px;
  padding-top: 3px;
}
main section .flipkart-main .flp-profit h2 {
  font-size: 10px;
  margin-left: 43px;
}
main section .flp-btn .flp-Amount h2 {
  font-size: 13px;
  padding: 0;
}
main section .flipkart-main .flp-btn1 button {
  width: 64px;
  height: 27px;
}
main section .flipkart-main .flp-btn1 button a {
  font-size: 11px;
}
main section .flipkart-main .flipkart {
  height: 202px;
  width: 145px;
}
main section .flipkart-main .flipkart1 {
  height: 202px;
  width: 145px;
}
main section .flipkart-main {
  GAP: 9PX;
}
header .header-nav .nav .menu-list {
  display: block;
  height: 1506px;
  width: 260px;
}
header .header-top .header-nav .nav .mid-nav ul li {
  padding: 10px 39PX;
  font-size: 20px;
  FONT-FAMILY: SANS-SERIF;
}
.Myntra-main .Myntra img {
  width: 140px;
}
.Myntra-main .Myntra1 img {
  width: 140px;
}
.Myntra-main .Myntra-img img {
  width: 20px;
}
.Myntra-main .Myntra-img {
  top: 88px;
  left: 5px;
}
.Myntra-main .mnt-profit p {
  font-size: 10px;
  margin-left: 28px;
  padding-top: 4px;
}
.Myntra-main .mnt-profit h2 {
  font-size: 11px;
  margin-left: 32px;
}
main section .mnt-btn .mnt-Amount h2 {
  font-size: 13px;
  padding: 0;
}
.Myntra-main .mnt-btn1 button a {
  font-size: 12px;
}
.Myntra-main .mnt-btn {
  gap: 39px;
  padding: 13px 5px;
}
.Myntra-main .Myntra {
  height: 201px;
  width: 145px;
}
.Myntra-main .Myntra1 {
  height: 201px;
  width: 145px;
}
.Myntra-main {
  GAP: 9PX;
}
.Ft-main footer .main-about .About img {
  WIDTH: 41px;
  height: 34px;
}
.Ft-main footer .About h2 {
  padding: 0 8px;
  font-size: 21px;
}
footer .footer .Download h2 {
  padding: 0 0;
  font-size: 18px;
}
footer .footer .app-link {
  padding: 11px 14px;
}
.Ft-main footer {
  padding: 10px 43px;
}
.footer-bottom .copy p {
  font-size: 12px;
}

}

@media (Min-width:2560px){
  header .header-top .header-nav .bell {
    flex: 0.5;
}
header .header-top .header-nav {
  display: flex;
  padding: 22px 9px 12px 104px;
}
header .header-top .header-nav .logo img {
  height: 63px;
  width: 82px;
}
header .header-nav .logo h1 {
  font-size: 37px;
}
header .header-top .header-nav .logo p {
  font-size: 22px;
  padding-left: 75px;
}
header .header-top .header-nav .nav .mid-nav ul li {
  padding: 10px 64px;
  font-size: 26px;
}
main section .grid-img h2 {
  font-size: 35px;
}   
main section .Ajio-main .Ajio img {
  width: 420px;
}
main section .Ajio-main .Ajio1 img {
  width: 420px;
}main section .Ajio-main .Ajio2 img {
  width: 420px;
}main section .Ajio-main .Ajio3 img {
  width: 420px;
}
main section .Ajio-main .Ajio-img img {
  width: 60px;
}
main section .Ajio-main .Ajio {
  width: 425px;
}
main section .Ajio-main .Ajio1 {
  width: 425px;
}
main section .Ajio-main .Ajio2 {
  width: 425px;
}
main section .Ajio-main .Ajio3 {
  width: 425px;
}
.header-main header .header-top {
  margin: 0px 0 0px 226px;
  padding: 0px;
}
main section {
  padding: 28px 299px 70px 328px;
}
main section .flp-grid-img h2 {
  font-size: 35px;
  padding: 1px 10px 20px;
}
main section .Ajio-main .profit p {
  font-size: 21px;
  margin-left: 156px;
  padding-top: 4px;
}
main section .Ajio-main .profit h2 {
  font-size: 24px;
  margin-left: 206px;
}
main section .Ajio-main .flex-btn .btn1 button {
  width: 198px;
  height: 56px;
}
main section .Ajio-main .Ajio-img {
  top: 265px;
  left: 27px;
}
main section .Ajio-main .flex-btn {
  gap: 81px;
  padding: 20px 27px 23px;
}
main section .flex-btn .Amount h2 {
  font-size: 28px;
}
main section .Ajio-main .flex-btn .btn1 a {
  font-size: 29px;
}
main section .flipkart-main .flipkart img {
  width: 420px;
}main section .flipkart-main .flipkart1 img {
  width: 420px;
}main section .flipkart-main .flipkart2 img {
  width: 420px;
}main section .flipkart-main .flipkart3 img {
  width: 420px;
}
main section .flipkart-main .flipkart-img img {
  width: 60px;
}
main section .flipkart-main .flipkart {
  width: 425px;
}
main section .flipkart-main .flipkart1 {
  width: 425px;
}
main section .flipkart-main .flipkart2 {
  width: 425px;
}
main section .flipkart-main .flipkart3 {
  width: 425px;
}
main section .flipkart-main .flipkart-img {
  top: 268px;
  left: 30px;
}
main section .flipkart-main .flp-profit p {
  font-size: 21px;
  margin-left: 156px;
  padding-top: 4px;
}
main section .flipkart-main .flp-profit h2 {
  font-size: 24px;
  margin-left: 173px;
  padding-top: 4px;
}
main section .flipkart-main .flp-btn1 button {
  width: 198px;
  height: 56px;
}
main section .flipkart-main .flp-btn1 button a {
  font-size: 28px;
}
main section .flipkart-main .flp-btn {
  gap: 81px;
  padding: 20px 27px 23px;
}
main section .flp-btn .flp-Amount h2 {
  font-size: 31px;

}
.Myntra-main .Myntra img {
  width: 420px;
}
.Myntra-main .Myntra1 img {
  width: 420px;
}
.Myntra-main .Myntra2 img {
  width: 420px;
}
.Myntra-main .Myntra3 img {
  width: 420px;
}
.Myntra-main .Myntra-img img {
  width: 60px;
}
.Myntra-main .Myntra  {
  width: 425px;
}
.Myntra-main .Myntra1  {
  width: 425px;
}
.Myntra-main .Myntra2  {
  width: 425px;
}
.Myntra-main .Myntra3  {
  width: 425px;
}
.Myntra-main .mnt-profit p {
  font-size: 23px;
  margin-left: 126px;
  padding-top: 2px;
}
.Myntra-main .Myntra-img {
  top: 264px;
  left: 31px;
}
.Myntra-main .mnt-profit h2 {
  font-size: 23px;
  margin-left: 171px;
}
.Myntra-main .mnt-btn {
  gap: 81px;
  padding: 20px 27px 23px;
}
.Myntra-main .mnt-btn .mnt-Amount h2 {
  font-size: 31px;
}
.Myntra-main .mnt-btn1 button {
  width: 198px;
  height: 56px;
}
.Myntra-main .mnt-btn1 button a {
  font-size: 28px;
}
.Ft-main footer {
  padding: 32px 255px 0 328px;
  background: black;
}
footer .footer .Download h2 {
  padding: 11px 0 0 0;
  font-size: 27px;
  /* text-align: center; */
}
.Ft-main footer .footer .Subscribe p {
  padding-top: 45px;
  font-size: 18px;
  width: 21pc;
}









}












