*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
.main{
    align-items:stretch;
    /* position:fixed; */
    display: flex;
    height: 120px;
    width: 100%;
    background-color: black;
}
.logo {
    display: flex;
    color: white;
    position: relative;
    PADDING-LEFT: 8PC;
    padding-top: 33px;
    column-gap: 10px;
}
.logo-img img {
    height: 62px;
    width: 82px;
}
.logo .logo-p p {
    padding-top: 5px;
    color: white;
    font-family: cursive;
    font-size: 33px;
    font-weight: bold;
}
.logo .logo-p span {
    color: #f1c0ab;
    font-size: 17px;
    position: absolute;
    top: 74px;
    padding-left: 54px;
    font-weight: 100;
    letter-spacing: 3px;
}
.logo .logo-p p:hover{
    color: red;
    text-transform: uppercase;  
}
.logo .src{
    padding-top:7px;
}
.logo .src span{
position: absolute;
    padding-left: 11px;
    padding-top: 11px;
}
.logo .src input {
    width: 15pc;
    height: 39px;
    padding-left: 40px;
    border: none;
    outline: none;
    border-radius: 20px;
    background: #4E5053;
font-size: 18px;
    color: black;
    
}
.heder-link {
    padding-left: 7pc;
    padding-top: 46px;
}
.heder-link ul li {
    display: inline-block;
}
.heder-link a {
    padding-left: 71px;
    color: white;
    font-size: 19px;
    font-family: monospace;
}
.heder-link a:hover{
    color: whitesmoke;
    text-decoration: underline;
}
.main .them{
    padding-top: 31px;
    padding-left: 55px;

}

.main .them img{
border: 2px solid gold transparent;
border-radius: 50%;
padding-top: 8px;
width: 56px;
background-color: gray;
transition:  ease all 1s;
height: 54px;
}
.main .them img:hover{
    transform: rotate(360deg);
}
.main .ern-btn {
    padding-left: 60px;

}

.main .ern-btn  button {
    height: 93px;
    width: 166px;
    color: rgb(0, 0, 0);
    font-size: 17px;
    position: absolute;
    top: -3px;
    padding-top: 3px;
    background: #FDC7B0;
    
    z-index: 1;
    BORDER-RADIUS: 9PX;
    FONT-FAMILY: sans-serif;
}
.main .ern-btn button span {
    color: black;
    font-weight: bolder;
    FONT-SIZE: 1.6em;
}
section{
    padding: 94px 133px;

}
.grid-img h2{
    font-size: 34px;
    font-family: monospace;
    padding: 1px 10px;

}
.Ajio-main{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.Ajio{
    position: relative;
    padding: 0px 0;
    border: 2px solid 
    #FDC7B0;
    height: 376px;
    width: 361px;
    border-radius: 15px;
}
.Ajio-img {
    position: absolute;
    top: 215px;
    left: 26px;
}
.profit {
    margin-top: 15px;
}


.sle{
    DISPLAY: FLEX;
}
.flex-btn {
    display: flex;
    gap: 97px;
    padding: 0px 20px;
}

.profit h2 {
    font-size: 16px;
    font-weight: 900;
    font-family: sans-serif;
    margin-left: 205px;


}
.profit p {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin-left: 155px;
    padding-top: 8px;
}
.flex-btn .btn1 button{
    width: 150px;
    height: 40px;
    background: #FDC7B0;
    border: none;
    border-radius: 10px;


}

.flex-btn .btn1 button:hover{
    background-color: rgb(214, 18, 18);
    border: 3px solid yellow;
    border-left: none;
    border-right: none;
    
    }
.flex-btn .btn1 a{
    color: black;
    font-size: 19px;
    font-family: sans-serif;
}
.flex-btn .btn1 a:hover{
    color: white;
}
.flex-btn .Amount h2{
font-size: 20px;
font-family: sans-serif;
font-weight: 900;
padding-top: 7px;
}
.Ajio1 {
    position: relative;
    padding: 0px 0;
    border: 2px solid 
    #FDC7B0;
    height: 376px;
    width: 361px;
    border-radius: 15px;
}
.Ajio2 {
    position: relative;
    padding: 0px 0;
    border: 2px solid 
    #FDC7B0;
    height: 376px;
    width: 361px;
    border-radius: 15px;
}
.Ajio3 {
    position: relative;
    padding: 0px 0;
    border: 2px solid 
    #FDC7B0;
    height: 376px;
    width: 361px;
    border-radius: 15px;
}

/* Filpkrt */
.flp-grid-img{
padding-top: 50px;
}

.flp-grid-img h2{
    font-size: 34px;
    font-family: monospace;
    padding: 1px 10px;

}
.flipkart-main{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.flipkart {
    position: relative;
    padding: 0px 0;
    border: 2px solid 
    #FDC7B0;
    height: 380px;
    width: 361px;
    border-radius: 9px;
}
.flipkart-img {
    position: absolute;
    top: 215px;
    left: 26px;
}
.flp-profit {
    margin-top: 15px;
}

.flp-sle{
    DISPLAY: FLEX;
}
.flp-btn {
    display: flex;
    gap: 97px;
    padding: 0px 20px;
}

.flp-profit h2 {
    font-size: 16px;
    font-weight: 900;
    font-family: sans-serif;
    margin-left: 179px;


}
.flp-profit p {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin-left: 155px;
    padding-top: 8px;
}
.flp-btn1 button{
    width: 150px;
    height: 40px;
    background: #FDC7B0;
    border: none;
    border-radius: 10px;
}
.flp-btn1 button:hover{
background-color: rgb(214, 18, 18);
border: 3px solid yellow;
border-left: none;
border-right: none;

}
.flp-btn .flp-btn1 a{
    color: black;
    font-size: 19px;
    font-family: sans-serif;
}
.flp-btn .flp-btn1 a:hover{
    color: white;
}


.flp-btn .flp-Amount h2{
font-size: 20px;
font-family: sans-serif;
font-weight: 900;
padding-top: 7px;
}
.flipkart1{
    position: relative;
    padding: 0px 0;
    border: 2px solid 
    #FDC7B0;
        height: 380px;
        width: 361px;
        border-radius: 9px;
    }

    .flipkart2{
        position: relative;
        padding: 0px 0; 
        border: 2px solid 
        #FDC7B0;
            height: 380px;
            width: 361px;
            border-radius: 9px;
        }
    
        .flipkart3{
            position: relative;
            padding: 0px 0;
            border: 2px solid 
            #FDC7B0;
                height: 380px;
                width: 361px;
                border-radius: 9px;
            }
        


/* Myntra */


.mnt-grid-img{
    padding-top: 50px;
    }
    
    .mnt-grid-img h2{
        font-size: 34px;
        font-family: monospace;
        padding: 1px 10px;
    
    }
    .Myntra-main{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    
    .Myntra {
        position: relative;
        padding: 0px 0;
        border: 2px solid 
    #FDC7B0;
        height: 376px;
        width: 361px;
        border-radius: 15px;
    }
    .Myntra-img {
        position: absolute;
        top: 220px;
        left: 26px;
    }
    .mnt-profit {
        margin-top: 15px;
    }

    .mnt-sle{
        DISPLAY: FLEX;
    }
    .mnt-btn {
        display: flex;
        gap: 97px;
        padding: 0px 20px;
    }
    .mnt-profit h2 {
        font-size: 16px;
        font-weight: 900;
        font-family: sans-serif;
        margin-left: 179px;
    
    
    }
    .mnt-profit p {
        font-family: sans-serif;
        font-weight: 600;
        font-size: 16px;
        margin-left: 155px;
        padding-top: 8px;
    }
    .mnt-btn1 button{
        width: 150px;
        height: 40px;
        background: #FDC7B0;
        border: none;
        border-radius: 10px;
    }
    .mnt-btn1 button:hover{
    background-color: rgb(214, 18, 18);
    border: 3px solid yellow;
    border-left: none;
    border-right: none;
    
    }
    .mnt-btn .mnt-btn1 a{
        color: black;
        font-size: 19px;
        font-family: sans-serif;
    }
    .mnt-btn .mnt-btn1 a:hover{
        color: white;
    }
    
    
    .mnt-btn .mnt-Amount h2{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 900;
    padding-top: 7px;
    }
    .Myntra1 {
        position: relative;
        padding: 0px 0;
        border: 2px solid 
        #FDC7B0; 
        height: 376px;
        width: 361px;
        border-radius: 15px;
    }
    .Myntra2{
        position: relative;
        padding: 0px 0;
 border: 2px solid 
        #FDC7B0; 
         height: 376px;
        width: 361px;
        border-radius: 15px;
    }
    .Myntra3 {
        position: relative;
        padding: 0px 0;
        border: 2px solid 
        #FDC7B0; 
        height: 376px;
        width: 361px;
        border-radius: 15px;
    }

    footer{
        padding: 10px 133px;
        background:black;
    }
    .footer{
        padding-top: 56px;

    }
    .About{
        display: flex;
    }
    .footer-grid{
        display:grid;
        grid-template-columns: repeat(6,1fr);
    }
.About h2{
    padding: 7px 8px;
    font-size: 26px;
    font-family: sans-serif;
    color: white;

}
.abt-link{
    padding: 29px 75px;

}
.abt-link a{
    color:white;
FONT-SIZE: 21PX;
LINE-HEIGHT: 2.5;
font-family: sans-serif;

}
.abt-link a:hover{
    color:red;

}
.read{
PADDING: 11PX 19PX;
}
.read h2 {
    padding: 0 8px;
    font-size: 26px;
    font-family: sans-serif;
    color:white;
}
.rd-link {
    padding: 36px 9px;
}
.rd-link a{
    color:white;
    FONT-SIZE: 21PX;
    LINE-HEIGHT: 2.5;
    font-family: sans-serif;

    }
 .rd-link a:hover{
        color:red;
    
    }
    .page{
        PADDING: 11PX 19PX;
        }

        .page h2 {
            padding: 0 8px;
            font-size: 26px;
            font-family: sans-serif;
            color:white;
        }
        .pg-link {
            padding: 36px 9px;
        }
        .pg-link a{
            color:white;
            FONT-SIZE: 21PX;
            LINE-HEIGHT: 2.5;
            font-family: sans-serif;
        
            }
            .pg-link a:hover{
                color:red;
            }

.connect{
PADDING: 11PX 19PX;

 }
 .connect h2 {
    padding: 0 8px;
    font-size: 26px;
    font-family: sans-serif;
    color:white;
}
.cnt-link {
    padding: 36px 9px;
}
.cnt-link a{
    color:white;
    FONT-SIZE: 21PX;
    LINE-HEIGHT: 2.5;
    font-family: sans-serif;

    }
.cnt-link a:hover{
    color:red;
}  

.Download{
    PADDING: 11PX 19PX;
}
.Download h2 {
    padding: 0 8px;
    font-size: 26px;
    font-family: sans-serif;
    color:white;
}
.app-link{
padding: 42px 9px;
}
.Subscribe{
    PADDING: 11PX 19PX;
}
.Subscribe h2{
    padding: 0 8px;
    font-size: 26px;
    font-family: sans-serif;
    color:white;
}
.Subscribe p{
padding-top: 37px;
font-size: 20px;
color:white;
font-family: sans-serif;
}
.email{
    padding: 30px 0;

}

.email input {
    width: 217.8px;
    height: 45px;
    color: #c7a9a9;
    background: #FFFFFF;
    border-radius: 12.15px;
    font-size: 17px;
    padding: 0 12px;
}
.email-btn{
    padding: 0 15px;

}
.email-btn button {
    background:#FDC7B0;
    width: 150px;
    height: 45px;
    border: none;
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold;

}

.email-btn button a{
    color:black;
}
.footer-bottom{
        padding-top: 40px;

}
.copy{
        text-align: center;

}
.copy p{
    font-size: 23px;
    color: black;
    font-family: sans-serif;
}
.copy h2{
    PADDING-TOP: 9PX;
    PADDING-BOTTOM: 29PX;

}


.copy a{
    color: black;
    font-family: sans-serif;
    font-size: 22px;
}

.copy a:hover{
    color: red;
}
















