@media (max-width:576px){
    .main {
        background: none;
        width:100%;
    }
    .logo-img img {
        display: none;
    }

.logo-p{
    display: none;

}
.heder-link {
    display: none;
}
.logo {
    color: black;
    PADDING-LEFT: 2PC;
    column-gap: 0;
}

.logo .src input {
    width: 14pc;
    background-color: #d6e1ea;
    height: 50px;
    padding-left: 43px;
    border-radius: 8px;
    font-size: 21px;
}
.logo .src span {
    padding-top: 14px;
    font-size: 19px;
}
.main .them {
    padding-left: 0;
    display: none;
}
.main .ern-btn {
    padding-left: 117px;
}
.main .ern-btn button {
    height: 61px;
    font-size: 16px;
    top: 35px;
    border: none;
}
section {
    padding: 23px 32px;
}
.Ajio-main {
    grid-template-columns: repeat(2,2fr);
    GAP: 22PX;
    padding-top:20px;
}
.Ajio {
    background: antiquewhite;
    padding: 0px 0;

    height: 288px;
    width: 237px;
}
.Ajio img{
    WIDTH: 232PX;

}
.Ajio-img {
    top: 141px;
    left: 17px;
}
.Ajio-img img {
    WIDTH: 51PX;
}
.flex-btn .btn1 button {
    width: 95px;
    height: 37px;
}


.profit p {
    font-size: 13px;
    margin-left: 83px;
    padding-top: 7px;
}
.profit h2 {
    font-size: 15px;
    margin-left: 108px;
}
    
.flex-btn {
    gap: 52px;
    padding: 10px 10px;
}
.Ajio1 {
 
    height: 288px;
    width: 243px;
}
.Ajio1 img{
    WIDTH: 232PX;

}
.Ajio-img img {
    WIDTH: 51PX;
}
.Ajio2 {

    height: 291px;
    width: 236px;
    border-radius: 10px;
}
.Ajio2 img{
    WIDTH: 232PX;

}
.Ajio-img img {
    WIDTH: 51PX;
}
.Ajio3{
 
    height: 291px;
    width: 236px;
    border-radius: 10px;
}


.Ajio3 img{
    WIDTH: 232PX;

}

.Ajio-img img {
    WIDTH: 51PX;
}




/* filpkrt */

.flipkart-main {
    display: grid;
    grid-template-columns: repeat(2,2fr);
    gap: 13px;
    padding-top:30px;
}
.flipkart {
    background: antiquewhite;
    padding: 0px 0;
    height: 291px;
    width: 237px;
}
.flipkart img{
    WIDTH: 232PX;

}
.flipkart-img {
    top: 165px;
    left: 17px;
}
.flipkart-img img {
    WIDTH: 51PX;
}

.flp-btn .flp-btn1 button {
    width: 95px;
    height: 37px;
}

.flex-btn .btn1 button {
    width: 95px;
    height: 37px;
}
.flp-profit p {
    font-size: 13px;
    margin-left: 83px;
    padding-top: 7px;
}
.flp-profit h2 {
    font-size: 15px;
    margin-left: 85px;
}
    
.flp-btn {
    gap: 52px;
    padding: 10px 10px;
}




.flp-grid-img {
    padding-top: 40px;
}
.flipkart1 {
    height: 295px;
    width: 235px;
    border-radius: 9px;
}
.flipkart1 img{
    WIDTH: 232PX;

}
.flipkart-img {
    top: 165px;
    left: 17px;
}
.flipkart-img img {
    WIDTH: 51PX;
}
.flipkart2 {
    height: 289px;
    width: 237px;
}
.flipkart2 img{
    WIDTH: 232PX;

}
.flipkart-img {
    top: 165px;
    left: 17px;
}
.flipkart-img img {
    WIDTH: 51PX;
}
.flipkart3 {
    height: 285px;
    width: 237px;
}
.flipkart3 img{
    WIDTH: 232PX;

}
.flipkart-img {
    top: 165px;
    left: 17px;
}
.flipkart-img img {
    WIDTH: 51PX;
}



.Myntra-main {
    grid-template-columns: repeat(2,2fr);
    gap: 22px;
    padding-top:30px;
}
.mnt-grid-img {
    
    padding-top: 40px;
}
.Myntra {
    background: antiquewhite;
    height: 290px;
    width: 236px;
}
.Myntra img{
    WIDTH: 232PX;

}
.Myntra-img {
    top: 165px;
    left: 17px;
}
.Myntra-img img {
    WIDTH: 51PX;
}

.mnt-btn .mnt-btn1 button {
    width: 95px;
    height: 37px;
}

.mnt-btn .mnt-btn1 button {
    width: 95px;
    height: 37px;
}
.mnt-profit p {
    font-size: 13px;
    margin-left: 83px;
    padding-top: 7px;
}
.mnt-profit h2 {
    font-size: 15px;
    margin-left: 85px;
}
    
.mnt-btn {
    gap: 52px;
    padding: 10px 10px;
}
.Myntra1 {
    height: 290px;
    width: 236px;
}
.Myntra1 img{
    WIDTH: 232PX;

}
.Myntra-img {
    top: 165px;
    left: 17px;
}
.Myntra-img img {
    WIDTH: 51PX;
}
.Myntra2 {
    height: 293px;
    width: 236px;
}
.Myntra2 img{
    WIDTH: 232PX;

}
.Myntra-img {
    top: 165px;
    left: 17px;
}
.Myntra-img img {
    WIDTH: 51PX;
}
.Myntra3 {
    height: 293px;
    width: 237px;
}
.Myntra3 img{
    WIDTH: 232PX;

}
.Myntra-img {
    top: 165px;
    left: 17px;
}
.Myntra-img img {
    WIDTH: 51PX;
}
.footer {
    padding-top: 23px;
}
.footer-grid {
    grid-template-columns: repeat(1,1fr);
}

.abt-link {
    display: none;
}
.read h2 {
    font-size: 26px;
    display: none;
}

.rd-link {
    display: none;
}
.page {
    PADDING: 0PX 19PX;
}
.page h2 {
    display: none;
}
.pg-link {
    display: none;
}
.connect {
    PADDING: 0PX 19PX;
}
.cnt-link {
    display: none;
}
.connect h2 {
    display: none;
}
.Download h2 {
    display: none;
}
.app-link {
    padding: 0px 9px;
}
.Subscribe h2 {
    padding: 0 20px;
    font-size: 29px;
}
.Subscribe p {
    padding-top: 10px;
    font-size: 18px;
}
.email input {
    width: 236.8px;
    height: 47px;
    font-size: 18px;
    padding: 0 40px;
}
.email-btn {
    padding: 0 44px;
}
.copy p {
    font-size: 17px;
}
.copy h2 {
    PADDING-TOP: 2PX;
}
.copy a {
    font-size: 18px;
}

}

@media (min-width:768px){
    .logo {
        PADDING-LEFT: 1PC;
    }
    .logo .src input {
        width: 14pc;
        height: 44px;
        padding-left: 43px;
        border-radius: 20px;
        font-size: 19px;
    }
    .logo .src span {
        padding-left: 11px;
        padding-top: 12px;
        font-size: 17px;
    }
    .heder-link {
        display: none;
    }
    .main .them {
        padding-left: 34px;
    }
    .main .ern-btn button {
        height: 86px;
        width: 130px;
        font-size: 18px;
    }
    section {
        padding: 27px 16px;
    }
    .Ajio-main {
        grid-template-columns: repeat(2,2fr);
        gap: 13px;
        padding-top: 32px;
    
    }
    .Ajio2 {
        display: none;
    }
    .Ajio3 {
        display: none;
    }
    .flipkart-main {
        grid-template-columns: repeat(2,2fr);
        gap: 15px;
        padding-top: 32px;
    
    }
    .flipkart2 {
        display: none;
    }
    .flipkart3 {
        display: none;
    }
    .Myntra-main {
        grid-template-columns: repeat(2,2fr);
        gap: 15px;
        padding-top: 32px;
    
    }
    .Myntra2 {
        display: none;
    }
    .Myntra3 {
        display: none;
    }
    footer {
        padding: 10px 200px;
        background: black;
    }
    .footer {
        padding-top: 23px;
    }
    .footer-grid {
        grid-template-columns: repeat(1,1fr);
    }
    .About h2 {
        font-size: 29px;
    }    
    .abt-link {
        display: none;
    }
    .read h2 {
        font-size: 26px;
        display: none;
    }
    
    .rd-link {
        display: none;
    }
    .page {
        PADDING: 0PX 19PX;
    }
    .page h2 {
        display: none;
    }
    .pg-link {
        display: none;
    }
    .connect {
        PADDING: 0PX 19PX;
    }
    .cnt-link {
        display: none;
    }
    .connect h2 {
        display: none;
    }
    .Download {
        PADDING: 11PX 55PX;
    }
    .Download h2 {
        display: none;
    }
    .app-link {
        padding: 0px 18px;
    }
    .Subscribe h2 {
        padding: 0 57px;
        font-size: 29px;
    }
    .Subscribe p {
        padding-top: 10px;
        font-size: 16px;
        width: 25pc;
        text-align:center;
    }
    .email {
        padding: 30px 30px;
    }
    .email input {
        width: 276.8px;
        height: 51px;
        font-size: 21px;
        padding: 3px 43px;
    }
    .email-btn {
        padding: 0 89px;
    }
    .copy p {
        font-size: 17px;
    }
    .copy h2 {
        PADDING-TOP: 2PX;
    }
    .copy a {
        font-size: 18px;
    }
}       

@media (min-width:1024px){

    .main .them {
        padding-left: 259px;
    }
    .logo {
        gap: 16px;
    }

    .main .ern-btn {
        padding-left: 71px;
    }
    .Ajio {
        height: 511px;
        width: 488px;
    }
.Ajio img{
    width: 100%;

}
.Ajio-img {
    top: 303px;
}
.border {
    width: 483px;
    height: 154px;
}
.profit p {
    font-size: 25px;
    margin-left: 189px;
    padding-top: 10px;
}
.profit h2 {
    font-size: 23px;
    margin-left: 276px;
}
.flex-btn .btn1 button {
    width: 167px;
    height: 57px;
}
.flex-btn .btn1 a {
    font-size: 27px;
}
.flex-btn .Amount h2 {
    font-size: 32px;
}
.flex-btn {
    gap: 158px;
}
.Ajio1 {
    height: 508px;
    width: 481px;
}
.Ajio1 img{
    width: 100%;

}
.Ajio2 {
    height: 508px;
    width: 481px;
}
.Ajio2 img{
    width: 100%;

}
.Ajio3 {
    height: 508px;
    width: 481px;
}
.Ajio3 img{
    width: 100%;

}
.flipkart {
    height: 506px;
    width: 481px;
}
.flipkart img{
    width: 100%;

}
.flipkart-img {
    top: 301px;
}

.flp-profit p {
    font-size: 25px;
    margin-left: 189px;
    padding-top: 10px;
}
.flp-profit h2 {
    font-size: 23px;
    margin-left: 245px;
}
.flp-btn .flp-btn1 button {
    width: 167px;
    height: 57px;
}
.flp-btn .flp-btn1 a {
    font-size: 27px;
}
.flp-btn .flp-Amount h2 {
    font-size: 32px;
}
.flp-btn {
    gap: 158px;
}

.flipkart1 {
    height: 506px;
    width: 481px;
}
.flipkart1 img{
    width: 100%;

}
.flipkart2 {
    height: 506px;
    width: 481px;
}
.flipkart2 img{
    width: 100%;

}
.flipkart3 {
    height: 506px;
    width: 481px;
}

.flipkart3 img{
    width: 100%;

}

.Myntra {
    height: 506px;
    width: 481px;
}
.Myntra img{
    width: 100%;

}

.mnt-profit p {
    font-size: 25px;
    margin-left: 189px;
    padding-top: 10px;
}
.mnt-profit h2 {
    font-size: 23px;
    margin-left: 245px;
}
.mnt-btn .mnt-btn1 button {
    width: 167px;
    height: 57px;
}
.mnt-btn .mnt-btn1 a {
    font-size: 27px;
}
.mnt-btn .mnt-Amount h2 {
    font-size: 32px;
}
.mnt-btn {
    gap: 158px;
}
.Myntra1 {
    height: 506px;
    width: 481px;
}

.Myntra1 img{
    width: 100%;

}
.Myntra-img {
    top: 303px;
}

.Myntra2 {
    height: 506px;
    width: 481px;
}
.Myntra2 img{
    width: 100%;

}

.Myntra3 {
    height: 506px;
    width: 481px;
}

.Myntra3 img{
    width: 100%;

}
footer {
    padding: 10px 269px;
}
.About img {
    width: 67px;
    height: 62px;
}
.About h2 {
    padding: 9px 10px;
    font-size: 36px;
} 
.About {
    padding-left: 59px;
}
.app-link img {
    width: 185px;
}
.Subscribe h2 {
    padding: 0 134px;
    font-size: 33px;
}
.Subscribe p {
    padding-top: 16px;
    font-size: 18px;
    /* width: 42pc; */
    text-align: center;
    padding-left: 46px;
}
.app-link {
    padding: 0px 81px;
}
.email {
    padding: 25px 77px;
}
.email input {
    width: 309.8px;
    height: 47px;
    font-size: 20px;
    padding: 3px 49px;
}
.email-btn {
    padding: 0 149px;
}
.email-btn button {
    width: 153px;
    height: 48px;
    font-size: 22px;
}
.footer-bottom {
    padding-top: 18px;
}
.copy p {
    font-size: 19px;
}
.copy h2 {
    PADDING-TOP: 1PX;
}
.copy a {
    font-size: 19px;
}
}
@media (maX-width:425px){
    .logo {
        PADDING-LEFT: 1PC;
    }

.logo .src input {
    width: 12pc;
    height: 50px;
}
.main .ern-btn button {
    WIDTH: 119PX;
}
.main .ern-btn {
    padding-left: 83px;
}
section {
    padding: 15px 18px;
}
.Ajio-main {
    GAP: 13PX;
}
.Ajio {
    height: 244px;
    width: 189px;
}
.Ajio img {
    WIDTH: 185PX;
}
.Ajio-img img{
    WIDTH:40px;
}
.Ajio-img {
    top: 113px;
    left: 12px;
}



.profit p {
    font-size: 10px;
    margin-left: 60px;
    padding-top: 8px;
}
.profit h2 {
    font-size: 12px;
    margin-left: 77px;
}
.flex-btn .btn1 button {
    width: 76px;
    height: 33px;
}
.flex-btn .btn1 a {
    font-size: 16px;
}

.flex-btn {
    gap: 34px;
    padding: 13px 10px;
}
.flex-btn .Amount h2 {
    font-size: 17px;
}


.grid-img h2 {
    font-size: 27px;
}
.Ajio1 {
    height: 246px;
    width: 190px;
}
.Ajio1 img {
    WIDTH: 185PX;
}
.Ajio-img img{
    WIDTH:40px;
}
.Ajio2 {
    DISPLAY: NONE;
    padding: 0px 0;
        border: 2px solid;
        height: 246px;
        width: 190px;
    
}
.Ajio2 img {
    WIDTH: 185PX;
}
.Ajio-img img{
    WIDTH:40px;
}

.Ajio3 {
    DISPLAY: NONE;
    padding: 0px 0;
        border: 2px solid;
        height: 246px;
        width: 190px;
    
}
.Ajio3 img {
    WIDTH: 185PX;
}
.Ajio-img img{
    WIDTH:40px;
}
.flipkart-main {
    padding-top: 16px;
}
.flp-grid-img h2 {
    font-size: 28px;
}
.flipkart {
    height: 244px;
    width: 191px;
}
.flipkart img {
    WIDTH: 185PX;
}
.flipkart-img img{
    WIDTH:40px;
}

.flp-border {
    width: 189px;
    height: 109px;
}
.flp-profit p {
    font-size: 10px;
    margin-left: 60px;
    padding-top: 8px;
}
.flp-grid-img {
    padding-top: 25px;
}
.flp-profit h2 {
    font-size: 11px;
    margin-left: 66px;
}
.flp-btn .flp-btn1 button {
    width: 76px;
    height: 33px;
}
.flp-btn .flp-btn1 a {
    font-size: 16px;
}

.flp-btn {
    gap: 34px;
    padding: 13px 10px;
}
.flp-btn .flp-Amount h2 {
    font-size: 17px;
}
.flipkart1 {
    height: 244px;
    width: 191px;
}
.flipkart1 img {
    WIDTH: 185PX;
}
.flipkart-img img{
    WIDTH:40px;
}


.flipkart2 {
    padding: 0px 0;
    display: none;
        height: 244px;
        width: 191px;
    
}
.flipkart2 img {
    WIDTH: 185PX;
}
.flipkart-img img{
    WIDTH:40px;
}



.flipkart3 {
    padding: 0px 0;
        display: none;
            height: 244px;
            width: 191px;

}
.flipkart3 img{
    WIDTH: 185PX;
}
.flipkart-img img{
    WIDTH:40px;
}
.flipkart-img {
    top: 114px;
    left: 12px;
}
.mnt-grid-img {
    padding-top: 21px;
}
.mnt-grid-img h2 {
    font-size: 28px;
}
.Myntra-main {
    gap: 13px;
    padding-top: 20px;
}
.Myntra {
    height: 243px;
    width: 189px;
}
.Myntra img {
    WIDTH: 185PX;
}
.Myntra-img img{
    WIDTH:40px;
}
.Myntra-img {
    top: 113px;
    left: 12px;
}

.mnt-profit p {
    font-size: 10px;
    margin-left: 60px;
    padding-top: 8px;
}
.mnt-profit h2 {
    font-size: 11px;
    margin-left: 66px;
}
.mnt-btn .mnt-btn1 button {
    width: 76px;
    height: 33px;
}
.mnt-btn .mnt-btn1 a {
    font-size: 16px;
}

.mnt-btn {
    gap: 3 4px;
    padding: 13px 10px;
}
.mnt-btn .mnt-Amount h2 {
    font-size: 17px;
}

.Myntra1 img {
    WIDTH: 185PX;
}
.Myntra-img img{
    WIDTH:40px;
}

.Myntra1 {
    padding: 0px 0;
    /* display: none; */
   height: 243px;
        width: 189px;
    
}


.Myntra2 {
    padding: 0px 0;
    display: none;
    height: 243px;
        width: 189px;
    
}
.Myntra2 img {
    WIDTH: 185PX;
}
.Myntra-img img{
    WIDTH:40px;
}


.Myntra3 {
    padding: 0px 0;
    display: none;
   height: 243px;
        width: 189px;
    
}

.Myntra3 img {
    WIDTH: 185PX;
}
.Myntra-img img{
    WIDTH:40px;
}

footer {
    padding: 10px 59px;
}
.Subscribe p {
    padding-top: 10px;
    font-size: 12px;
    width: 272px;
}
.copy p {
    font-size: 14px;
}
.copy a {
    font-size: 14px;
}
.app-link {
    padding: 0px 55px;
}
.Subscribe h2 {
    padding: 0 63px;
    font-size: 29px;
}
.email input {
    width: 183.8px;
    height: 45px;
    font-size: 15px;
    padding: 0 21px;
}
.email {
    padding: 17px 61px;
}
.email-btn button {
    width: 113px;
    height: 40px;
    font-size: 20px;
}

.email-btn {
    padding: 0 97px;
}

}

@media (min-width:1440px){
.main .them {
        padding-left: 44px;
    }

    .heder-link {
        display: block;
            padding-left: 0pc;
        }
        .heder-link a {
            padding-left: 32px;
            font-size: 21px;
        }
        .Ajio-main {
            grid-template-columns: repeat(4,1fr);
            gap: 29px;
            padding-top: 32px;
        }

        .Ajio {
            height: 346px;
            width: 312px;
        }
        .Ajio-img {
            top: 182px;
        }

        .flex-btn .btn1 button {
            width: 130px;
            height: 43px;
        }
        .flex-btn {
            gap: 69px;
        }
        .flex-btn .btn1 a {
            font-size: 22px;
        }
        .profit p {
            font-size: 16px;
            margin-left: 117px;
            padding-top: 6px;
        }
        .profit h2 {
            font-size: 15px;
            margin-left: 174px;
        }
        .flex-btn .Amount h2 {
            font-size: 25px;
        }
        .Ajio1 {
            height: 346px;
            width: 312px;
        }
        .Ajio2 {
            height: 346px;
            width: 312px;
            display:block;
        }
        .Ajio3 {
            display:block;
            height: 346px;
            width: 312px;
        }


        .flipkart-main{
            grid-template-columns: repeat(4,1fr);
            gap: 29px;
            padding-top: 32px;
        }

        .flipkart {
            height: 370px;
            width: 312px;
        }

        .flipkart-img {
            top: 170px;
        }

        .flp-btn .flp-btn1 button {
            width: 130px;
            height: 43px;
        }
        .flp-btn {
            gap: 69px;
            padding-top: 15px;
        }
        .flp-btn .flp-btn1 a {
            font-size: 22px;
        }
        .flp-profit p {
            font-size: 16px;
            margin-left: 117px;
            padding-top: 6px;
        }
        .flp-profit h2 {
            font-size: 15px;
            margin-left: 144px;
        }
        .flp-btn .flp-Amount h2 {
            font-size: 25px;
        }
        .flipkart1 {
            height: 370px;
            width: 312px;
        }

        .flipkart2 {
            height: 370px;
            width: 312px;
            display:block;
        }

        .flipkart3 {
            height: 370px;
            width: 312px;
            display:block;
        }



        .Myntra-main{
            grid-template-columns: repeat(4,1fr);
            gap: 29px;
            padding-top: 32px;
        }

        .Myntra {
            height: 370px;
            width: 312px;
        }


        .Myntra-img {
            top: 170px;
        }

        .mnt-btn .mnt-btn1 button {
            width: 130px;
            height: 43px;
        }
        .mnt-btn {
            gap: 69px;
            padding-top: 15px;
        }
        .mnt-btn .mnt-btn1 a {
            font-size: 22px;
        }
        .mnt-profit p {
            font-size: 16px;
            margin-left: 117px;
            padding-top: 6px;
        }
        .mnt-profit h2 {
            font-size: 15px;
            margin-left: 144px;
        }
        .mnt-btn .mnt-Amount h2 {
            font-size: 25px;
        }

        .Myntra1 {
            height: 370px;
            display:block;
            width: 312px;
        }
        
        .Myntra2 {
            height: 370px;
            width: 312px;
            display:block;

        }

        .Myntra3 {
            display:block;
            height: 370px;
            width: 312px;
        }



        .footer-grid {
            grid-template-columns: repeat(6,1fr);
        }
        footer {
            padding: 5px 0;
        }
        .footer {
            padding-top: 42px;
            padding-left: 53px;
        }
        .About img {
            display: block;
        }
.About {
    padding-left: 16px;
    GAP:10px;
}
.About h2 {
    padding: 9px 0;
    font-size: 26px;
}
.abt-link {
    display: block;
}
.app-link {
    padding: 59px 5px;
}
.read h2 {
    font-size: 26px;
    display: block;
}
.rd-link {
    display: block;
    width: 209px;
}

.page h2 {
    padding: 10px 0;
    display: block;
}
.pg-link {
    display: block;
    width: 12pc;
}

.connect h2 {
    display: block;
    padding: 11px 0;
}
.cnt-link {
    display: block;
    width: 14pc;
}
.Download h2 {
    width: 13pc;
    display: block;
}

.app-link img {
    width: 100%;
}


.Subscribe h2 {
    padding: 0;
    display: none;
    font-size: 26px;
}
.Subscribe p {
    padding-top: 16px;
    font-size: 23px;
    width: 286px;
    display: none;
    padding-left: 4px;
}


.email input {
    width: 243.8px;
    display: none;

    height: 56px;
    font-size: 17px;
    padding: 3px 5px;
}
.email {
    padding: 30px 0;
}
.email-btn {
    padding: 0 1px;
    display: none;
}

.footer-bottom {
    padding-top: 19px;
}
.copy p {
    font-size: 19px;
}
.copy a {
    font-size: 19px;
}
.copy h2 {
    PADDING-TOP: 4PX;
}
}


@media (max-width:375px){
    .main .ern-btn button {
        WIDTH: 102PX;
        font-size: 14px;
        height: 56px;
    }
    .main .ern-btn {
        padding-left: 48px;
    }
    .Ajio img {
        WIDTH: 150PX;
    }
    .Ajio-img img {
        WIDTH: 28px;
    }
    .Ajio-img {
        top: 95px;
        left: 6px;
    }
    .profit p {
        font-size: 9px;
        margin-left: 41px;
        padding-top: 10px;
    }
    .profit h2 {
        font-size: 10px;
        margin-left: 62px;
    }
    .flex-btn .btn1 button {
        width: 69px;
        height: 29px;
    }
    .flex-btn .btn1 a {
        font-size: 14px;
    }
    .flex-btn .Amount h2 {
        font-size: 13px;
    }
    .flex-btn {
        gap: 21px;
        padding: 13px 10px;
    }
    .Ajio {
        height: 218px;
        width: 157px;
    }
    .Ajio1 {
        height: 218px;
        width: 157px;
    }
    .Ajio1 img {
        WIDTH: 150PX;
    }
    .Ajio-img img {
        WIDTH: 28px;
    }
    .Ajio2 {
        height: 218px;
        width: 157px;
    }
    .Ajio2 img {
        WIDTH: 150PX;
    }
    .Ajio-img img {
        WIDTH: 28px;
    }


    .Ajio3 {
        height: 218px;
        width: 157px;
    }
    .Ajio3 img {
        WIDTH: 150PX;
    }
    .Ajio-img img {
        WIDTH: 28px;
    }

    .flipkart img {
        WIDTH: 150PX;
    }
    .flipkart-img img {
        WIDTH: 28px;
    }
    .flipkart-img {
        top: 95px;
        left: 6px;
    }
    .flp-profit p {
        font-size: 9px;
        margin-left: 41px;
        padding-top: 10px;
    }
    .flp-profit h2 {
        font-size: 10px;
        margin-left: 49px;
    }
    .flp-btn .flp-btn1 button {
        width: 69px;
        height: 29px;
    }
    .flp-btn .flp-btn1 a {
        font-size: 14px;
    }
    .flp-btn .flp-Amount h2 {
        font-size: 13px;
    }
    .flp-btn {
        gap: 21px;
        padding: 13px 10px;
    }
     .flipkart {
        height: 218px;
        width: 157px;
    }

    .flipkart1 {
        height: 218px;
        width: 157px;
    }
    .flipkart1 img {
        WIDTH: 150PX;
    }
    .flipkart-img img {
        WIDTH: 28px;
    }


    
    .Myntra img {
        WIDTH: 150PX;
    }
    .Myntra-img img {
        WIDTH: 28px;
    }
    .Myntra-img {
        top: 95px;
        left: 6px;
    }
    .mnt-profit p {
        font-size: 9px;
        margin-left: 41px;
        padding-top: 10px;
    }
    .mnt-profit h2 {
        font-size: 10px;
        margin-left: 49px;
    }
    .mnt-btn .mnt-btn1 button {
        width: 69px;
        height: 29px;
    }
    .mnt-btn .mnt-btn1 a {
        font-size: 14px;
    }
    .mnt-btn .mnt-Amount h2 {
        font-size: 13px;
    }
    .mnt-btn {
        gap: 21px;
        padding: 13px 10px;
    }
     .Myntra {
        height: 218px;
        width: 157px;
    }

    .Myntra1 {
        height: 218px;
        width: 157px;
    }

    
    .Myntra1 img {
        WIDTH: 150PX;
    }
    .Myntra-img img {
        WIDTH: 28px;
    }
    .Download {
        PADDING: 11PX 14PX;
    }
    .email {
        padding: 17px 38px;
    }
    .email-btn {
        padding: 0 74px;
    }
    .footer-bottom {
        padding-top: 20px;
    }
    footer {
        padding: 10px 50px;
    }

}

@media (min-width:1800px){

    .logo {
        PADDING-LEFT: 9PC;
    }
    .heder-link a {
        padding-left: 83px;
        font-size: 21px;
    }
    .main .them {
        padding-left: 99px;
    }
    section {
        padding: 27px 133px;
    }

    .Ajio {
        height: 406px;
        width: 385px;
    }
    .Ajio1 {
        display: block;
        height: 406px;
        width: 385px;
    }

    .Ajio2 {
        display: block;
        height: 406px;
        width: 385px;
    }

    .Ajio3 {
        display: block;
        height: 406px;
        width: 385px;
    }
    .Ajio-img {
        top: 233px;
    }

    .profit p {
        font-size: 21px;
        margin-left: 145px;
        padding-top: 3px;
    }
    .profit h2 {
        font-size: 19px;
        margin-left: 218px;
    }
    .flex-btn {
        gap: 120px;
    }

    .flex-btn .btn1 button {
        width: 146px;
        height: 46px;
    }
    .flex-btn .btn1 a {
        font-size: 25px;
    }

    .flipkart {
        height: 418px;
        width: 385px;
    }

    .flipkart1 {
        display: block;
        height: 418px;
        width: 385px;
    }

    .flipkart2 {
        display: block;
        height: 418px;
        width: 385px;
    }

    .flipkart3 {
        display: block;
        height: 418px;
        width: 385px;
    }


    .flipkart-img {
        top: 233px;
    }

    .flp-profit p {
        font-size: 21px;
        margin-left: 145px;
        padding-top: 3px;
    }
    .flp-profit h2 {
        font-size: 19px;
        margin-left: 195px;
    }
    .flp-btn {
        gap: 120px;
    }

    .flp-btn .flp-btn1 button {
        width: 146px;
        height: 46px;
    }
    .flp-btn .flp-btn1 a {
        font-size: 25px;
    }





    .Myntra {
        height: 418px;
        width: 385px;
    }

    .Myntra1 {
        display: block;
        height: 418px;
        width: 385px;
    }

    .Myntra2 {
        display: block;
        height: 418px;
        width: 385px;
    }

    .Myntra3 {
        display: block;
        height: 418px;
        width: 385px;
    }


    .Myntra-img {
        top: 233px;
    }

    .mnt-profit p {
        font-size: 21px;
        margin-left: 145px;
        padding-top: 3px;
    }
    .mnt-profit h2 {
        font-size: 19px;
        margin-left: 195px;
    }
    .mnt-btn {
        gap: 120px;
    }

    .mnt-btn .mnt-btn1 button {
        width: 146px;
        height: 46px;
    }
    .mnt-btn .mnt-btn1 a {
        font-size: 25px;
    }



    .Subscribe p {
        padding-top: 56px;
        font-size: 18px;
        width: 241px;
        display: block;
        padding-left: 2px;
        /* text-align: center; */
    }
    .email input {
        width: 224.8px;
        display: block;
        height: 50px;
        font-size: 18px;
        padding: 3px 12px;
    }

    .email-btn {
        padding: 0 49px;
        display: block;
    }
    .footer-grid {
        grid-template-columns: repeat(6,1fr);
        padding-top: 38px;
    }
    .footer {
        padding: 0px 127px;
    }
    .Subscribe h2 {
        display: block;
        font-size: 30px;
        padding: 0 27px;
    }

}
@media (min-width:2560px){
    .logo {
        PADDING-LEFT: 17PC;
    }
    .logo .src input {
        width: 16pc;
        height: 51px;
        padding-left: 46px;
        border-radius: 18px;
        font-size: 24px;
    }
    .logo .src span {
        padding-left: 13px;
        padding-top: 14px;
        font-size: 20px;
    }
    .heder-link a {
        padding-left: 130px;
        font-size: 27px;
    }

    .main .ern-btn {
        padding-left: 130px;
    }

    section {
        padding: 27px 266px;
    }

    .Ajio {
        height: 521px;
        width: 451px;
    }
    .Ajio1 {
        height: 522px;
        width: 451px;
    }

    .Ajio2 {
        height: 522px;
        width: 451px;
    }
    .Ajio3 {
        height: 521px;
        width: 451px;
    }
    .Ajio-img {
        top: 280px;
    }
    .profit p {
        font-size: 26px;
        margin-left: 147px;
        padding-top: 21px;
    }
    .profit h2 {
        font-size: 24px;
        margin-left: 242px;
    }
    .flex-btn {
        gap: 132px;
        padding-top: 15px;
    }
    .flex-btn .btn1 button {
        width: 173px;
        height: 62px;
    }
    .flex-btn .btn1 a {
        font-size: 32px;
    }
    .flex-btn .Amount h2 {
        font-size: 32px;
    }

    .grid-img h2 {
        font-size: 46px;
        padding: 6px 10px;
    }

    .flipkart{
        height: 521px;
        width: 451px;
    }
    .flipkart1{
        height: 522px;
        width: 451px;
    }

    .flipkart2{
        height: 522px;
        width: 451px;
    }
    .flipkart3 {
        height: 521px;
        width: 451px;
    }
    .flipkart-img {
        top: 280px;
    }
    .flp-profit p {
        font-size: 26px;
        margin-left: 147px;
        padding-top: 21px;
    }
    .flp-profit h2 {
        font-size: 24px;
        margin-left: 202px;
    }
    .flp-btn {
        gap: 132px;
        padding-top: 15px;
    }
    .flp-btn .flp-btn1 button {
        width: 173px;
        height: 62px;
    }
    .flp-btn .flp-btn1 a {
        font-size: 32px;
    }
    .flp-btn .flp-Amount h2 {
        font-size: 32px;
    }


    .Myntra{
        height: 521px;
        width: 451px;
    }
     .Myntra1{
        height: 522px;
        width: 451px;
    }

    .Myntra2{
        height: 522px;
        width: 451px;
    }
    .Myntra3 {
        height: 521px;
        width: 451px;
    }
    .Myntra-img {
        top: 280px;
    }
    .mnt-profit p {
        font-size: 26px;
        margin-left: 147px;
        padding-top: 21px;
    }
    .mnt-profit h2 {
        font-size: 24px;
        margin-left: 202px;
    }
    .mnt-btn {
        gap: 132px;
        padding-top: 15px;
    }
    .mnt-btn .mnt-btn1 button {
        width: 173px;
        height: 62px;
    }
    .mnt-btn .mnt-btn1 a {
        font-size: 32px;
    }
    .mnt-btn .mnt-Amount h2 {
        font-size: 32px;
    }

    .footer {
        padding: 0px 246px;
    }
    .flp-grid-img h2 {
        font-size: 45px;
    }
    .mnt-grid-img h2 {
        font-size: 45px;
    }
}
@media (max-width:320px){
    .logo .src input {
        width: 10pc;
        height: 47px;
        font-size: 15px;
    }
    .logo .src span {
        padding-top: 18px;
        font-size: 15px;
    }
    
    .main .ern-btn button {
        WIDTH: 89PX;
        font-size: 12px;
        height: 50px;
    }
    .main .ern-btn {
        padding-left: 42px;
    }
    .Ajio {
        height: 184px;
        width: 141px;
    }
    .Ajio img {
        WIDTH: 136PX;
    }
    .Ajio-img img {
        WIDTH: 20px;
    }
    .Ajio-img {
        top: 84px;
        left: 6px;
    }



    .profit {
        margin-top: 2px;
    }
    .profit p {
        font-size: 9px;
        margin-left: 33px;
        padding-top: 8px;
    }
    .profit h2 {
        font-size: 10px;
        margin-left: 51px;
    }
    .flex-btn {
        gap: 20px;
        padding: 13px 6px;
    }
    .flex-btn .btn1 button {
        width: 64px;
        height: 27px;
    }
    .flex-btn .btn1 a {
        font-size: 12px;
    }


    .Ajio1 {
        height: 184px;
        width: 141px;
    }
    .Ajio1 img {
        WIDTH: 136PX;
    }
    .Ajio-img img {
        WIDTH: 20px;

}
.flipkart {
    height: 184px;
    width: 141px;
}
.flipkart img {
    WIDTH: 136PX;
}
.flipkart-img img {
    WIDTH: 20px;
}
.flipkart-img {
    top: 84px;
    left: 6px;
}

.flp-profit {
    margin-top: 2px;
}
.flp-profit p {
    font-size: 9px;
    margin-left: 33px;
    padding-top: 8px;
}
.flp-profit h2 {
    font-size: 10px;
    margin-left: 40px;
}
.flp-btn {
    gap: 20px;
    padding: 13px 6px;
}
.flp-btn .flp-btn1 button {
    width: 64px;
    height: 27px;
}
.flp-btn .flp-btn1 a {
    font-size: 12px;
}

.flipkart1 {
    height: 184px;
    width: 141px;
}
.flipkart1 img {
    WIDTH: 136PX;
}
.flipkart-img img {
    WIDTH: 20px;


}







.Myntra{
    height: 184px;
    width: 141px;
}
.Myntra img {
    WIDTH: 136PX;
}
.Myntra-img img {
    WIDTH: 20px;
}
.Myntra-img {
    top: 84px;
    left: 6px;
}

.mnt-profit {
    margin-top: 2px;
}
.mnt-profit p {
    font-size: 9px;
    margin-left: 33px;
    padding-top: 8px;
}
.mnt-profit h2 {
    font-size: 10px;
    margin-left: 40px;
}
.mnt-btn {
    gap: 20px;
    padding: 13px 6px;
}
.mnt-btn .mnt-btn1 button {
    width: 64px;
    height: 27px;
}
.mnt-btn .mnt-btn1 a {
    font-size: 12px;
}


.Myntra1{
    height: 184px;
    width: 141px;
}
.Myntra1 img {
    WIDTH: 136PX;
}
.Myntra-img img {
    WIDTH: 20px;
}
footer {
    padding: 10px 30px;
}
.email-btn {
    padding: 0 67px;
}
.Subscribe p {
    padding-top: 10px;
    font-size: 10px;
    width: 242px;
}
.email {
    padding: 12px 29px;
}
.app-link {
    padding: 0px 44px;
}
.Subscribe h2 {
    padding: 0 49px;
    font-size: 26px;
}
.copy p {
    font-size: 12px;
}
.copy a {
    font-size: 11px;
}
.copy h2 {
    PADDING-TOP: 0;
}
.footer-bottom {
    padding-top: 14px;
}


}












































