*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
.main{
    align-items:stretch;
    /* position:fixed; */
    display: flex;
    height: 120px;
    width: 100%;
    background-color: black;
}
.logo {
    display: flex;
    color: white;
    position: relative;
    PADDING-LEFT: 8PC;
    padding-top: 33px;
    column-gap: 10px;
}
.logo-img img {
    height: 62px;
    width: 82px;
}
.logo .logo-p p {
    padding-top: 5px;
    color: white;
    font-family: cursive;
    font-size: 33px;
    font-weight: bold;
}
.logo .logo-p span {
    color: #f1c0ab;
    font-size: 17px;
    position: absolute;
    top: 74px;
    padding-left: 54px;
    font-weight: 100;
    letter-spacing: 3px;
}
.logo .logo-p p:hover{
    color: red;
    text-transform: uppercase;  
}
.logo .src{
    padding-top:7px;
}
.logo .src span{
position: absolute;
    padding-left: 11px;
    padding-top: 11px;
}
.logo .src input {
    width: 15pc;
    height: 39px;
    padding-left: 40px;
    border: none;
    outline: none;
    border-radius: 20px;
    background: #4E5053;
font-size: 18px;
    color: black;
    
}
.heder-link {
    padding-left: 7pc;
    padding-top: 46px;
}
.heder-link ul li {
    display: inline-block;
}
.heder-link a {
    padding-left: 71px;
    color: white;
    font-size: 19px;
    font-family: monospace;
}
.heder-link a:hover{
    color: whitesmoke;
    text-decoration: underline;
}
.main .them{
    padding-top: 31px;
    padding-left: 55px;

}

.main .them img{
border: 2px solid gold transparent;
border-radius: 50%;
padding-top: 8px;
width: 56px;
background-color: gray;
transition:  ease all 1s;
height: 54px;
}
.main .them img:hover{
    transform: rotate(360deg);
}
.main .ern-btn {
    padding-left: 60px;

}

.main .ern-btn  button {
    height: 93px;
    width: 166px;
    color: rgb(0, 0, 0);
    font-size: 17px;
    position: absolute;
    top: -3px;
    padding-top: 3px;
    background: #FDC7B0;
    
    z-index: 1;
    BORDER-RADIUS: 9PX;
    FONT-FAMILY: sans-serif;
}
.main .ern-btn button span {
    color: black;
    font-weight: bolder;
    FONT-SIZE: 1.6em;
}

.reg{
    height: auto;
        margin: 40px 38pc;
}

h1{
   padding-top: 20px;
    color: #0c0b0b;
    font-family: sans-serif;
    padding-left: 92px;
    font-size: 37px;
}
form{
    padding: 24px 0;
}
.form-row {
    padding: 0px 89px;
}
.form-col{
    padding: 5px;
}
.form-col1{
    padding: 5px;
}

input[type="text"] {
    height: 54px;
    width: 490px;
    border: none;
    border-radius: 9px;
    outline: none;
    background-color: gainsboro;
    font-size: 17px;
    padding: 0 25px;
}
label {
    font-size: 20px;
    color: black;
    font-family: sans-serif;
    padding: 3px 4px;
}

select {
    height: 54px;
    width: 490px;
    border: none;
    outline: none;
    background-color: gainsboro;
    color: gray;
    font-size: 17px;
    padding: 6px 22px;
    font-family: sans-serif;
    border-radius: 7px;
}
option {
    border: none;
    color: black;
    font-family: system-ui;
}
textarea {
    height: 134px;
    width: 490px;
    background-color: gainsboro;
    outline: none;
    border:none;
    border-radius: 7px;
    font-size: 17px;
    padding: 14px 26px;
    font-family: sans-serif;
}
.btn {
    border-radius: 10px;
    border: none;
    background-color: rgb(0 0 0);
    color: white;
    width: 148px;
    height: 55px;
    font-weight: 700;
    margin: 0 338px;
    font-size: 17px;
}
    p {
        color: red;
        font-size: 14px;
        font-family: monospace;
        padding: 11px 12px;
        font-weight: bold;
    }