*{
    padding: 0%;
    margin: 0%;
}
header{
    width: 100%;
}
header .img{
    background-image: url(banner3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;
}
header .menu{
    margin-top: 10px;
    background-color: rgb(240, 236, 236);
    text-align: center;
    position: sticky;
    top: 0;
    /* position: stiky; */
    /* top: 5px;c */
}
.menu ul{
    display: inline-flex;
    list-style: none;
    color:  rgb(241, 0, 0);
}
.menu ul li{
    width: 112px;
    margin: 19px;
    padding: 6px;
}
.menu ul li a{
    text-decoration: none;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(218, 8, 8);
    font-weight: bolder;

}
.logo h1{
    color: blue;
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    
} 
span{
    font-size: 30px;
    color: rgb(0, 0, 0);
}
.pragraph .pragraph2 P{
    font-size: 22px;
    /* font-weight: bolder; */
    font-family: Gabriola;
    color: rgb(255, 255, 255);
    padding-top: 250px;
    padding-left: 50px;
}
 
.pragraph .pragraph2 h1{
    color: rgb(255, 11, 11);
    font-size: 4em;
    padding-top: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 52px;
    transition: 1s all ease;
    text-shadow: 3px 3px 4px white;
  }
  .pragraph .pragraph2 h1:hover{
    transform:translatey(-20px);
box-shadow: 5px 6px 10px rgb(224, 224, 224);

}
button{
    height: 50px;
    width: 150px;
    color: white;
    background-color: red;
    margin-left: 145px;
    margin-top: 23px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
button:hover{
    color: yellow;
    background-color: green;
    border-radius: 10px;
    border: none;
}
.pragraph3 h1{
    color: red;
    /* padding-left: 250px; */
    text-align: center;
    font-size: 60px;
    padding-top: 36px;

}
.pragraph4 p{
    color: black;
    padding-left: 50px;
    font-size: 20px;
    text-align: center;
    padding-top: 30px;
}
.hr{
    padding-top: 20px;
}
.hr hr {
    color: rgb(0, 41, 128);
    size: 7px;
    /* width: 100%; */
    text-align: center;
    
}
.imgage {
    /* background-color: rgb(93, 95, 95); */
    padding: 20px;
    display: flex;
    
    padding-top: 50px;
}
.imgage .img1  img{
     width: 349px;
     height: 234px;
     border-radius: 15px;
     margin-left:50px;
     transition: 1s all ease;
     border-radius: 10px; 
}
.imgage .img1 img:hover{
    height: 210px;
    width: 330px;
     transform:translatey(-20px);
     box-shadow: 5px 6px 10px black;
}
 .imgage .img1 .prg{
    color: rgb(0, 0, 0);
    padding-left: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
 }
 .imgage .img1 .prg H1{
     margin-left: 122px;
     /* padding: 10px; */
     font-family:Yu Gothic;
     margin-top: 6px;
     color: rgb(47, 0, 255);
     font-size: 30px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 .imgage .img1 .prg H1:hover{
    color: rgb(243, 7, 7);
 }
 .imgage .img1 .prg p{
         padding: 10px;
         margin-left: 15px;
         padding-bottom: 100px;
 }
  
.main{
    /* background-color: antiquewhite; */
    padding: 15px;
    display: flex;
    /* background-color: pink; */
    /* margin: 50px; */
    /* border: 3px solid yellow; */
    
}
.main img{
    height: 370px;
    background-position: center;
     /* text-shadow: 3px 2px 5px rgb(223, 16, 16);  */
    border-radius: 22px;
    width: 585px;
    transition: 1s all ease;;
}
.main img:hover{
    width: 550px;
height: 340px;
transform:translatey(-20px);
box-shadow: 5px 6px 10px black;

}
 
.left{
    /* border: 4px solid green; */
    padding: 20px;
}
.main .right h1{
    color: #f71700;
font-size: 4em;
text-align: center;
text-shadow: 2px 2px 5px blue
}
 
.right p{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    padding-top: 20px;
    
} 
.right{
    padding: 33px;
    /* border: 50px rgb(26, 24, 24); */
}
.main .right button {
     margin-top: 34px;
     margin-left: 226px;
}
.main .right button a{
    text-decoration: none;
    color: rgb(235, 235, 235);
    font-size: 20px;
     
}
.content{
    /* background-color: yellowgreen; */
    padding-top: 40px;
    display: flex;
    /* background-color: pink; */
    height: 390px;

}
 
 
.content .img-left img{
    height: 348px;
    background-position: center;
    border-radius: 20px;
    width: 682px;
    transition: 1s all ease;
    padding-right: 25px;
}
.content .img-left img:hover{
    height: 300px;
    width: 650px;
    transform:translatey(-20px);
    box-shadow: 5px 6px 10px black;


}
.content .prg-right p{
    font-size: 5em;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: rgb(223, 18, 18);
padding-top: 70px;
padding-left: 41px;
font-weight: bolder;
transition: 1s all ease;
text-shadow: 2px 4px 5px black;
}
.prg-right p:hover{
/* color: darkorange;
background-color: yellowgreen ; */
    transform:translatey(-20px);
    box-shadow: 5px 6px 10px black;

}
.looking { 
    /* background-color: rgb(27, 139, 134); */
    height: 700px;
    padding-top: 85px;
}
.looking h1{
    color: rgb(0, 0, 0);
    font-size: 50px;
    /* font-weight: bolder; */
    font-family: Candara Light;
    font-variant: small-caps;
    text-align: center;
}
.looking p{
    padding-top: 27px;
text-align: center;
color: rgb(0, 0, 0);
font-size: 20px;
/* font-weight: bold; */
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
.find{
    /* background-color: antiquewhite; */
    /* padding: 15px; */
    display: flex;
    background-color: bisque;
     margin: 25px; 
    /* border: 3px solid yellow; */
    
}
.find .main-left video{
    height: 440px;
    width: 590px;

}
.find .main-left{
    /* border: 4px solid green; */
    padding: 20px;
}
.find .main-right{
    padding: 50px;
    padding-top: 137px;
    /* border: 50px rgb(26, 24, 24); */
}
.find .main-right h1{
     color: rgb(0, 0, 0);
     font-size: 35px;
     font-weight: bold;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.find .main-right p{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
}
 
.review{
    /* background-color: rgb(170, 176, 180); */
    height: 300px;
    padding: 20px;
}
.review .review1 h1{
    padding-top: 50px;
    text-align: center;
    font-size: 40px;
    font-family: Candara Light;
}
.review .review1 span{
    color: rgb(235, 8, 8);
    font-size: 40px;
    padding-left: 649px;
    padding-top: 30px
}
.review .review1 p{
   text-align: center;
    font-size: 20px;
     padding-left: 47px;
     
}
.review .review1 .imgs{
    margin-left: 47%;
    /* padding: 45px; */
     margin-top: 30px;
}
.review .review1 .imgs img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    box-shadow: 2px 2px 15px black;
    transition: 1s all ease;
}
.review .review1 .imgs :hover{

    transform:translatey(-20px);
    box-shadow: 5px 5px 10px black;

 }
.review .review1 .img-con{
     margin-left:45%;
}
.review .review1 .img-con h3{
      padding: 10px;
}
footer{
    background-color: black;
    height: 200px;
    width: 100%;
    font-family: open Sans;
    color: whitesmoke;
    padding-top: 20px;
    margin-top: 120px;
}
.foter-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.foter-content h3{
    font-size: 3.8rem;
    font-weight: 400;
    text-transform: capitalize;


}
.foter-content p{
    max-width: 500px;
    margin: 10px,auto;
    line-height: 28px;
    font-size: 14px;
}
.social{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.social li{
    margin: 0 10px;
}
.social a{
    font-size: 1.1rem;
    color: white;
}
.social a:hover i{
    color: yellow;
}
.foter-bottom {
    background-color: black;
    width: 99%;
    padding: 20px ,0;
    text-align: center;
}
.foter-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.foter-bottom span{
    /* text-transform: uppercase; */
    opacity: .5;
    /* font-weight: bolder; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: gray;
    font-size: 18px;
}
 