@media (Min-width:1440px){
    .main {
        width: 120pc;
    }
.logo-img img {
    display: block;
}
.logo {
    PADDING-LEFT: 12PC;
}
.logo .src {
    display: block;
}
.logo .src input {
    display: block;
}
.heder-link {
    display: block;
    padding-left: 48px;
}
.heder-link a {
    padding-left: 45px;
    font-size: 22px;
}
.slide-img {
    padding-top: 3pc;
    padding-left: 8pc;
}
.slide-img img {
    width: 103pc;
    padding: 47px 57px;
}
.shoping {
    width: 113pc;
    column-gap: 72pc;
    padding-left: 188px;
}
.offer-grid {
    padding: 22px 180px;
}
.arrow-span {
    padding-left: 11pc;
    column-gap: 89pc;
}
.shoping-site {
    column-gap: 78pc;
    padding-left: 176px;
}
.sec1 {
    padding-left: 102px;
}
.sec1 .best-site {
    column-gap: 12px;
    padding: 12px 84px;
}
.arrow-span1 {
    padding-left: 5pc;
    column-gap: 89pc;
    padding-top: 36px;
}
.arrow-span3 {
    padding-left: 5pc;
    column-gap: 93pc;
}
.shoping-site1 {
    column-gap: 83pc;
    padding-left: 80px;
}

.cupons {
    row-gap: 43px;
    grid-template-columns: repeat(2,3fr);
    padding: 16px 79px;
}

.grid-cupon {
    width: 42.1pc;
    column-gap: 30px;
    padding: 38px 44px;
}
.cupon-img h2{
font-size: 22px;
width: 120px;
}
.grid-cupon .coupon-cont h2 {
    width: 29pc;
}
.grid-cupon .coupon-cont .dte p {
    font-size: 13px;
}
.grid-cupon .coupon-cont .dte button{
width: 249px;
    height: 47px;
}
.shoping-site2 {
    padding-left: 5pc;
    column-gap: 85pc;

}
.Voucher {
    padding: 21px 90px;
    column-gap: 3px;

}
.bnner{
    padding-left: 0px  ;
position: relative;
}
.bnner img{
width: 20pc
}
.img-flex-img img{
    width:auto;
    height: auto;
}
.border {
    width: 19.9pc;
    height: 10pc;
}
.img-flex {
    position: absolute;
    top: 13pc;
    padding-left: 20px;
  
}
.v-cont {
    margin-left: 96px;
    position: absolute;
    top: 53px;
    width: 15pc;
} 
.price {
    padding-top: 5pc;

}
.price h2{
padding-top: 6px;
font-size: 33px;
font-family: sans-serif;

}

.shoping-site3 {
    column-gap: 83pc;
    padding-left: 87px;
}
.shoping-site3 h2 {
    font-size: 29px;
    font-family: sans-serif;

}

.gift {
    width: 28pc;
    height: 25vh;
}
.gift-cont {
    padding-left: 13pc;
}
.gift-cont h2{
padding-left: 11px;
    padding-top: 7px;
    font-family: sans-serif;
    font-size: 36px;
}
.gift-cont h2 a{
    color: black;
}
.gift-cont h2 a:hover{
    color: red;
}
.gift-cont h6{
padding-top: 11px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 500;
    color: black;
}
.gift-cont p{
font-size: 18px;
padding-top: 25px;
font-weight: bold;
font-family: sans-serif;
}
.arrow-span2 {
    column-gap: 90pc;
    padding-left: 86px;
}
 
.exclusive-img img {
width:101pc;
}
.Recommendation {
    padding-top: 3pc;
}
.Recommendation-img .blck-fridy img {
    height: 28pc;
    width: 29pc;
    margin-left: 14px;
}

.Recommendation-img .blck-fridy1 img{
height: 25pc;
width: 27pc;
margin-top: 14px;
}
.foter-logo {
    display: flex;
}
.logo-About h6 {
    padding-top: 8px;
    font-size: 29px;
    width: 15PC;
    font-weight: 100;
}
.foter-logo .footer-imglogo img {
    height: auto;
}
.link1 {
    padding-left: 7px;
    padding-top: 27px;
    display: block;
}
.footer {
    padding-left: 0px;
    width: 119pc;
    height: 27pc;
    margin-top: 40px;
}
.footer .footer-min {
    padding: 45px 131px;
    column-gap: 12px;
    grid-template-columns: repeat(6,1fr);
}
.footer-heding h4 {
    PADDING-TOP: 11PX;
    padding-left: 0;
    font-size: 29px;
    color: whitesmoke;
}
.link {
    padding-top: 28px;
    padding-left: 31px;
    display: block;
}
.link a {
    line-height: 2;
    font-size: 19px;
}
.link1 a {
    font-size: 19px;
}
.footer-heding h5 {
    width:15pc;
    padding-top: 12px;
    display: block;
    FONT-SIZE: 29PX;
}
.footer-heding .Apps {
    padding-top: 50px;
    padding-left: 33px;
}
.footer-heding h3 {
    font-size: 29px;
    padding: 15PX 58PX;
    COLOR: WHITESMOKE;
}
.footer-heding P {
    padding-top: 23px;
    font-size: 18px;
    padding-left: 4pc;
}
.contct {
    padding-left: 65PX;
}
.footer-heding .email-btn {
    padding-top: 20px;
    padding-left: 6pc;
}
.footer-heding .contct input {
    width: 14pc;
    height: 45px;
    font-size: 19px;
}
.footer-heding .email-btn {
    padding-top: 20px;
    padding-left: 7pc;
}
.footer-heding .email-btn button {
    width: 138px;
    height: 43px;
    font-size: 17px;
}
}