@media (MAx-width:768px){
    .main {
        display: flex;
        width: 48pc;
    }
    .logo {
        PADDING-LEFT: 2PC;
    }
    .logo-img img {
        display: none;
    }
    .heder-link {
        padding-left: 0;
        padding-top: 0;
        display: none;
    }
.main .ern-btn {
    padding-left: 2pc;
}
.slide-img img {
    width: 48pc;
    padding: 31px 26px;
}
.shoping {
    display: flex;
    width: 110pc;
    column-gap: 21pc;
    padding-left: 30px;
}
.offer-grid {
    padding: 12px 39px;
    column-gap: 36px;
}
.arrow-span {
    padding-left: 2pc;
    column-gap: 38pc;
}
.shoping-site {
    display: flex;
    width: 110pc;
    column-gap: 27pc;
    padding-left: 39px;
}
.sec1 {
    padding-top: 23px;
    padding-left: 0px;
}
.sec1 .best-site .piz1 {
    padding: 5px;
    width: 13pc;
    border: 2px solid;
    height: 14pc;
}
.sec1 .best-site {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding: 12px 37px;
    column-gap: 36px;
}
.sec1 .best-site .piz {
    padding: 11px;
    width: 13pc;
    border: 2px solid;
    height: 14pc;
}

.arrow-span1 {
    column-gap: 37pc;
}
.shoping-site1 {
    column-gap: 32pc;
    padding-left: 35px;
}
.cupons {
    column-gap: 54px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    padding: 11px 37px;
}
.grid-cupon {
    column-gap: 7px;
    border: 2px solid antiquewhite;
    width: 43.3pc;
    padding: 38px 25px;
}
.shoping-site2 {
    column-gap: 31pc;
    padding-left: 40px;
    padding-top: 1pc;
}
.Voucher {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px 29px;
    column-gap: 32px;
}
.shoping-site3 {
    column-gap: 30pc;
}

.gift-Card {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 38px 71px;
    column-gap: 75px;
}
.gift .giftbox img {
    width: 18pc;
    left: -53px;
    top: -59px;
    position: absolute;
}
.gift {
    width: 34pc;
    height: 55vh;
}
.arrow-span2 {
    padding-left: 2pc;
    column-gap: 37pc;
}

.exclusive-img img {
    width: 43pc;
} 
.Recommendation {
    padding-top: 2pc;
}
.Recommendation-img .blck-fridy img {
    height: 17.2pc;
    width: 15pc;
    margin-left: 25px;
}
.Recommendation-img .blck-fridy1 img {
    height: 15pc;
    width: 12pc;
    margin-left: 10px;
    margin-top: 14px;
}
.footer {
    padding-left: 27px;
    width: 48pc;
    height: 28pc;
    margin-top: 36px;
}
.foter-logo {
    display: none;
   
}
.footer .footer-min {
    display: grid;
    padding: 21px 16px;
    grid-template-columns: repeat(1,1fr);
}

.link {
    padding-top: 0;
    padding-left: 0;
    display: none;
}
.footer-heding h5 {
    padding-top: 0;
    display: none;
}
.footer-heding h4 {
    padding-top: 0;
    color: gray;
    padding-left: 14pc;
    font-size: 35px;
}

.footer-heding h3 {
    padding-left: 16PC;
    font-size: 34px;
}
.link1 {
    padding-left: 0;
    padding-top: 0;
    display: none;
}

.footer-heding{
padding-left: 0px;
}
.footer-heding .Apps {
    padding-top: 24px;
    padding-left: 15pc;

}


.footer-heding P {
    padding-top: 8px;
    font-size: 18px;
    padding-left: 10pc;
}
.contct {
    padding-left: 10pc;
}
.footer-heding .contct input {
    width: 23pc;
    height: 52px;
    font-size: 25px;
    border-radius: 20px;

}

.footer-heding .email-btn {
    padding-top: 21px;
    padding-left: 16pc;
}
.footer-heding .email-btn button {
    width: 180px;
    height: 44px;
    border-radius: 7px;
    font-size: 23px;

 
}
.footer-bottom .design span {
    font-family: sans-serif;
    font-size: 19px;
    color: rgb(0, 0, 0);
    padding-left: 1pc;
}
.footer-bottom .design span h2 a {
    color: blue;
}
footer-bottom .design {
    padding-top: 40px;
}
.footer-bottom {
    height: 80px;
    width: 100%;
    background: rgb(255, 255, 255);
}
.footer-bottom .design span h2 a {
    padding-left: 0;
}

}