@media (max-width:425px){
    .main {
        align-items: stretch;
        display: flex;
        height: 94px;
        width: 46pc;
        background-color:white;
    
    }
    .logo {
        PADDING-LEFT: 0PC;
        padding-top: 17px;
        column-gap: 13px;
    }
    .logo .src {
        padding-left: 0;
    }
    .logo-img img{
        display:none;
    
    }
    .logo .logo-p p {
        display:  none;
    }
    .heder-link {
        padding-left: 0pc;
    }
    .heder-link a {
        display:  none;
    }
    .logo .src span {
        color: black;
        position: absolute;
        padding-left: 10px;
        padding-top: 14px;
    }
    .logo .src input {
        border-radius: 5px;
        width: 14pc;
        height: 45px;
        background: #e6e5e1;
        padding-left: 35px;
    }
    .main .ern-btn {
        padding-left: 44px;
    }    
    .main .them img {
        display:  none;
    }
    .main .them {
        padding-left: 0px;
    }
    .main .ern-btn button {
        border: none;
        height: 57px;
        width: 100px;
        top: 19px;
        font-size: 12px;
    
    }
    .slide-img img {
        width: 27pc;
        padding: 33px 26px;
    }
    .shoping {
        width: 27pc;
        column-gap: 0pc;
        padding-left: 23px;
    }
    .shoping h2 {
        font-size: 21px;
        width: 20pc;
    }
    .offer-grid {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        padding: 21px 31px;
        column-gap: 19px;
    }
    .arrow-span {
        display: flex;
        padding-left: 2pc;
            column-gap: 17pc;
        }
    
    .shoping-site {
        display: flex;
        width: 56pc;
        column-gap: 7pc;
        padding-left: 33px;
    }
    .shoping h6 {
        padding-top: 7px;
    }
    
    .shoping-site h2 {
        font-size: 26px;
    }
    .sec1 .best-site .piz1 {
        padding: 7px;
        width: 12pc;
        height: 13pc;
    }
    .sec1 .best-site .piz {
        padding: 7px;
        width: 12pc;
        height: 13pc;
    }
    .sec1 {
        padding-top: 12px;
        padding-left: 9px;
    }
    .sec1 .best-site {
        display: grid;
        grid-template-columns: repeat(5,1fr);
        padding: 1px 12px;
        column-gap: 20px;
    }
    
    .arrow-span1 {
        display: flex;
        padding-left: 1pc;
        column-gap: 17pc;
        padding-top: 18px;
    }
    .shoping-site1 {
        display: flex;
        width: 60pc;
        column-gap: 13pc;
        padding-left: 11px;
        padding-top: 1pc;
    }
    .shoping-site1 h6 {
        padding-top: 6px;
    }
    .shoping-site1 h2 {
        font-size: 26px;
        font-family: sans-serif;
    }
    .shoping-site h6 {
        padding-top: 6px;
    }
    .shoping-site2 h2 {
        font-size: 27px;
        font-family: sans-serif;
    }
    .cupons {
        display: grid;
        grid-template-columns: repeat(6,1fr);
        padding: 16px 13px;
        column-gap: 50px;
    
    }
    .grid-cupon {
        display: flex;
        column-gap: 40px;
        border: 2px solid antiquewhite;
        width: 39pc;
        height: auto;
        padding: 19px 18px;
        background: antiquewhite;
    }
    .cupon-img h2 {
        font-family: sans-serif;
        width: 96px;
    }
    .grid-cupon .coupon-cont ul li {
        font-size: 14px;
        width: 21pc;
    }
    .grid-cupon .coupon-cont h2 {
        font-size: 20px;
        width: 28pc;
    }
    .grid-cupon .coupon-cont .dte {
        display: flex;
        column-gap: 65px;
        padding-top: 10px;
    }
    .grid-cupon .coupon-cont .dte button {
        width: 146px;
        height: 43px;
        background: black;
    }
    .grid-cupon .coupon-cont .dte button a {
        color: white;
        font-size: 21px;
    }
    .shoping-site2 {
        display: flex;
        width: 61pc;
        column-gap: 13pc;
        padding-left: 13px;
        padding-top: 1pc;
    
    }
  .Voucher {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px 16px;
    column-gap: 22px;
}
    
    
    .img-flex {
        position: absolute;
        top: 10pc;
        padding-left: 11px;
    }

    .bnner img {
        width: 19pc;
    }
    .img-flex-img img {
        width: auto;
        height: auto;
    }
    .border {
        width: 18.9pc;
    }

    .price {
        display: flex;
        column-gap: 3pc;
        padding-top: 3pc;
        padding-left: 16px;
    }
   
        .shoping-site3 {
            width: 62pc;
            column-gap: 11pc;
            padding-left: 17px;
            padding-top: 2pc;
        }
        .shoping-site3 h2 {
            font-size: 26px;
        }
        .shoping-site3 h6 {
            padding-top: 8px;
        }
    .gift { 
        width: 22pc;
    height: 39vh;
        column-gap: 27px;
    }
    .gift-Card {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding: 40px 29px;
        column-gap: 66px;
    }
    .gift .giftbox img {
        width: 13pc;
        left: -40px;
        top: -64px;
        position: absolute;
    }
    .gift-cont {
        padding-top: 26px;
        padding-left: 8pc;
    }
    .gift-cont img {
        width: 162px;
        margin-left: 6px;
    }
    .gift-cont h2 {
        FONT-SIZE: 22PX;

    padding-left: 51px;
}
.gift-cont h6 {
    padding-top: 10px;
    font-size: 17px;
}
.gift .giftbox p {
    top: 151px;
    padding-left: 19px;
    font-size: 18px;
}
.arrow-span2 {

    padding-left: 2pc;
    column-gap: 15pc;
    padding-top: 1px;
}
.exclusive h1 {
    padding-top: 27px;
    font-size: 21px;
    padding-left: 31px;
}
.exclusive-img {
    padding-left: 29px;
    padding-top: 32px;
}
.exclusive-img img {
    width: 23pc;
}
.Recommendation {
    padding-top: 2pc;
    padding-left: 28px;
}
.Recommendation h1 {
    font-size: 24px;
}
.Recommendation-img {
    display: grid;
    padding-top: 16px;
    grid-template-columns: repeat(3,1fr);
    column-gap: 9px;
}
.Recommendation-img .blck-fridy img {
    height: 9pc;
    width: 9pc;
    margin-left: 15px;
}
.Recommendation-img .blck-fridy1 img {
    height: 8pc;
    width: 6pc;
    margin-top: 5px;
}
.footer {
    padding-left: 0;
    width: 27pc;
    height: 25pc;
    margin-top: 36px;
}
.foter-logo {
    
    display: NONE;
  
}
.logo-About h6 {
    padding-top: 2px;
    font-size: 26px;
}
.footer .footer-min {
    display: grid;
    padding: 21px 16px;
    grid-template-columns: repeat(1,1fr);
}

.link {
    padding-top: 0;
    padding-left: 0;
    display: none;
}
.footer-heding h5 {
    padding-top: 0;
    display: none;
}
.footer-heding h4 {
    padding-top: 0;
    color: gray;
    padding-left: 6pc;
    font-size: 29px;
}

.footer-heding h3 {
    padding-left: 7PC;
}
.link1 {
    padding-left: 0;
    padding-top: 0;
    display: none;
}

.footer-heding{
padding-left: 0px;
}
.footer-heding .Apps {
    padding-top: 24px;
    padding-left: 6Pc;

}
.footer-heding P {
    padding-top: 8px;
    color: white;
    font-size: 15px;
    padding-left: 2pc;
    width: 46pc;
}
.contct {
    padding-left: 4pc;
}
.footer-heding .contct input {
        width: 17pc;
        height: 48px;
        font-size: 20px;
    border-radius: 20px;
}

.footer-heding .email-btn {
    padding-top: 11px;
    padding-left: 8pc;
}

.footer-heding .email-btn button {
    width: 144PX;
    height: 42px;
    border: none;
    border-radius: 7px;
    font-size: 21px;
    background: bisque;
}
.footer-bottom .design span {
    font-family: sans-serif;
    font-size: 15px;
    color: rgb(0, 0, 0);
    padding-left: 1pc;
}
.footer-bottom .design span h2 a {
    color: blue;
}
.footer-bottom {
    height: 80px;
    width: 100%;
    background: rgb(255, 255, 255);
}
.footer-bottom .design span h2 a {
    padding-left: 0;
    FONT-SIZE:13PX;
}
}