* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

header {
  background-color: rgb(0, 0, 0);
}
header .header-top {
  margin: 0px 27px 0px 9px;
  padding: 0px;
}

header .header-nav {
  display: flex;
  padding: 15px;
}


header .header-nav .bars {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* header .header-nav .nav .navi {
    position: absolute;
    top: 100px;
    left: 100px;
    display: block;
    width: 200px;
    height: auto;
    background-color: red;
  }
  header .header-nav .nav .navi ul {
    display: flex;
    flex-direction: column;
  } */

  header .header-nav .bars button {
    height: 38px;
    width: 43px;
    border-radius: 50%;
    background: #7d7373;
    COLOR: WHITE;
}

header .header-nav .logo {
  
  display: flex;
  padding: 20px;
  justify-content: center;
}
header .header-nav .logo h1 {
  font-family: sans-serif;
  font-weight: bold;
}
.input-search {
  position: relative;
}
.input-search span {
  position: absolute;
  left: 11px;
  top: 14px;
  font-size: 19px;
  color: gray;
}
header .header-nav .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
header .header-nav .logo p {
  font-size: 20px;
  padding-left:0 px;
  font-family: sans-serif;
  color: bisque;
}
header .header-nav .nav .search {
  position: relative;
}
header .header-nav .nav .search span {
  position: absolute;
  left: 9px;
  top: 11px;
  font-size: 18px;
  color: gray;
}
header .header-nav .nav .search input {
  height: 40px;
  width: 229px;
  padding: 21px 38px;
  border-radius: 22px;
  border: none;
  font-size: 19px;
}
header .header-nav .nav .mid-nav {
  flex: 1;
}

header .header-nav .nav .mid-nav ul {
  display: flex;
  /* padding-left: 3px; */
}

header .header-nav .nav .mid-nav ul li {
  padding: 10px;
  font-size: 17px;
  font-family: sans-serif;
  font-weight: bold;
}
header .header-nav .bell {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
 
}
header .header-nav .bell img {
  height: 50px;
  border-radius: 60%;
  width: 66px;
  background-color: black;
}

header .header-nav .btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header .header-nav .btn button {
  height: 40px;
  width: 100px;
  border: none;
  border-radius: 10px;
}

.header-bottom {
  padding: 30px;
}

.header-bottom .header-b-val {
  display: flex;
}

.header-bottom .input-search input {
  height: 40px;
  width: 160px;
  border-radius: 10px;
}

header .header-nav .btn button {
  position: absolute;
  height: 80px;
  width: 134px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  top: -3px;
  background: #fdc7b0;
}

.bxslider .info .image img {
  width: 100%;
  height: 100%;
}

.menu-list li a {
  color: white;
  font-size: 16px;
}
