* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  ul {
    list-style: none;
  }
  
  header {
    background-color: rgb(0, 0, 0);
  }
  header .header-top {
    margin: 0px 27px 0px 9px;
    padding: 0px;
  }
  
  header .header-nav {
    display: flex;
    padding: 15px;
  }
  
  
  header .header-nav .bars {
      position: relative;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  /* header .header-nav .nav .navi {
      position: absolute;
      top: 100px;
      left: 100px;
      display: block;
      width: 200px;
      height: auto;
      background-color: red;
    }
    header .header-nav .nav .navi ul {
      display: flex;
      flex-direction: column;
    } */
  
    header .header-nav .bars button {
      height: 38px;
      width: 43px;
      border-radius: 50%;
      background:#67696B;
      BORDER:NONE;
      COLOR: WHITE;
  }
  
  header .header-nav .logo {
    
    display: flex;
    padding: 20px;
    justify-content: center;
  }
  header .header-nav .logo h1 {
    font-family: sans-serif;
    font-weight: bold;
  }
  .input-search {
    position: relative;
  }
  .input-search span {
    position: absolute;
    left: 11px;
    top: 14px;
    font-size: 19px;
    color: gray;
  }
  header .header-nav .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  header .header-nav .logo p {
    font-size: 20px;
    padding-left:0 px;
    font-family: sans-serif;
    color: bisque;
  }
  header .header-nav .nav .search {
    position: relative;
  }
  header .header-nav .nav .search span {
    position: absolute;
    left: 9px;
    top: 11px;
    font-size: 18px;
    color: gray;
  }
  header .header-nav .nav .search input {
    height: 40px;
    width: 229px;
    padding: 21px 38px;
    border-radius: 22px;
    border: none;
    font-size: 19px;
  }
  header .header-nav .nav .mid-nav {
    flex: 1;
  }
  
  header .header-nav .nav .mid-nav ul {
    display: flex;
    /* padding-left: 3px; */
  }
  
  header .header-nav .nav .mid-nav ul li {
    padding: 10px;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: bold;
  }
  header .header-nav .bell {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
   
  }
  header .header-nav .bell img {
    height: 50px;
    border-radius: 60%;
    width: 66px;
    background-color: black;
  }
  
  header .header-nav .btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  header .header-nav .btn button {
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 10px;
  }
  
  .header-bottom {
    padding: 30px;
  }
  
  .header-bottom .header-b-val {
    display: flex;
  }
  
  .header-bottom .input-search input {
    height: 40px;
    width: 160px;
    border-radius: 10px;
  }
  
  header .header-nav .btn button {
    position: absolute;
    height: 80px;
    width: 134px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    top: -3px;
    background: #fdc7b0;
  }
  
  .bxslider .info .image img {
    width: 100%;
    height: 100%;
  }
  
  .menu-list li a {
    color: white;
    font-size: 16px;
  }
  .bxslider .info .image img {
    width: 100%;
    height: 100%;
  }
  
  .menu-list li a {
    color: white;
    font-size: 16px;
  }

section .bxslider .info .image img {
    width: 100%;
    height:auto;
}

.shoping {
    display: flex;
    width: 100%;
    column-gap: 79pc;
    padding-left: 129px;
}

.shoping h2 {
    font-size: 29px;
    width: 19pc;
    font-family: sans-serif;

}
.shoping h6 {
    font-family: sans-serif;
    font-size: 18px;
    padding-top: 14px;
    color: rgb(0, 0, 0) ;
}
.shoping h6:hover{
    color: red;
}
.offer-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    padding: 37px 132px;
    box-sizing: border-box;
    
}

.grid-img  {
    border: 2px solid  #FDC7B0;
    height: 170px;
    width: 128px;
    transition: all 2s ease;
    border-radius: 10px;
}
.grid-img:hover{
    border: 1px solid red;
    box-shadow: 2px 12px 10px#FDC7B0;
}
.grid-img img {
    padding: 25px 36px;
    height: 6pc;
}
.grid-img p{
    padding-left: 27px;
    padding-top: 6px;
    color: black;
    font-size: 20px;

}
.grid-img p:hover{
    color: red;
}
.grid-img2  {
    border: 2px solid  #FDC7B0;
    height: 170px;
    width: 128px;
    transition: all 2s ease;
    border-radius: 10px;
}
.grid-img2:hover{
    border: 1px solid red;
    box-shadow: 2px 12px 10px#FDC7B0;
}
.grid-img2 img {
    padding: 25px 36px;
    height: 6pc;
}
.grid-img2 p{
    padding-left: 27px;
    padding-top: 6px;
    color: black;
    font-size: 20px;

}
.grid-img2 p:hover{
    color: red;
}

.grid-img3  {
    border: 2px solid  #FDC7B0;
    height: 170px;
    width: 128px;
    transition: all 2s ease;
    border-radius: 10px;
}
.grid-img3:hover{
    border: 1px solid red;
    box-shadow: 2px 12px 10px#FDC7B0;
}
.grid-img3 img {
    padding: 25px 36px;
    height: 6pc;
}
.grid-img3 p{
    padding-left: 27px;
    padding-top: 6px;
    color: black;
    font-size: 20px;

}
.grid-img3 p:hover{
    color: red;
}



.grid-img4  {
    border: 2px solid  #FDC7B0;
    height: 170px;
    width: 128px;
    transition: all 2s ease;
    border-radius: 10px;
}
.grid-img4:hover{
    border: 1px solid red;
    box-shadow: 2px 12px 10px#FDC7B0;
}
.grid-img4 img {
    padding: 25px 36px;
    height: 6pc;
}
.grid-img4 p{
    padding-left: 27px;
    padding-top: 6px;
    color: black;
    font-size: 20px;

}
.grid-img4 p:hover{
    color: red;
}


.grid-img5  {
    border: 2px solid  #FDC7B0;
    height: 170px;
    width: 128px;
    transition: all 2s ease;
    border-radius: 10px;
}
.grid-img5:hover{
    border: 1px solid red;
    box-shadow: 2px 12px 10px#FDC7B0;
}
.grid-img5 img {
    padding: 25px 36px;
    height: 6pc;
}
.grid-img5 p{
    padding-left: 27px;
    padding-top: 6px;
    color: black;
    font-size: 20px;

}
.grid-img5 p:hover{
    color: red;
}


.grid-img6  {
    border: 2px solid  #FDC7B0;
    height: 170px;
    width: 128px;
    transition: all 2s ease;
    border-radius: 10px;
}
.grid-img6:hover{
    border: 1px solid red;
    box-shadow: 2px 12px 10px#FDC7B0;
}
.grid-img6 img {
    padding: 25px 36px;
    height: 6pc;
}
.grid-img6 p{
    padding-left: 27px;
    padding-top: 6px;
    color: black;
    font-size: 20px;

}
.grid-img6 p:hover{
    color: red;
}

.grid-img7  {
    border: 2px solid  #FDC7B0;
    height: 170px;
    width: 128px;
    transition: all 2s ease;
    border-radius: 10px;
}
.grid-img4:hover{
    border: 1px solid red;
    box-shadow: 2px 12px 10px#FDC7B0;
}
.grid-img7 img {
    padding: 25px 36px;
    height: 6pc;
}
.grid-img7 p{
    padding-left: 27px;
    padding-top: 6px;
    color: black;
    font-size: 20px;

}
.grid-img7 p:hover{
    color: red;
}


.grid-img8  {
    border: 2px solid  #FDC7B0;
    height: 170px;
    width: 128px;
    transition: all 2s ease;
    border-radius: 10px;
}
.grid-img8:hover{
    border: 1px solid red;
    box-shadow: 2px 12px 10px#FDC7B0;
}
.grid-img8 img {
    padding: 25px 36px;
    height: 6pc;
}
.grid-img8 p{
    padding-left: 27px;
    padding-top: 6px;
    color: black;
    font-size: 20px;

}
.grid-img8 p:hover{
    color: red;
}


.grid-img9  {
    border: 2px solid  #FDC7B0;
    height: 170px;
    width: 128px;
    transition: all 2s ease;
    border-radius: 10px;
}
.grid-img9:hover{
    border: 1px solid red;
    box-shadow: 2px 12px 10px#FDC7B0;
}
.grid-img9 img {
    padding: 25px 36px;
    height: 6pc;
}
.grid-img9 p{
    padding-left: 27px;
    padding-top: 6px;
    color: black;
    font-size: 20px;

}
.grid-img9 p:hover{
    color: red;
}



.grid-img10  {
    border: 2px solid  #FDC7B0;
    height: 170px;
    width: 128px;
    transition: all 2s ease;
    border-radius: 10px;
}
.grid-img10:hover{
    border: 1px solid red;
    box-shadow: 2px 12px 10px#FDC7B0;
}
.grid-img10 img {
    padding: 25px 36px;
    height: 6pc;
}
.grid-img10 p{
    padding-left: 27px;
    padding-top: 6px;
    color: black;
    font-size: 20px;

}
.grid-img10 p:hover{
    color: red;
}

.grid-img1  {
    border: 2px solid  #FDC7B0;
    height: 170px;
    width: 128px;
    transition: all 2s ease;
    border-radius: 10px;
}
.grid-img1:hover{
    border: 1px solid red;
    box-shadow: 2px 12px 10px#FDC7B0;
}
.grid-img1 img {
    padding: 25px 36px;
    height: 6pc;
}
.grid-img1 p{
    padding-left: 27px;
    padding-top: 6px;
    color: black;
    font-size: 20px;

}
.grid-img1 p:hover{
    color: red;
}

.arrow-span{
    display: flex;
    padding-left: 8pc;
    column-gap: 95pc;
}
.arrow-span span {
    font-size: 25px;
    border: none;
    border-radius: 32%;
    width: 52px;
    padding-left: 12px;
    color: black;
    background: 
    #FEE9DF;
    height: 35px;
    padding-top: 5px;
}
.arrow-span span:hover{
    opacity: 0.5;
    background-color: rgb(196, 116, 116);
}
.shoping-site {
    display: flex;
    width: 100%;
    column-gap: 85pc;
    padding-left: 118px;
    padding-top: 2pc;
}
.shoping-site h2 {
    font-size: 29px;
    font-family: sans-serif;

}
.shoping-site h6 {
    font-family: sans-serif;
    font-size: 18px;
    padding-top: 14px;
    color: rgb(0, 0, 0) ;
}
.shoping-site h6:hover{
    color: red;
}
.sec1 {
    padding-top: 40px;
    padding-left: 105px;
}
.sec1 .best-site {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding: 12px 49px;
}
.sec1 .best-site .piz1 {
    padding: 21px;
    width: 15pc;
    border: 2px solid;
    transition: all 1s ease;
    height: 15pc;
    border-radius: 23px;
}

.sec1 .best-site .piz1 h3 {
    padding-left: 44px;
    font-size: 23px;
    font-family: sans-serif;
}
.sec1 .best-site .piz1 .h1  {
    /* text-align: center; */
    font-size: 23px;
    padding-top: 30px;
    font-family: sans-serif;

}
.sec1 .best-site .piz1 button {
    margin: 22px 38px;
    width: 121px;
    height: 48px;
    border: none;
    background: antiquewhite;
    border-radius: 12px;
    font-size: 18px;
}                                             
.sec1 .best-site .piz1 img{
padding-left: 55px;
}
.sec1 .best-site .piz1 button a{
    color: black;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;

}
.sec1 .best-site .piz1 button a:hover{
    color: red;
}
.sec1 .best-site .piz {
    padding: 21px;
    width: 15pc;
    border: 2px solid;
    transition: all 1s ease;
    height: 15pc;
    border-radius: 23px;
}
.sec1 .best-site .piz:hover{
    transform: translate(3px);
    box-shadow: 12px 5px 12px#f1c0ab;
}
.sec1 .best-site .piz h3 {
    padding-left: 44px;
    font-size: 23px;
    font-family: sans-serif;
}
.sec1 .best-site .piz .h1  {
    /* text-align: center; */
    font-size: 23px;
    padding-top: 30px;
    font-family: sans-serif;

}
.sec1 .best-site .piz button {
    margin: 22px 38px;
    width: 121px;
    height: 48px;
    border: none;
    background: antiquewhite;
    border-radius: 12px;
    font-size: 18px;
}                                             
.sec1 .best-site .piz img{
padding-left: 55px;
}
.sec1 .best-site .piz button a{
    color: black;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;

}
.sec1 .best-site .piz button a:hover{
    color: red;
}
/*  */



.sec1 .best-site .piz2 {
    padding: 21px;
    width: 15pc;
    border: 2px solid;
    transition: all 1s ease;
    height: 15pc;
    border-radius: 23px;
}
.sec1 .best-site .piz2:hover{
    transform: translate(3px);
    box-shadow: 12px 5px 12px#f1c0ab;
}
.sec1 .best-site .piz2 h3 {
    padding-left: 44px;
    font-size: 23px;
    font-family: sans-serif;
}
.sec1 .best-site .piz2 .h1  {
    /* text-align: center; */
    font-size: 23px;
    padding-top: 30px;
    font-family: sans-serif;

}
.sec1 .best-site .piz2 button {
    margin: 22px 38px;
    width: 121px;
    height: 48px;
    border: none;
    background: antiquewhite;
    border-radius: 12px;
    font-size: 18px;
}                                             
.sec1 .best-site .piz2 img{
padding-left: 55px;
}
.sec1 .best-site .piz2 button a{
    color: black;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;

}
.sec1 .best-site .piz2 button a:hover{
    color: red;
}

.sec1 .best-site .piz3 {
    padding: 21px;
    width: 15pc;
    border: 2px solid;
    transition: all 1s ease;
    height: 15pc;
    border-radius: 23px;
}
.sec1 .best-site .piz3:hover{
    transform: translate(3px);
    box-shadow: 12px 5px 12px#f1c0ab;
}
.sec1 .best-site .piz3 h3 {
    padding-left: 44px;
    font-size: 23px;
    font-family: sans-serif;
}
.sec1 .best-site .piz3 .h1  {
    /* text-align: center; */
    font-size: 23px;
    padding-top: 30px;
    font-family: sans-serif;

}
.sec1 .best-site .piz3 button {
    margin: 22px 38px;
    width: 121px;
    height: 48px;
    border: none;
    background: antiquewhite;
    border-radius: 12px;
    font-size: 18px;
}                                             
.sec1 .best-site .piz3 img{
padding-left: 55px;
}
.sec1 .best-site .piz3 button a{
    color: black;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;

}
.sec1 .best-site .piz3 button a:hover{
    color: red;
}



.sec1 .best-site .piz4 {
    padding: 21px;
    width: 15pc;
    border: 2px solid;
    transition: all 1s ease;
    height: 15pc;
    border-radius: 23px;
}
.sec1 .best-site .piz4:hover{
    transform: translate(3px);
    box-shadow: 12px 5px 12px#f1c0ab;
}
.sec1 .best-site .piz4 h3 {
    padding-left: 44px;
    font-size: 23px;
    font-family: sans-serif;
}
.sec1 .best-site .piz4.h1  {
    /* text-align: center; */
    font-size: 23px;
    padding-top: 30px;
    font-family: sans-serif;

}
.sec1 .best-site .piz4 button {
    margin: 22px 38px;
    width: 121px;
    height: 48px;
    border: none;
    background: antiquewhite;
    border-radius: 12px;
    font-size: 18px;
}                                             
.sec1 .best-site .piz4 img{
padding-left: 55px;
}
.sec1 .best-site .piz4 button a{
    color: black;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;

}
.sec1 .best-site .piz4 button a:hover{
    color: red;
}
.arrow-span1{
    display: flex;
    padding-left: 2pc;
    column-gap: 92pc;
    padding-top: 24px;

}
.arrow-span1 span {
    font-size: 25px;
    border: none;
    border-radius: 32%;
    width: 52px;
    padding-left: 12px;
    color: black;
    background: antiquewhite;
    height: 35px;
    padding-top: 5px;
}
.arrow-span1 span:hover{
    opacity: 0.5;
    background-color: rgb(196, 116, 116);
}
.shoping-site1 {
    display: flex;
    width: 100%;
    column-gap: 90pc;
    padding-left: 26px;
    padding-top: 2pc;
}
.shoping-site1 h2 {
    font-size: 29px;
    font-family: sans-serif;

}
.shoping-site1 h6 {
    font-family: sans-serif;
    font-size: 18px;
    padding-top: 14px;
    color: rgb(0, 0, 0) ;
}
.shoping-site1 h6:hover{
    color: red;
}
.cupons {
    row-gap: 43px;
    column-gap: 0px;
    display: grid;
    grid-template-columns: repeat(2,3fr);
    padding: 16px 24px;
}

.grid-cupon {
    display: flex;
    column-gap: 40px;
    border: 2px solid antiquewhite;;
    width: 47pc;
    height: auto;
    padding: 38px 43px;
    transition: all 2s ease;
    border-radius: 19px;
}
.grid-cupon:hover{
    transform: translate(1px);
    box-shadow: 10px 2px 10px#FDC7B0;
}
.grid-cupon .cupon-img img {
HEIGHT: 62PX;
}
.cupon-img h2{
font-family: sans-serif;
font-size: 22px;
width: 120px;
}
.grid-cupon.cupon-img h2 span{
    font-family: sans-serif;
  padding-top: 10px;
    font-weight: 100;
    font-size: 18px;
}
.grid-cupon .coupon-cont h2{
font-family: sans-serif;
    font-size: 21px;
    width: 34pc;
}
.grid-cupon .coupon-cont ul li{
font-size: 15px;
padding-top: 13px;
font-family: sans-serif;
color: gray;
}
.grid-cupon .coupon-cont .rd {
    padding-top: 10px;
}
.grid-cupon .coupon-cont .rd a{

color: black;
font-family: sans-serif;
font-size: 16px;
text-decoration: underline;
text-transform: uppercase;
}
.grid-cupon .coupon-cont .rd a:hover{
    color: red;

}
.grid-cupon .coupon-cont .dte{
display: flex;
column-gap: 80px;
padding-top: 10px;
}
.grid-cupon .coupon-cont .dte p{
COLOR: RED;
FONT-FAMILY: sans-serif;
font-size: 18px;
padding-top: 12px
}
.grid-cupon .coupon-cont .dte button{
width: 249px;
    height: 47px;
    background: bisque;
    border: none;
    border-radius: 1pc;
}
.grid-cupon .coupon-cont .dte button a{
    color: black;
    font-size: 23px;
}

.grid-cupon1 {
    display: flex;
    column-gap: 40px;
    border: 2px solid antiquewhite;;
    width: 47pc;
    height: auto;
    padding: 38px 43px;
    transition: all 2s ease;
    border-radius: 19px;
}
.grid-cupon1:hover{
    transform: translate(1px);
    box-shadow: 10px 2px 10px#FDC7B0;
}
.grid-cupon1 .cupon-img img {
HEIGHT: 62PX;
}
.cupon-img h2{
font-family: sans-serif;
font-size: 22px;
width: 120px;
}
.grid-cupon1.cupon-img h2 span{
    font-family: sans-serif;
  padding-top: 10px;
    font-weight: 100;
    font-size: 18px;
}
.grid-cupon1 .coupon-cont h2{
font-family: sans-serif;
    font-size: 21px;
    width: 34pc;
}
.grid-cupon1.coupon-cont ul li{
font-size: 15px;
padding-top: 13px;
font-family: sans-serif;
color: gray;
}
.grid-cupon1 .coupon-cont .rd {
    padding-top: 10px;
}
.grid-cupon1 .coupon-cont .rd a{

color: black;
font-family: sans-serif;
font-size: 16px;
text-decoration: underline;
text-transform: uppercase;
}
.grid-cupon1 .coupon-cont .rd a:hover{
    color: red;

}
.grid-cupon1 .coupon-cont .dte{
display: flex;
column-gap: 80px;
padding-top: 10px;
}
.grid-cupon1 .coupon-cont .dte p{
COLOR: RED;
FONT-FAMILY: sans-serif;
font-size: 18px;
padding-top: 12px
}
.grid-cupon1 .coupon-cont .dte button{
width: 249px;
    height: 47px;
    background: bisque;
    border: none;
    border-radius: 1pc;
}
.grid-cupon1 .coupon-cont .dte button a{
    color: black;
    font-size: 23px;
}


.grid-cupon2 {
    display: flex;
    column-gap: 40px;
    border: 2px solid antiquewhite;;
    width: 47pc;
    height: auto;
    padding: 38px 43px;
    transition: all 2s ease;
    border-radius: 19px;
}
.grid-cupon2:hover{
    transform: translate(1px);
    box-shadow: 10px 2px 10px#FDC7B0;
}
.grid-cupon2 .cupon-img img {
HEIGHT: 62PX;
}
.cupon-img h2{
font-family: sans-serif;
font-size: 22px;
width: 120px;
}
.grid-cupon2.cupon-img h2 span{
    font-family: sans-serif;
  padding-top: 10px;
    font-weight: 100;
    font-size: 18px;
}
.grid-cupon2 .coupon-cont h2{
font-family: sans-serif;
    font-size: 21px;
    width: 34pc;
}
.grid-cupon2 .coupon-cont ul li{
font-size: 15px;
padding-top: 13px;
font-family: sans-serif;
color: gray;
}
.grid-cupon2 .coupon-cont .rd {
    padding-top: 10px;
}
.grid-cupon2 .coupon-cont .rd a{

color: black;
font-family: sans-serif;
font-size: 16px;
text-decoration: underline;
text-transform: uppercase;
}
.grid-cupon2 .coupon-cont .rd a:hover{
    color: red;

}
.grid-cupon2 .coupon-cont .dte{
display: flex;
column-gap: 80px;
padding-top: 10px;
}
.grid-cupon2 .coupon-cont .dte p{
COLOR: RED;
FONT-FAMILY: sans-serif;
font-size: 18px;
padding-top: 12px
}
.grid-cupon2 .coupon-cont .dte button{
width: 249px;
    height: 47px;
    background: bisque;
    border: none;
    border-radius: 1pc;
}
.grid-cupon2 .coupon-cont .dte button a{
    color: black;
    font-size: 23px;
}

.grid-cupon3 {
    display: flex;
    column-gap: 40px;
    border: 2px solid antiquewhite;;
    width: 47pc;
    height: auto;
    padding: 38px 43px;
    transition: all 2s ease;
    border-radius: 19px;
}
.grid-cupon3:hover{
    transform: translate(1px);
    box-shadow: 10px 2px 10px#FDC7B0;
}
.grid-cupon3 .cupon-img img {
HEIGHT: 62PX;
}
.cupon-img3 h2{
font-family: sans-serif;
font-size: 22px;
width: 120px;
}
.grid-cupon3.cupon-img h2 span{
    font-family: sans-serif;
  padding-top: 10px;
    font-weight: 100;
    font-size: 18px;
}
.grid-cupon3.coupon-cont h2{
font-family: sans-serif;
    font-size: 21px;
    width: 34pc;
}
.grid-cupon3 .coupon-cont ul li{
font-size: 15px;
padding-top: 13px;
font-family: sans-serif;
color: gray;
}
.grid-cupon3 .coupon-cont .rd {
    padding-top: 10px;
}
.grid-cupon3 .coupon-cont .rd a{

color: black;
font-family: sans-serif;
font-size: 16px;
text-decoration: underline;
text-transform: uppercase;
}
.grid-cupon3 .coupon-cont .rd a:hover{
    color: red;

}
.grid-cupon3 .coupon-cont .dte{
display: flex;
column-gap: 80px;
padding-top: 10px;
}
.grid-cupon3 .coupon-cont .dte p{
COLOR: RED;
FONT-FAMILY: sans-serif;
font-size: 18px;
padding-top: 12px
}
.grid-cupon3 .coupon-cont .dte button{
width: 249px;
    height: 47px;
    background: bisque;
    border: none;
    border-radius: 1pc;
}
.grid-cupon3 .coupon-cont .dte button a{
    color: black;
    font-size: 23px;
}
.shoping-site2 {
    display: flex;
    width: 100%;
    column-gap: 90pc;
    padding-left: 32px;
    padding-top: 2pc;
}
.shoping-site2 h2 {
    font-size: 29px;
    font-family: sans-serif;

}
.shoping-site2 h6 {
    font-family: sans-serif;
    font-size: 18px;
    padding-top: 14px;
    color: rgb(0, 0, 0) ;
}
.shoping-site2 h6:hover{
    color: red;
}
.Voucher {
    display: grid;
    /* padding-left: 70px; */
    /* padding-top: 30px; */
    grid-template-columns: repeat(4, 1fr);
    padding: 20px 45px;
}
.bnner{
position: relative;
}
.bnner img{
width: 21pc
}
.bnner1{
    position: relative;
    }
    .bnner1 img{
    width: 21pc
    }
    .bnner2{
        position: relative;
        }
        .bnner2 img{
        width: 21pc
        }
        .bnner3{
            position: relative;
            }
            .bnner3 img{
            width: 21pc
            }
















.img-flex-img img{
    width:auto;
    height: auto;
}
.border {
    border: 2px solid #FDC7B0;
    border-top: none;
    width: 20.9pc;
    height:8pc;
}
.img-flex {
    position: absolute;
    top: 13pc;
    padding-left: 20px;
  
}
.v-cont {
    margin-left: 96px;
    position: absolute;
    top: 53px;
    width: 15pc;
}
.v-cont span{
font-size: 21px;
    font-family: sans-serif;
}
.v-cont h2 {
    padding-left: 120px;
    font-size: 18px;
    font-weight: bolder;
    font-family: sans-serif;
}
.price {
    display: flex;
    column-gap: 4pc;
    padding-top: 4pc;
    padding-left: 20px;
}
.price button {
    width: 147px;
    border: none;
    border-radius: 4px;
    height: 46px;
    background: antiquewhite;
}
.price button a{
    font-size: 20px;
    color: black;
    font-family: sans-serif;

}
.price h2{
padding-top: 6px;
font-size: 33px;
font-family: sans-serif;
}
.arrow-span1{
    display: flex;
    padding-left: 2pc;
    column-gap: 95pc;
    padding-top: 24px;

}
.arrow-span1 span {
    font-size: 25px;
    border: none;
    border-radius: 32%;
    width: 52px;
    padding-left: 12px;
    color: black;
    background: 
    #FEE9DF;
    height: 35px;
    padding-top: 5px;
}
.arrow-span1 span:hover{
    opacity: 0.5;
    background-color: rgb(196, 116, 116);
}
.shoping-site3 {
    display: flex;
    width: 100%;
    column-gap: 89pc;
    padding-left: 32px;
    padding-top: 2pc;
}
.shoping-site3 h2 {
    font-size: 29px;
    font-family: sans-serif;

}
.shoping-site3 h6 {
    font-family: sans-serif;
    font-size: 18px;
    padding-top: 14px;
    color: rgb(0, 0, 0) ;
}
.shoping-site3 h6:hover{
    color: red;
}
.gift-Card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 40px 86px;
}

/*  */


.gift1:hover{
    transform: translate(3px);
    box-shadow: 18px 20px 20px#FDC7B0;

}
.gift1 .giftbox img {
    width: 15pc;
    left: -81px;
    top: -44px;
    position: absolute;
}
        


.gift1 .giftbox p{
position: absolute;
top: 182px;
padding-left: 49px;
color: red;
font-size: 20px;
font-family: sans-serif;
font-weight: bold;
}
.gift-cont{
padding-top: 31px;
padding-left: 15pc;
}
.gift-cont h2{
padding-left: 11px;
    padding-top: 7px;
    font-family: sans-serif;
    font-size: 36px;
}
.gift-cont h2 a{
    color: black;
}
.gift-cont h2 a:hover{
    color: red;
}
.gift-cont h6{
padding-top: 11px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 500;
    color: black;
}
.gift-cont p{
font-size: 18px;
padding-top: 25px;
font-weight: bold;
font-family: sans-serif;
}
.gift1 {
    border: 2px solid #FDC7B0;
    width: 30pc;
    transition: all 1s ease;
    position: relative;
    display: flex;
    height: 25vh;
    border-radius: 11px;
}


.gift {
    border: 3px solid antiquewhite;
    width: 30pc;
    transition: all 1s ease;
    position: relative;
    display: flex;
    height: 25vh;
    border-radius: 11px;
}
.gift:hover{
    transform: translate(3px);
    box-shadow: 18px 20px 20px#FDC7B0;

}
.gift .giftbox img {
    width: 15pc;
    left: -81px;
    top: -44px;
    position: absolute;
}
        


.gift .giftbox p{
position: absolute;
top: 182px;
padding-left: 49px;
color: red;
font-size: 20px;
font-family: sans-serif;
font-weight: bold;
}
.gift-cont{
padding-top: 31px;
padding-left: 15pc;
}
.gift-cont h2{
padding-left: 11px;
    padding-top: 7px;
    font-family: sans-serif;
    font-size: 36px;
}
.gift-cont h2 a{
    color: black;
}
.gift-cont h2 a:hover{
    color: red;
}
.gift-cont h6{
padding-top: 11px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 500;
    color: black;
}
.gift-cont p{
font-size: 18px;
padding-top: 25px;
font-weight: bold;
font-family: sans-serif;
}

/* gift2 */


.gift2 {
    border: 3px solid antiquewhite;
    width: 30pc;
    transition: all 1s ease;
    position: relative;
    display: flex;
    height: 25vh;
    border-radius: 11px;
}
.gift2:hover{
    transform: translate(3px);
    box-shadow: 18px 20px 20px#FDC7B0;

}
.gift2 .giftbox img {
    width: 15pc;
    left: -81px;
    top: -44px;
    position: absolute;
}
        


.gift2 .giftbox p{
position: absolute;
top: 182px;
padding-left: 49px;
color: red;
font-size: 20px;
font-family: sans-serif;
font-weight: bold;
}
.gift-cont{
padding-top: 31px;
padding-left: 15pc;
}
.gift-cont h2{
padding-left: 11px;
    padding-top: 7px;
    font-family: sans-serif;
    font-size: 36px;
}
.gift-cont h2 a{
    color: black;
}
.gift-cont h2 a:hover{
    color: red;
}
.gift-cont h6{
padding-top: 11px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 500;
    color: black;
}
.gift-cont p{
font-size: 18px;
padding-top: 25px;
font-weight: bold;
font-family: sans-serif;
}

.arrow-span3{
    display: flex;
    padding-left: 2pc;
    column-gap: 95pc;
    padding-top: 24px;

}
.arrow-span3 span {
    font-size: 25px;
    border: none;
    border-radius: 32%;
    width: 52px;
    padding-left: 12px;
    color: black;
    background: 
    #FEE9DF;
    height: 35px;
    padding-top: 5px;
}
.arrow-span3 span:hover{
    opacity: 0.5;
    background-color: rgb(196, 116, 116);
}
.arrow-span2{
    display: flex;
    padding-left: 2pc;
    column-gap: 95pc;
    padding-top: 24px;

}
.arrow-span2 span {
    font-size: 25px;
    border: none;
    border-radius: 32%;
    width: 52px;
    padding-left: 12px;
    color: black;
    background: 
    #FEE9DF;
    height: 35px;
    padding-top: 5px;
}
.arrow-span2 span:hover{
    opacity: 0.5;
    background-color: rgb(196, 116, 116);
}
.exclusive h1 {
    padding-top: 52px;
    font-family: sans-serif;
    font-size: 30px;
    padding-left: 37px;
    font-weight: bold;
}
.exclusive-img{
padding-left: 40px;
padding-top: 49px;
}   
.exclusive-img img {
width:101pc;
}
.Recommendation{
padding-top: 5pc;
    padding-left: 40px;
}
.Recommendation h1 {
    font-family: sans-serif;
font-size: 30px;
}
.Recommendation-img {
    display: grid;
    padding-top: 22px;
grid-template-columns: repeat(3,1fr);
}
.Recommendation-img .blck-fridy img {
    height: 28pc;
    width: 29pc;
    margin-left: 14px;
}

.Recommendation-img .blck-fridy1 img{
height: 25pc;
width: 27pc;
margin-top: 14px;
}
.footer {
    padding-left: 64px;
    background: black;
    width: 100%;
    height: 24pc;
    margin-top: 80px;
}
.footer .footer-min{
    display: grid;
    padding: 44px 132px;
    grid-template-columns: repeat(6,1fr);
}
.foter-logo{
    column-gap: 5px;
display: flex;
}
.foter-logo .footer-imglogo img {
height:35px;
}
.logo-About h6{
    padding-top: 4px;
    font-size: 22px;
    font-family: sans-serif;
    font-weight: 100;
}
.logo-About h6 a{
    color: whitesmoke;
}
.logo-About h6 a:hover{
    color: red;
}
.link{
    padding-top: 20px;
padding-left: 56px;
}
.link a{
    line-height: 2;
    color: white;
    font-family: sans-serif;
    font-size: 16px;

}
.link a:hover{
    color: red;
    text-decoration: underline;
}

.footer-heding h5{
    padding-top: 4px;
    color:WHITE;
    font-size: 22px;
    font-family: sans-serif;
    font-weight: 100;
}
.footer-heding h4{
    padding-top: 4px;
    color:WHITE;
    font-size: 22px;
    font-family: sans-serif;
    font-weight: 100;
}
.footer-heding h3{
    color: GRAY;
        font-size: 30px;
        font-family: sans-serif;
        padding-left: 12PC;
        padding-top: 26PX;
        font-weight: 100;
    }
.footer-heding P{
    padding-top: 34px;
    COLOR: white;
    font-size: 19px;
    font-weight: 500;
    font-family: sans-serif;

}
.link1{
    padding-left:7px;
    padding-top: 32px;
    }
.link1 a{
    line-height: 3;
    color: white;
    font-family: sans-serif;
    font-size: 16px;

}
.link1 a:hover{
    color: red;
    text-decoration: underline;
}
.link1 span{
font-size: 25px;
}
.footer-heding .Apps{
    padding-top: 40px;
}
.footer-heding .contct input {
    width: 15pc;
    height: 47px;
    border: none;
    background: #4E5053;
    border-radius: 5px;
    font-size: 17px;
    text-align: center;
    outline: none;
}
.footer-heding .email-btn {
    padding-top:20px;
}
.footer-heding .email-btn button {
    width: 189px;
    height: 52px;
    border: none;
    border-radius: 7px;
    font-size: 21px;
    background: bisque;
}
.footer-heding .email-btn button a{
    color: black;
    font-family:sans-serif;
    font-weight: border;
}
.footer-bottom{
    height:0px;
    width: 100%;
    background:rgb(255, 255, 255);
}
.footer-bottom .design{
    padding-top: 17px;
    padding-bottom: 17px;
    text-align: center;
}
.footer-bottom .design span{
    font-family: sans-serif;
    font-size: 19px;
}
.footer-bottom .design span h2 a {
    color: red;
    font-size:18px;
    font-family: sans-serif;

}
