* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

header {
  background-color: rgb(0, 0, 0);
}
header .header-top {
  margin: 0px 27px 0px 9px;
  padding: 0px;
}

header .header-nav {
  display: flex;
}

header .header-nav .bars {
  /* display: none; */
  padding: 20px 0px;
  position: relative;
  flex: 1;
}
/* header .header-nav .nav .navi {
  position: absolute;
  top: 100px;
  left: 100px;
  display: block;
  width: 200px;
  height: auto;
  background-color: red;
}
header .header-nav .nav .navi ul {
  display: flex;
  flex-direction: column;
} */

header .header-nav .bars button {
  height: 40px;
  width: 40px;
}

header .header-nav .logo {
  flex: 1;
  display: flex;
  padding: 20px;
}
header .header-nav .logo h1 {
  font-family: sans-serif;
  font-weight: bold;
}
.input-search {
  position: relative;
}
.input-search span {
  position: absolute;
  left: 11px;
  top: 14px;
  font-size: 19px;
  color: gray;
}
header .header-nav .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 6;
  padding: 20px;
}
header .header-nav .logo p {
  font-size: 20px;
  padding-left: 53px;
  font-family: sans-serif;
  color: bisque;
}
header .header-nav .nav .search {
  position: relative;
}
header .header-nav .nav .search span {
  position: absolute;
  left: 9px;
  top: 11px;
  font-size: 18px;
  color: gray;
}
header .header-nav .nav .search input {
  height: 40px;
  width: 229px;
  padding: 21px 38px;
  border-radius: 22px;
  border: none;
  font-size: 19px;
}
header .header-nav .nav .mid-nav {
  flex: 1;
}

header .header-nav .nav .mid-nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header .header-nav .nav .mid-nav ul li {
  padding: 20px;
  font-size: 17px;
  font-family: sans-serif;
  font-weight: bold;
}
header .header-nav .bell {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
}
header .header-nav .bell img {
  height: 50px;
  border-radius: 60%;
  width: 66px;
}

header .header-nav .btn {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header .header-nav .btn button {
  height: 40px;
  width: 100px;
  border: none;
  border-radius: 10px;
}

.header-bottom {
  display: none;
  padding: 30px;
}

.header-bottom .header-b-val {
  display: flex;
  gap: 215px;
}

.header-bottom .input-search input {
  height: 40px;
  width: 200px;
  border-radius: 10px;
}

header .header-nav .btn button {
  position: absolute;
  height: 80px;
  width: 134px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  top: -3px;
  background: #fdc7b0;
}

.bxslider .info .image img {
  width: 100%;
  height: 100%;
}
.menu-list {
  display: none;
  height: auto;
  width: 150px;
  background-color: #fdc7b0;
  position: absolute;
  left: -146px;
  z-index: 1;
}
.menu-list li a {
  color: black;
  font-size: 15px;
}
