@media (min-width:768px){
    header{
        height: 55vh;
    }

 .text {
        padding-top: 46px;
        padding-left: 45px;
      }
      .text h1 {
        font-size: 50px;
        padding-top: 40px;
      }     
      .text P {
        font-size: 15px;
      }


      .product-1 h1 {
        font-size: 40px;
    }
    .product-1 {
      margin-left: 45px;
    }
    .range {
        display: grid;
        grid-template-columns: repeat(2,3fr);
        padding-left: 0px;
        padding-top: 30px;
      }
      .rng-img {
        width: 328px;
        margin-left: 45px;
      }
      .rng-img img {
        height: 190px;
        width: 150px;
      }
      .rng-img .side-cont h3 {
  padding-top: 72px;
  font-size: 19px;
}
.about h1 {
    color: black;
    font-size: 56px;
    padding-left: 45px;
}
.main-about {
    display: flex;
    padding-top: 35px;
    flex-direction: column;
  }
  .right-img {
    padding-left: 45px;
  }
  .main-about .right-img img {
    width: 700px;
}
  .left-cont {
    padding-left: 45px;
    
  }
  .left-cont p {
    width: 700px;
}
  .main-mission h1 {
    font-size: 32px;
    padding-left: 45px;
  }
  .main-mission {
    padding-top: 24px;
    padding-left: 0px;
    
}
.mission-img {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    padding-left: 50px;
    gap: 62px;
  }
  .mission-img .mission img {
    height: 106px;
    width: 123px;
    margin-left: 260px;
  }
  .mission h2 {
    padding-left: 203px;
    font-size: 37px;
    padding-top: 12px;
  }
  .mission p {
    padding-top: 18px;
    font-size: 18px;
    padding-left: 7px;
    width: 650px;
}
  .vission img {
    margin-left: 266px;
  }
.vission h2 {
    font-size: 37px;
    padding-top: 22px;
    padding-left: 203px;
  }
  .vission p {
    padding-top: 18px;
    font-size: 18px;
    padding-left: 7px;
    width: 650px;
}
  .value img {
    height: 103px;
    width: 128px;
    margin-left: 272px;
  }
  .value h2 {
    padding-top: 17px;
    font-size: 37px;
    padding-left: 234px;
}

.value UL {
    padding-top: 25px;
    padding-left: 35px;
}
.value ul li {
    width: 640px;

}
.hr-line {
    padding-left: 52px;
    margin-top: 2px;
}
hr {
    width: 90%;
}
.footer-main {
    display: flex;
    justify-content: space-between;
    padding-left: 74px;
    padding-top: 21px;
    flex-direction: column;
}
.social {
    padding-left: 79px;
    display: flex;
    column-gap: 37px;
    padding-top: 24px;
}
.social .social-media p {
    color: black;
    font-size: 22px;
}
.hr-line1 {
    padding-left: 48px;
    margin-top: 30px;
}
.hr-line1 hr {
    border-top: 1.1px solid gray;
    width: 90%;
}
.footer-link {
    display: flex;
    padding-top: 15px;
}
.link {
    display: flex;
    column-gap: 26px;
    padding-left: 52Px;
}
.link p{
    font-size:12px;
}
.copy p {
    font-size: 10px;
    padding-left: 49px;
    padding-top: 14px;
    padding-bottom: 23px;
}
}